<template>
	<transition name="fade">
        <div v-if="message" :class="alertClass">
            <i :class="icon"></i> {{ message }}
        </div>
    </transition>
</template>
<script>
    export default {
        data(){
            return {
                
            };
        },
        computed: {
        	icon(){
        		switch(this.type){
                    case 'info':
                        return 'fa fa-info-circle';
                    case 'warning':
                        return 'fa fa-warning';
                    case 'success':
                        return 'fa fa-check-circle';
                    case 'danger':
                        return 'fa fa-times-circle';
                    default:
                        return 'fa fa-info-circle';
                }
        	},
        	alertClass(){
        		switch(this.type){
                    case 'info':
                        return 'alert alert-info';
                    case 'warning':
                        return 'alert alert-warning';
                    case 'success':
                        return 'alert alert-success';
                    case 'danger':
                        return 'alert alert-danger';
                    default:
                        return 'alert alert-info';
                }
        	}
        },
        props: [
        	'message',
        	'type'
        ]
    };
</script>