<template>
    <div class="modal fade" tabindex="-1" role="dialog" id="newKineBookingDialog" data-backdrop="static">
        <div class="modal-dialog modal-xlg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        Reserva de Hora Kinesiológica
                        [
                            Sucursal <b>{{ (currentBranch ? currentBranch.name : '') }}</b> -
                            <b>{{ (currentDoctor ? currentDoctor.name : '') }}</b>
                        ]
                    </h4>
                </div>
                <div class="modal-body">
                    <alert v-if="alert.message" :message="alert.message" :type="alert.type"></alert>

                    <!-- Step 1 -->
                    <div v-show="step == 1">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Seleccionar Pack</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <template v-for="(pack, index) in kinePacks">
                                                <div class="col-sm-4">
                                                    <div :class="{'panel': true, 'panel-default': (!packSelected || packSelected.id != pack.id), 'panel-primary': (packSelected && packSelected.id == pack.id)}" style="cursor: pointer;" @click="packSelected = pack">
                                                        <div class="panel-body">
                                                            <small>
                                                                <input type="radio" name="packSelected" v-model="packSelected" :value="pack">
                                                                <b>{{ pack.code }}</b><br>
                                                                {{ pack.name }}
                                                            </small>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix" v-if="parseInt((index+1) % 3) == 0"></div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">Detalle</div>
                                    <div class="panel-body">
                                        <div class="control-group">
                                            <label class="control-label">Nº de Sesiones</label>
                                            <select v-model="packSessions" class="form-control">
                                                <option v-for="i in 20" :value="i">{{ i }}</option>
                                            </select>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Incluir Evaluación</label>
                                            <select v-model="packEvaluation" class="form-control">
                                                <option value="Si">Si</option>
                                                <option value="No">No</option>
                                            </select>
                                        </div>
                                        <div class="control-group" v-if="!packSelected.id">
                                            <label class="control-label">Detalle</label>
                                            <textarea v-model="packDetailsManual" class="form-control"></textarea>
                                            <div class="alert alert-info" style="margin-top: 10px;">
                                                <i class="fa fa-info-circle"></i>
                                                "Nx": cantidad de prestaciones
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Resumen del pack</label>
                                            <p v-html="utils.nl2br(packDetails)"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Step 2 -->
                    <div v-show="step == 2">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="control-group">
                                    <label class="control-label">Sucursal</label>
                                    <select class="form-control input-lg" v-model="currentBranch" @change="selectBranch()" :disabled="shared.branches.length == 0">
                                        <option :value="null" v-if="shared.branches.length > 0">-seleccione-</option>
                                        <option :value="null" v-if="shared.branches.length == 0">cargando...</option>
                                        <option v-for="branch in shared.branches" :value="branch">{{ branch.name }}</option>
                                    </select>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Kinesiólogo</label>
                                    <select v-if="currentBranch" class="form-control input-lg" v-model="currentDoctor" @change="selectDoctor()" :disabled="!currentBranch">
                                        <option :value="null">-seleccione-</option>
                                        <option v-for="doctor in currentBranch.kinesiologists" :value="doctor">{{ doctor.name }}</option>
                                    </select>
                                    <select v-if="!currentBranch" class="form-control input-lg" disabled>
                                    </select>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Fecha</label>
                                    <div class="datepicker" id="bookingKineCalendar"></div>
                                </div>
                            </div>
                            <div class="col-sm-7" style="max-height: 400px; overflow: scroll;">
                                <div class="table-responsive">
                                    <table v-show="!loading" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th v-for="day in freehours" class="text-center" style="width: 16.5%;">
                                                    {{ moment(day.date).format("ddd DD") }}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td v-for="day in freehours" style="vertical-align: top; width: 16.5%;">
                                                    <button @click="selectDateTime(time.hour)" v-for="time in day.hours" :class="{'btn': true, 'btn-success': (time.free && !moment(time.hour).isBefore(moment().subtract(10, 'minutes'))), 'btn-primary': (!time.free && !moment(time.hour).isBefore(moment().subtract(10, 'minutes'))), 'btn-default': moment(time.hour).isBefore(moment().subtract(10, 'minutes')), 'btn-block': true, 'active': inArray(time.hour, dates)}" :disabled="!time.free || moment(time.hour).isBefore(moment().subtract(10, 'minutes'))">
                                                        {{ moment(time.hour).format('HH:mm') }}
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div v-show="loading" style="padding-top: 120px;" class="text-center">
                                        <i class="fa fa-refresh fa-spin fa-fw" style="font-size: 120px; color: #ddd;"></i>
                                    </div>

                                    <div v-show="!currentBranch || !currentDoctor || !currentDate" style="padding: 80px 0;" class="text-center">
                                        <i class="fa fa-info-circle" style="font-size: 120px; color: #ddd;"></i><br>
                                        <p class="lead">
                                            <i class="fa fa-long-arrow-left"></i> Seleccione los filtros<br> para encontrar horas disponibles.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label class="control-label">Horas a agendar ({{ dates.length }}/{{ packSessions }})</label>
                                <ul class="list-group">
                                    <transition-group name="fade">
                                    <li v-for="bdate in dates" v-bind:key="bdate" class="list-group-item">
                                        {{ moment(bdate).format("DD MMM HH:mm") }}

                                        <a href="#" @click.prevent="removeTime(bdate)" class="pull-right">&times;</a>
                                    </li>
                                    </transition-group>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Step 3 -->
                    <div v-show="step == 3">
                        <patientdata
                            :parentPatient="patient"
                            :parentHealthCompany="currentHealthCompany"
                            :parentAttentionType="currentAttentionType"
                            :parentObservations="observations"
                            :parentAlert="alert"
                            type="CREATE"
                        ></patientdata>

                        <hr>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">
                                <securepassword :password="password"></securepassword>
                            </div>
                        </div>
                    </div>

                    <!-- Step 4 -->
                    <div v-show="step == 4">
                        <div class="text-center" v-if="booking">
                            <span style="font-size: 120px; color: green;"><i class="fa fa-check-circle"></i></span>

                            <h1>Hora(s) Kinesiológica(s) Reservada(s)</h1>

                            <p class="lead">
                                {{ booking.success ? 'La o las horas fueron agendadas correctamente, el detalle es el siguiente:' : 'Algunas horas ya se encuentran copadas, por favor revise el siguiente detalle e intente con nuevas fechas:' }}
                            </p>

                            <table v-if="booking" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td>Fecha</td>
                                        <td>Hora</td>
                                        <td>Doctor</td>
                                        <td>Sucursal</td>
                                        <td>Estado Reserva</td>
                                        <td>Código Reserva</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="booking in booking.data" :class="{success: booking.success, danger: !booking.success}">
                                        <td>{{ moment(booking.data.bookingdate, "YYYY-MM-DD HH:mm:ss").format("DD/MM/YYYY") }}</td>
                                        <td>{{ moment(booking.data.bookingdate, "YYYY-MM-DD HH:mm:ss").format("HH:mm") }}</td>
                                        <td>{{ booking.success ? booking.data.doctor.name : '' }}</td>
                                        <td>{{ booking.success ? booking.data.branch.name : '' }}</td>
                                        <td>{{ booking.success ? 'Agendada' : 'No Agendada: Hora copada' }}</td>
                                        <td>{{ booking.success ? booking.data.code : '' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div v-show="!booking" style="padding: 80px 0;" class="text-center">
                            <i class="fa fa-refresh fa-spin fa-fw" style="font-size: 120px; color: #ddd;"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <button v-show="step > 1 && step < 4" :disabled="(step == 1)" @click.prevent="goPreviousStep()" type="button" class="btn btn-default">Volver</button>
                    </div>

                    <button v-show="step < 3" @click="goNextStep()" :disabled="step == 2 && !checkBookingDateStep" type="button" class="btn btn-primary">
                        Continuar
                    </button>

                    <button v-show="step == 3" @click="registerBooking()" :disabled="!checkDataForRegister" type="button" class="btn btn-primary">
                        Confirmar
                    </button>

                    <button v-show="step == 4" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted(){
            this.openDialog();
            this.loadEventListeners();
        },
        data(){
            return {
                alert: {
                    message: null,
                    type: 'info'
                },
                currentBranch: null,
                currentDoctor: null,
                currentTime: null,
                currentDate: null,
                currentHealthCompany: null,
                currentAttentionType: null,
                mode: null,
                type: 'Normal',
                step: 1,
                shared: store.data,
                utils: utils,
                loading: false,
                freehours: [],
                patient: {
                    status: 'Pendiente',

                    id: null,
                    rut: '',
                    firstname: null,
                    lastname: null,
                    phone: null,
                    email: null,
                    birthdate: null,
                    address: null,
                },
                observations: null,
                booking: null,
                packSelected: {
                    code: '',
                    name: 'Ninguno',
                    id: null,
                    details: ''
                },
                packSessions: 10,
                packEvaluation: 'Si',
                packDetailsManual: '',
                dates: [],
                password: ''
            };
        },
        methods: {
            openDialog(){
                store.log("KineBookingDialog::openDialog()");
                let that = this;

                $("#newKineBookingDialog")
                    .modal('show')
                    .on('hidden.bs.modal', function(){
                        that.closeDialog();
                    });
            },
            closeDialog(){
                store.log("KineBookingDialog::closeDialog()");
                this.$root.$refs.secretaryDashboard.showKineBookingDialog = false;
            },
            loadEventListeners(){
                let that = this;

                bus.$on('patientData-patient-changed', function(patient){
                    that.patient = patient;
                });

                bus.$on('patientData-alert-changed', function(alert){
                    that.alert = alert;
                });

                bus.$on('patientData-healthcompany-changed', function(healthcompany){
                    that.currentHealthCompany = healthcompany;
                });

                bus.$on('patientData-attentiontype-changed', function(attentiontype){
                    that.currentAttentionType = attentiontype;
                });

                bus.$on('patientData-observations-changed', function(observations){
                    that.observations = observations;
                });

                bus.$on('securePassword-password-changed', function (password){
                    that.password = password;
                });
            },
            resetData(){
                store.log("KineBookingDialog::resetData()");

                this.currentBranch = null;
                this.currentDoctor = null;
                this.currentTime = null;
                this.currentDate = null;
                this.currentHealthCompany = null;
                this.currentAttentionType = null;
                this.mode = null,
                this.step = 1;
                this.shared = store.data;
                this.loading = false;
                this.freehours = [];
                this.patient = {
                    status: 'Pendiente',

                    id: null,
                    rut: '',
                    firstname: null,
                    lastname: null,
                    phone: null,
                    email: null,
                    birthdate: null,
                    address: null,
                };
                this.observations = null;
                this.booking = null;
                this.dates = [];
                this.password = '';
            },
            selectMode(mode){
                store.log("KineBookingDialog::selectMode()");

                let that = this;

                that.resetData();
                setTimeout(function(){
                    that.mode = mode;
                    that.goNextStep();
                }, 300);
            },
            goNextStep(){
                store.log("KineBookingDialog::goNextStep()");

                let that = this;
                that.step++;

                setTimeout(function(){
                    if(that.step == 2){
                        if($("#bookingKineCalendar").attr("hasLoaded") != 'Si'){
                            $("#bookingKineCalendar").datepicker({
                                startDate: '0d',
                                language: 'es',
                                format: 'yyyy-mm-dd'
                            }).on('changeDate', function(e){
                                e.preventDefault();

                                that.currentDate = e.format();

                                that.loadResumeHours();
                            }).datepicker('setDate', moment().format('YYYY-MM-DD'));

                            $("#bookingKineCalendar").attr("hasLoaded", "Si");
                        }
                    }else if(that.step == 3){
                        $('#bookingKineBirthdate').mask('00/00/0000');
                    }
                }, 300);
            },
            goPreviousStep(){
                store.log("KineBookingDialog::goPreviousStep()");

                if(this.step > 1)
                    this.step--;
            },
            loadLastHours(){
                store.log("KineBookingDialog::loadLastHours()");

                let that = this;
                let date = that.currentDate;
                let branch_id = (that.currentBranch) ? that.currentBranch.id : null;
                that.freehours = [];

                if(date && date != '' && branch_id){
                    let query = 'date=' + date + '&profile=Kinesiólogo';

                    that.loading = true;
                    Vue.http.get('/api/branches/'+branch_id+'/last-hours?' + query)
                        .then((response) => {
                            var rs = response.body;
                            that.loading = false;

                            if(rs.success){
                                that.freehours = rs.data;

                                setTimeout(function(){
                                    $('.timeInput').mask('00:00');
                                }, 300);
                            }else{
                                alert(rs.message);
                            }
                        }, (response) => {
                            alert("Algo salio mal, por favor intente nuevamente!");
                        }
                    );
                }
            },
            selectBranch(){
                store.log("KineBookingDialog::selectBranch()");

                this.currentDoctor = null;

                if(this.mode == 'hour'){
                    this.loadLastHours();
                }
            },
            selectDoctor(){
                store.log("KineBookingDialog::selectDoctor()");
                this.loadResumeHours();
            },
            selectDateTime(time, doctor){
                store.log("KineBookingDialog::selectDateTime()");
                let that = this;

                if(!that.inArray(time, that.dates)){
                    that.dates.push(time);
                }

                if(doctor){
                    that.currentDoctor = doctor;
                }
            },
            removeTime(time){
                let dates = this.dates;

                this.dates = dates.filter(function(item) {
                    return item !== time;
                });
            },
            selectExtraDate(date){
                store.log("KineBookingDialog::selectExtraDate()");

                this.type = 'Extra';
                this.extraDate = date;

                setTimeout(function(){
                    $("#extraHour_" + moment(date).format('YYYYMMDD')).focus();
                }, 200);
            },
            loadResumeHours(){
                store.log("KineBookingDialog::loadResumeHours()");

                let that = this;
                let date = that.currentDate;
                let doctor_id = (that.currentDoctor) ? that.currentDoctor.id : null;
                let branch_id = (that.currentBranch) ? that.currentBranch.id : null;
                that.freehours = [];

                if(date && date != ''){
                    let beginDate = moment(date).startOf('isoweek').format("YYYY-MM-DD");
                    let endDate = moment(date).endOf('isoweek').format("YYYY-MM-DD");

                    if(doctor_id && branch_id){

                        let query = 'doctor_id=' + doctor_id;
                        query += '&branch_id=' + branch_id;
                        query += '&begin_date=' + beginDate;
                        query += '&end_date=' + endDate;

                        that.loading = true;
                        Vue.http.get('/api/doctors/resumehoursbetween?' + query)
                            .then((response) => {
                                var rs = response.body;
                                that.loading = false;

                                if(rs.success){
                                    that.freehours = rs.data;

                                    setTimeout(function(){
                                        $('.timeInput').mask('00:00');
                                    }, 300);
                                }else{
                                    alert(rs.message);
                                }
                            }, (response) => {
                                alert("Algo salio mal, por favor intente nuevamente!");
                            }
                        );
                    }
                }
            },
            findPatient(){
                store.log("KineBookingDialog::findPatient()");

                let that = this;
                let rut = that.patient.rut;

                if(!rut || rut == '' || rut == 'PENDIENTE')
                    return;

                if(!that.validateRut(rut)){
                    that.showAlert('El rut ingresado no es válido, reviselo e intente de nuevo.', 'danger');
                    return;
                }

                that.resetPatient();

                that.patient.status = 'Buscando';

                Vue.http.get('/api/patients?rut=' + rut)
                    .then((response) => {
                        var rs = response.body;

                        if(rs.success){
                            let patient = rs.data;

                            that.patient = {
                                status: 'Existente',

                                id:                 patient.id,
                                rut:                patient.rut,
                                firstname:          patient.firstname,
                                lastname:           patient.lastname,
                                phone:              patient.phone,
                                email:              patient.email,
                                birthdate:          (patient.birthdate == '' ? '' : moment(patient.birthdate).format("DD/MM/YYYY")),
                                address:            patient.address,
                            };

                            let tmpHC = that.shared.healthcompanies.filter(function(hc){
                                return (hc.id == patient.healthcompany_id);
                            });
                            let tmpAT = that.shared.attentiontypes.filter(function(at){
                                return (at.id == 1);
                            });

                            that.currentHealthCompany = (tmpHC[0]) ? tmpHC[0] : null;
                            that.currentAttentionType = (tmpAT[0]) ? tmpAT[0] : null;
                        }else{
                            that.patient.status = 'No existente';
                            that.showAlert('No hemos encontrado ningún paciente con el rut ingresado. Complete la información para registrarlo.', 'warning');
                        }
                    }, (response) => {
                        that.showAlert("Algo salio mal, por favor intente nuevamente!", 'danger');
                    }
                );
            },
            setNewPatient(withoutRut){
                store.log("KineBookingDialog::setNewPatient()");

                this.resetPatient();
                this.patient.status = 'Nuevo';

                if(withoutRut){
                    this.patient.rut = 'PENDIENTE';
                }
            },
            resetPatient(clearRut){
                store.log("KineBookingDialog::resetPatient()");

                let rut = null;

                if(!clearRut)
                    rut = this.patient.rut;

                this.patient = {
                    status: 'Pendiente',

                    id: null,
                    rut: rut,
                    firstname: null,
                    lastname: null,
                    phone: null,
                    email: null,
                    birthdate: null,
                    address: null,
                };
                this.currentHealthCompany = null;
                this.currentAttentionType = null;
                this.observations = null;
            },
            registerBooking(){
                store.log("KineBookingDialog::registerBooking()");

                let that = this;
                let patient_id = that.patient.id;
                that.goNextStep();

                let patientData = {
                    healthcompany_id: that.currentHealthCompany.id,
                    rut:            that.patient.rut,
                    firstname:      that.patient.firstname,
                    lastname:       that.patient.lastname,
                    email:          that.patient.email,
                    phone:          that.patient.phone,
                    address:        that.patient.address,
                    birthdate:      moment(that.patient.birthdate, "DD/MM/YYYY").format("YYYY-MM-DD"),
                    age:            moment().diff(moment(that.patient.birthdate, "DD/MM/YYYY"), 'years'),
                    password:       that.password
                };

                let bookingDates = that.dates;

                let bookingData = {
                    healthcompany_id:   that.currentHealthCompany.id,
                    branch_id:          that.currentBranch.id,
                    patient_id:         patient_id,
                    doctor_id:          that.currentDoctor.id,
                    bookingdates:       bookingDates,
                    attentiontype_id:   that.currentAttentionType.id,
                    observations:       that.observations,
                    type:               'Normal',
                    password:           that.password,
                    packSelectedId:     that.packSelected.id,
                    packSessions:       that.packSessions,
                    packEvaluation:     that.packEvaluation,
                    packDetails:        that.packDetailsComma,
                };

                let bookingSuccess = function(rs){
                    that.booking = rs;

                    if(!rs.success){
                        that.showAlert(rs.message, 'warning');
                    }
                };
                let failback = function(){
                    that.showAlert("Algo salio mal, por favor intente nuevamente!", 'danger');
                    that.goPreviousStep();
                };

                let patientSuccess = function(rs){
                    if(rs.success){
                        that.patient = rs.data;
                        that.patient.birthdate = moment(that.patient.birthdate, "YYYY-MM-DD").format("DD/MM/YYYY");
                        bookingData.patient_id = that.patient.id;

                        bookingModel.store(bookingData, bookingSuccess, failback);
                    }else{
                        that.showAlert(rs.message, 'warning');
                        that.goPreviousStep();
                    }
                };

                if(!patient_id){
                    patientModel.store(patientData, patientSuccess, failback);
                }else{
                    patientModel.update(patient_id, patientData, patientSuccess, failback);
                }
            },

            // Utils
	            moment(date){

	                return moment(date);
	            },
	            validateRut: function (rutCompleto) {
	                if (!/^[0-9]+-[0-9kK]{1}$/.test( rutCompleto ))
	                    return false;
	                var tmp     = rutCompleto.split('-');
	                var digv    = tmp[1];
	                var rut     = tmp[0];
	                if ( digv == 'K' ) digv = 'k' ;
	                return (this.dv(rut) == digv );
	            },
	            dv: function(T){
	                var M=0,S=1;
	                for(;T;T=Math.floor(T/10))
	                    S=(S+T%10*(9-M++%6))%11;
	                return S?S-1:'k';
	            },
	            inArray: function(needle, haystack) {
	                var length = haystack.length;
	                for(var i = 0; i < length; i++) {
	                    if(haystack[i] == needle) return true;
	                }
	                return false;
	            },
	            showAlert(message, type){
	                let that = this;

	                that.alert.message = message;
	                that.alert.type = type;

	                setTimeout(function(){
	                    that.alert.message = '';
	                }, 5000);
	            },
        },
        computed: {
            packDetails(){
                let evaluation = ((this.packEvaluation == 'Si') ? '2x [0601001] Evaluación Kinesiológica, ' : '');
                let details;
                if(this.packSelected && this.packSelected.id){
                    details = this.packSelected.details;
                    details = details.replace('2x [0601001] Evaluación Kinesiológica, ', evaluation);
                    details = details.replace(/Nx/g, this.packSessions + 'x');
                    details = details.split(',').join('<br>');
                }else{
                    details = evaluation;
                    details += (details == '' ? '' : '<br>') + this.packDetailsManual;
                    details = details.replace(/Nx/g, this.packSessions + 'x');
                }

                return details;
            },
            packDetailsComma(){
                let details = this.packDetails;
                return details.split('<br>').join(',');
            },
            kinePacks(){
                let packs = this.shared.products.filter((product) => {
                    return (product.type == 'Packs Kinesicos');
                });
                packs.push({
                    code: '',
                    name: 'Ninguno',
                    id: null,
                    details: ''
                });

                return packs;
            },
            checkBookingDateStep(){
                let bookingInfo = (this.currentBranch !== null && this.currentDoctor !== null);
                let timeInfo = (this.currentDate !== null && this.currentDate != '' && this.dates.length > 0);

                return (bookingInfo === true && timeInfo === true);
            },
            checkDataForRegister(){
                let otherInfo = (this.currentHealthCompany !== null && this.currentAttentionType !== null && this.password != '');

                return (this.checkBookingDateStep === true && otherInfo === true);
            }
        },
        props: []
    }
</script>
