<template>
    <section>
    	<div class="main-box">
            <header class="main-box-header clearfix">
                <h2 class="pull-left">Mis Horas</h2>
            </header>
            <div class="main-box-body clearfix">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <label class="control-label">Sucursal</label>
                                <select class="form-control input-md" v-model="currentBranch" :disabled="shared.branches.length == 0">
                                    <option :value="null" v-if="shared.branches.length == 0">cargando sucursales...</option>
                                    <option :value="null" v-if="shared.branches.length > 0">-seleccione-</option>
                                    <option v-for="branch in shared.branches" :value="branch">{{ branch.name }}</option>
                                </select>
                                <label class="control-label">Fecha</label>
                                <div class="datepicker" id="bookingCalendar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-sm-10" style="padding-top: 5px;">
                                        <b>Horas Médicas</b> -
                                        Sucursal: <b>{{ (currentBranch) ? currentBranch.name : '' }}</b>
                                        Fecha: <b>{{ moment(currentDate).format('DD/MM/YYYY') }}</b>
                                    </div>
                                    <div class="col-sm-2 text-right">
                                        <button type="button" class="btn btn-default btn-xs" @click="loadHoursByDoctor()" :disabled="!filtered || loadingHours">
                                            <i :class="{'fa fa-refresh': true, 'fa-spin fa-fw': (filtered && loadingHours)}"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-hover table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th width="70px" class="text-center">Hora</th>
                                        <th>Paciente</th>
                                        <th width="70px" class="text-center">Edad</th>
                                        <th>Observaciones</th>
                                        <th width="70px" class="text-center">Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="booking in doctorHours" :class="{'warning': (!booking.record && booking.patient_status == 'En Espera'), 'success': (booking.kine_success == 'Si')}">
                                        <td class="text-center">
                                            {{ moment(booking.bookingdate).format('HH:mm') }}
                                        </td>
                                        <td>
                                            <span class="patientName">
                                                {{ booking.patient.firstname + ' ' + booking.patient.lastname }}
                                            </span>

                                            <span class="label label-success cursorHand pull-right" data-toggle="tooltip" data-placement="right" title="Paciente en recepción" v-if="booking.patient_status == 'En Espera'">
                                                <i class="fa fa-street-view cursorHand"></i>
                                            </span>
                                            <br>
                                            <span>RUT: {{ booking.patient.rut }}</span>
                                        </td>
                                        <td class="text-center">{{ booking.patient.age }} años</td>
                                        <td>{{ booking.observations }}</td>
                                        <td class="text-center">
                                            <a :href="'/kinesiologo/create/' + booking.id" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Crear Ficha kinesiológica">
                                                <i class="fa fa-file-text-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr v-if="filtered && !loadingHours && doctorHours.length == 0">
                                        <td colspan="6" class="text-center" style="padding: 30px;">
                                            <div class="alert alert-danger">
                                                <i class="fa fa-warning"></i> No se encontraron horas.
                                            </div>
                                        </td>
                                    </tr>
                                    <tr v-if="!filtered">
                                        <td colspan="6" class="text-center" style="padding: 30px;">
                                            <div class="alert alert-info">
                                                <i class="fa fa-info-circle"></i> Seleccione la sucursal y fecha que desea consultar.
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
    export default {
        data(){
            return {
                shared: store.data,
                doctorHours: [],
                currentBranch: null,
                currentDate: moment().format('YYYY-MM-DD'),
                loadingHours: false,
                filtered: false,
                interval: null,
                secondsLeft: 0,
            };
        },
        mounted(){
            let that = this;
            store.log("mounted()");

            that.loadjQueryComponents();
        },
        methods: {
            loadEventListeners(){
                let that = this;
                store.log("loadEventListeners()");

                bus.$on('store-loaded-current-user', function(user){
                    thar.loadHoursByDoctor();
                });
            },
            loadjQueryComponents(){
                let that = this;
                store.log("loadjQueryComponents()");

                setTimeout(function(){
                    if($("#bookingCalendar").attr("hasLoaded") != 'Si'){
                        $("#bookingCalendar").datepicker({
                            startDate: '0d',
                            language: 'es',
                            format: 'yyyy-mm-dd'
                        }).on('changeDate', function(e){
                            e.preventDefault();

                            that.currentDate = e.format();

                            that.loadHoursByDoctor();
                        }).datepicker('setDate', moment().format('YYYY-MM-DD'));

                        $("#bookingCalendar").attr("hasLoaded", "Si");
                    }

                    $('[data-toggle="tooltip"]').tooltip();
                }, 500);
            },
            loadHoursByDoctor(){
                let that = this;
                if(!that.shared.currentUser || !that.currentBranch)
                    return;

                clearInterval(that.interval);

                store.log("loadHoursByDoctor()");

                let query = '?doctor_id=' + that.shared.currentUser.id + '&branch_id=' + that.currentBranch.id + '&date=' + that.currentDate;

                that.filtered = true;
                that.loadingHours = true;
                Vue.http.get('/api/doctors/allbookingfordate' + query)
                    .then((response) => {
                        var rs = response.body;

                        that.loadingHours = false;

                        if(rs.success){
                            that.doctorHours = [];
                            that.doctorHours = rs.data;

                            that.secondsLeft = 10;
                            that.interval = setInterval(function(){
                                that.secondsLeft--;

                                if(that.secondsLeft == 0){
                                    that.loadHoursByDoctor();
                                }
                            }, 1000);

                            that.loadjQueryComponents();
                        }else{
                            alert(rs.message);
                        }
                    }, (response) => {
                        alert("Algo salio mal, por favor intente nuevamente!");
                    }
                );
            },
            // Utils
                moment(date){

                    return moment(date);
                },
                validateRut: function (rutCompleto) {
                    if (!/^[0-9]+-[0-9kK]{1}$/.test( rutCompleto ))
                        return false;
                    var tmp     = rutCompleto.split('-');
                    var digv    = tmp[1];
                    var rut     = tmp[0];
                    if ( digv == 'K' ) digv = 'k' ;
                    return (this.dv(rut) == digv );
                },
                dv: function(T){
                    var M=0,S=1;
                    for(;T;T=Math.floor(T/10))
                        S=(S+T%10*(9-M++%6))%11;
                    return S?S-1:'k';
                },
                inArray: function(needle, haystack) {
                    var length = haystack.length;
                    for(var i = 0; i < length; i++) {
                        if(haystack[i] == needle) return true;
                    }
                    return false;
                },
                showAlert(message, type){
                    let that = this;

                    that.alert.message = message;
                    that.alert.type = type;

                    setTimeout(function(){
                        that.alert.message = '';
                    }, 5000);
                },
        },
        computed: {

        },
        watch: {
            currentBranch(){
                this.loadHoursByDoctor();
            }
        },
        props: []
    };

</script>
<style lang="sass">
    .patientName{
        font-size: 13px;
        margin-bottom: 7px !important;
        display: inline-block;
        font-weight: bold;
    }
    .info-label{
        width: 25px !important;
        display: inline-block;
        margin-bottom: 5px;
        padding: 5px;
    }
</style>
