<template>
    <div class="modal fade" tabindex="-1" role="dialog" id="newMedicalOrderDialog" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        Nueva Orden Médica
                    </h4>
                </div>
                <div class="modal-body">
                    <alert v-if="alert.message" :message="alert.message" :type="alert.type"></alert>

                    <div v-show="mode == 'ORDER'">
                        <div class="row">
                            <div class="col-sm-8">
                                <img src="/img/logo-print.png">
                            </div>
                            <div class="col-sm-4 text-center">
                                <small>
                                    <strong>{{ currentDoctor.fullname }}</strong><br>
                                    {{ currentDoctor.speciality }}<br>
                                    RUT.: {{ currentDoctor.rut }}<br>
                                    R.C.M.: {{ currentDoctor.rcm }}
                                </small>
                        </div>
                        </div>

                        <textarea v-model="orderDetails" class="form-control" rows="17" placeholder="RP:" style="text-transform: uppercase; font-family: monospace;"></textarea>
                    </div>

                    <div v-show="mode == 'PRODUCTS'">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" :class="{active: (index == 0)}" v-for="(type, index) in productTypes">
                                <a href="#home" @click="filterProductsByType(type)" aria-controls="home" role="tab" data-toggle="tab">{{ type }}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="row">
                                    <div class="col-sm-3" v-if="filteredProductsCategories.length > 1">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Categorías</div>
                                            <ul class="nav nav-pills">
                                                <li :class="{'active': (currentCategoryFilter == null)}" role="presentation">
                                                    <a href="#" @click="filterProductsByType(currentTypeFilter)">Todos</a>
                                                </li>
                                                <li :class="{'active': (currentCategoryFilter == category)}" role="presentation" v-for="category in filteredProductsCategories">
                                                    <a href="#" @click="filterProductsByCategory(category)">{{ category }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div :class="{'col-sm-9': (filteredProductsCategories.length > 1), 'col-sm-12': (filteredProductsCategories.length <= 1)}">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Productos/Servicios</div>
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th v-show="filteredProductsCountCodes > 0" width="100px" class="text-center">Código</th>
                                                        <th>Producto/Servicio</th>
                                                        <th v-show="filteredProductsCountSubCategories > 0" width="130px">Sub Categoría</th>
                                                        <th width="130px" class="text-right">
                                                            Agregar
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="product in filteredProducts">
                                                        <td v-show="filteredProductsCountCodes > 0" class="text-center">{{ product.code }}</td>
                                                        <td>{{ product.name }}</td>
                                                        <td v-show="filteredProductsCountSubCategories > 0">
                                                            <small>
                                                                {{ product.sub_category }}
                                                            </small>
                                                        </td>
                                                        <td class="text-right">
                                                            <button type="button" class="btn btn-default btn-xs" @click="addProductToList(product)">Agregar</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>

                    <button type="button" class="btn btn-default" :disabled="shared.products.length == 0" @click="gotoProducts()"><i class="fa fa-plus-circle"></i> Agregar Producto/Servicio</button>
                    <button type="button" class="btn btn-default" :disabled="!orderDetails" @click="printOrder()"><i class="fa fa-print"></i> Guardar e Imprimir</button>
                </div>
            </div>
        </div>


        <form id="frmSendToPrint" target="PRINT" style="display: none;" :action="'/traumatologo/printorder/' + currentRecord.id" method="POST">
            <input type="hidden" name="_token" :value="Laravel.csrfToken">
            <input type="hidden" name="doctor_fullname" :value="currentDoctor.fullname">
            <input type="hidden" name="doctor_speciality" :value="currentDoctor.speciality">
            <input type="hidden" name="doctor_rut" :value="currentDoctor.rut">
            <input type="hidden" name="doctor_rcm" :value="currentDoctor.rcm">
            <textarea name="orderDetails" v-model="orderDetails"></textarea>
        </form>
    </div>
</template>
<script>
    export default {
        mounted(){
            this.openDialog();
        },
        data(){
            return {
                alert: {
                    message: null,
                    type: 'info'
                },
                shared: store.data,
                orderDetails: null,

                mode: 'ORDER',
                filteredProducts: [],
                currentTypeFilter: null,
                currentCategoryFilter: null,
                currentSubCategoryFilter: null,
                filteredProductsCategories: [],
            };
        },
        methods: {
            openDialog(){
                store.log("MedicalOrderDialog::openDialog()");
                let that = this;

                $("#newMedicalOrderDialog")
                    .modal('show')
                    .on('hidden.bs.modal', function(){
                        that.closeDialog();
                    });
            },
            closeDialog(){
                store.log("MedicalOrderDialog::closeDialog()");
                this.$root.showMedicalOrderDialog = false;
            },

            printOrder(){
                let that = this;

                $("#physical_exam").text($("#physical_exam").text() + "\n\nSE EMITE ORDEN MÉDICA POR:\n" + that.orderDetails);
                $("#frmSendToPrint").submit();
            },
            addProductToList(product){
                this.orderDetails = (this.orderDetails ? this.orderDetails + "\n" : '') + ' - 1x ' + (product.code ? '[' + product.code + '] ' : '') + product.name;
                this.gotoOrder();
            },

            gotoOrder(){
                this.mode = 'ORDER';
            },
            gotoProducts(){
                this.mode = 'PRODUCTS';
                this.filterProductsByType(this.productTypes[0])
            },


            filterProductsByType(type){
                this.currentTypeFilter = type;
                this.currentCategoryFilter = null;
                this.currentSubCategoryFilter = null;

                this.filteredProducts = this.shared.products.filter(function(product){
                    return product.type == type;
                });

                this.filteredProductsCategories = this.productCategories();
            },
            filterProductsByCategory(category){
                this.filterProductsByType(this.currentTypeFilter);

                this.currentCategoryFilter = category;

                this.filteredProducts = this.filteredProducts.filter(function(product){
                    return product.category == category;
                });
            },
            productCategories(){
                let that = this;
                let categories = [];

                that.filteredProducts.forEach(function(product){
                    if(!that.inArray(product.category, categories)){
                        categories.push(product.category);
                    }
                });

                categories.sort();

                return categories;
            },

            // Utils
                moment(date){

                    return moment(date);
                },
                validateRut: function (rutCompleto) {
                    if (!/^[0-9]+-[0-9kK]{1}$/.test( rutCompleto ))
                        return false;
                    var tmp     = rutCompleto.split('-');
                    var digv    = tmp[1];
                    var rut     = tmp[0];
                    if ( digv == 'K' ) digv = 'k' ;
                    return (this.dv(rut) == digv );
                },
                dv: function(T){
                    var M=0,S=1;
                    for(;T;T=Math.floor(T/10))
                        S=(S+T%10*(9-M++%6))%11;
                    return S?S-1:'k';
                },
                inArray: function(needle, haystack) {
                    var length = haystack.length;
                    for(var i = 0; i < length; i++) {
                        if(haystack[i] == needle) return true;
                    }
                    return false;
                },
                showAlert(message, type){
                    let that = this;

                    that.alert.message = message;
                    that.alert.type = type;

                    setTimeout(function(){
                        that.alert.message = '';
                    }, 5000);
                },
        },
        computed: {
            currentDoctor(){
                return currentDoctor;
            },
            currentRecord(){
                return currentRecord;
            },
            productTypes(){
                let that = this;
                let types = [];

                that.shared.products.forEach(function(product){
                    if(!that.inArray(product.type, types)){
                        types.push(product.type);
                    }
                });

                return types;
            },
            filteredProductsCountCodes(){
                let productsWithCode = this.filteredProducts.filter(function(product){
                    return (product.code && product.code !='');
                });

                return productsWithCode.length;
            },
            filteredProductsCountSubCategories(){
                let productsWithSC = this.filteredProducts.filter(function(product){
                    return (product.sub_category && product.sub_category !='');
                });

                return productsWithSC.length;
            },
            Laravel(){
                return Laravel;
            }
        },
        props: []
    }
</script>
