<template>
    <div class="modal fade" tabindex="-1" role="dialog" id="openPaymentBoxDialog" data-backdrop="static">
        <div :class="{'modal-dialog': true, 'modal-lg': (openedBox), 'modal-sm': (!openedBox)}" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        Apertura de Caja
                    </h4>
                </div>
                <div class="modal-body">
                    <alert v-if="alert.message" :message="alert.message" :type="alert.type"></alert>

                    <div v-if="step == 1">
                        <securepassword v-if="!loading" :password="password"></securepassword>
                    </div>
                    <div v-if="step == 2" v-show="!loading">
                        <div v-if="openedBox">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Caja Aperturada</div>
                                        <div class="panel-body">
                                            <div class="control-group">
                                                <label class="control-label">Nombre</label>
                                                <p class="form-control-static">
                                                    {{ openedBox.box.name }}
                                                </p>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Código</label>
                                                <p class="form-control-static">
                                                    {{ openedBox.box.code }}
                                                </p>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Sucursal</label>
                                                <p class="form-control-static">
                                                    {{ openedBox.box.branch.name }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Bonificaciones</div>
                                        <div class="panel-body">
                                            <div class="control-group">
                                                <label class="control-label">Bonificación Salud</label>
                                                <p class="form-control-static">
                                                    ${{ formatMoney(openedBox.health_total) }}
                                                </p>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Bonificación Cía Seguros</label>
                                                <p class="form-control-static">
                                                    ${{ formatMoney(openedBox.insurance_total) }}
                                                </p>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Excedentes</label>
                                                <p class="form-control-static">
                                                    ${{ formatMoney(openedBox.excessive_total) }}
                                                </p>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Total Copago</label>
                                                <p class="form-control-static">
                                                    ${{ formatMoney(openedBox.copago_total) }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Resumen Ventas</div>
                                        <div class="panel-body">
                                            <div class="control-group">
                                                <label class="control-label">Monto Vendido</label>
                                                <p class="form-control-static">
                                                    ${{ formatMoney(openedBox.subtotal) }}
                                                </p>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Monto Descontado</label>
                                                <p class="form-control-static">
                                                    ${{ formatMoney(openedBox.discounts) }}
                                                </p>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Monto Cancelado</label>
                                                <p class="form-control-static">
                                                    ${{ formatMoney(openedBox.total) }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">Forma de Pago</div>
                                        <div class="panel-body">
                                            <div class="control-group">
                                                <label class="control-label">Pagado con Débito</label>
                                                <p class="form-control-static">
                                                    ${{ formatMoney(openedBox.debit_total) }}
                                                </p>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Pagado con Crédito</label>
                                                <p class="form-control-static">
                                                    ${{ formatMoney(openedBox.credit_total) }}
                                                </p>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Pagado con T. Comercial</label>
                                                <p class="form-control-static">
                                                    ${{ formatMoney(openedBox.commercial_total) }}
                                                </p>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">Pagado con Efectivo</label>
                                                <p class="form-control-static">
                                                    ${{ formatMoney(openedBox.cash_total) }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="!openedBox">
                            <div v-if="!loading">
                                <div class="control-group">
                                    <label class="control-label">Sucursal</label>
                                    <select class="form-control" v-model="currentBranch" :disabled="shared.branches.length == 0">
                                        <option :value="null" v-if="shared.branches.length > 0">-seleccione-</option>
                                        <option :value="null" v-if="shared.branches.length == 0">cargando...</option>
                                        <option v-for="branch in shared.branches" :value="branch">{{ branch.name }}</option>
                                    </select>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Caja a Aperturar</label>
                                    <select v-if="currentBranch" class="form-control" v-model="currentBox" :disabled="!currentBranch">
                                        <option :value="null">-seleccione-</option>
                                        <option v-for="pbox in currentBranch.paymentboxes" :value="pbox">{{ pbox.name }} ({{ pbox.code }})</option>
                                    </select>
                                    <select v-if="!currentBranch" class="form-control" disabled>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div v-if="loading" class="alert alert-info text-center">
                        <p class="lead" style="margin: 20px 0;">
                            <i class="fa fa-refresh fa-spin fa-fw"></i> Consultando...
                        </p>
                    </div>
                </div>
                <div class="modal-footer" v-if="!loading">
                    <div class="pull-left">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>

                    <button v-if="step == 1" v-show="!loading" type="button" @click="askForOpenBox()" :disabled="!checkIfContinue" class="btn btn-default">Continuar</button>

                    <button v-if="step == 2 && openedBox" v-show="!loading" type="button" @click="closeOpenedBox()" :disabled="!checkIfContinue" class="btn btn-default">Cerrar Caja</button>
                    <button v-if="step == 2 && !openedBox" v-show="!loading" type="button" @click="openBox()" :disabled="!checkIfContinue" class="btn btn-default">Aperturar Caja</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                alert: {
                    message: null,
                    type: 'info'
                },
                loading: false,
                step: 1,
                password: '',
                openedBox: null,
                currentBranch: null,
                currentBox: null,
                utils: utils,
                shared: store.data,
            };
        },
        mounted(){
            this.openDialog();
            this.loadEventListeners();
        },
        methods: {
			openDialog(){
				store.log("OpenPaymentBoxDialog::openDialog()");
                let that = this;

                $("#openPaymentBoxDialog")
                    .modal('show')
                    .on('hidden.bs.modal', function(){
                        that.closeDialog();
                    });
			},
            closeDialog(){
                store.log("OpenPaymentBoxDialog::closeDialog()");
                this.$root.$refs.secretaryDashboard.showOpenPaymentBoxDialog = false;
            },
            loadEventListeners(){
                store.log("OpenPaymentBoxDialog::loadEventListeners()");
                let that = this;

                bus.$on('securePassword-password-changed', function (password){
                    that.password = password;
                });
            },
            goNextStep(){
                this.step++;
            },
            askForOpenBox(){
                let that = this;
                that.loading = true;

                Vue.http.post('api/secretary/session/ask-for-open-box', {password: that.password})
                    .then((response) => {
                        var rs = response.body;
                        that.loading = false;

                        if(rs.success){
                            that.openedBox = rs.data;
                            that.goNextStep();
                        }else{
                            that.showAlert(rs.message, 'warning');
                        }
                    }, (response) => {
                        that.showAlert("Algo salio mal, por favor intente nuevamente!", 'danger');
                    }
                );
            },
            closeOpenedBox(){
                let that = this;

                if(confirm("¿Está seguro de cerrar esta caja?")){
                    that.loading = true;

                    Vue.http.post('api/secretary/session/close-box', {password: that.password})
                        .then((response) => {
                            var rs = response.body;
                            that.loading = false;

                            if(rs.success){
                                that.openedBox = null;
                                that.showAlert('La caja fue cerrada correctamente!', 'success');
                            }else{
                                that.showAlert(rs.message, 'warning');
                            }
                        }, (response) => {
                            that.showAlert("Algo salio mal, por favor intente nuevamente", 'danger');
                        }
                    );
                }
            },
            openBox(){
                let that = this;

                if(confirm("¿Está seguro de aperturar esta caja?")){
                    that.loading = true;

                    let data = {
                        password: that.password,
                        branch_id: that.currentBranch.id,
                        paymentbox_id: that.currentBox.id
                    };

                    Vue.http.post('api/secretary/session/open-box', data)
                        .then((response) => {
                            var rs = response.body;
                            that.loading = false;

                            if(rs.success){
                                that.openedBox = rs.data;
                                that.showAlert('La caja fue aperturada correctamente!', 'success');
                            }else{
                                that.showAlert(rs.message, 'warning');
                            }
                        }, (response) => {
                            that.showAlert("Algo salio mal, por favor intente nuevamente", 'danger');
                        }
                    );
                }
            },

            formatMoney: utils.formatMoney,
            // Utils
                moment(date){

                    return moment(date);
                },
                validateRut: function (rutCompleto) {
                    if (!/^[0-9]+-[0-9kK]{1}$/.test( rutCompleto ))
                        return false;
                    var tmp     = rutCompleto.split('-');
                    var digv    = tmp[1];
                    var rut     = tmp[0];
                    if ( digv == 'K' ) digv = 'k' ;
                    return (this.dv(rut) == digv );
                },
                dv: function(T){
                    var M=0,S=1;
                    for(;T;T=Math.floor(T/10))
                        S=(S+T%10*(9-M++%6))%11;
                    return S?S-1:'k';
                },
                inArray: function(needle, haystack) {
                    var length = haystack.length;
                    for(var i = 0; i < length; i++) {
                        if(haystack[i] == needle) return true;
                    }
                    return false;
                },
                showAlert(message, type){
                    let that = this;

                    that.alert.message = message;
                    that.alert.type = type;

                    console.log(message, type);

                    setTimeout(function(){
                        that.alert.message = '';
                    }, 5000);
                },
                selectAllContent(event){
                    $(event.target).select();
                },
        },
        computed: {
            checkIfContinue(){
                if(this.step == 1){
                    return (this.password != '');
                }else if(this.step == 2){
                    if(!this.openedBox){
                        return (this.currentBranch !== null && this.currentBox !== null);
                    }
                }

                return true;
            },
        }
    };
</script>
