<template>
	<div>
		<div class="row">
            <div class="col-sm-3">
                <div class="control-group">
                    <label class="control-label">
                        Rut Paciente:
                    </label>
                    <div :class="{'input-group': (type=='CREATE')}">
                        <input type="text" maxlength="10" placeholder="ej. 16023817-8" class="form-control" v-model="patient.rut" @keyup.enter="findPatient()" :disabled="(type=='CREATE' && (patient.id || patient.rut == 'PENDIENTE'))">
                        <span class="input-group-btn" v-if="type=='CREATE'">
                            <button v-show="patient.id == null && patient.rut != 'PENDIENTE'" :disabled="patient.rut == '' || patient.rut == 'PENDIENTE' || patient.status == 'Buscando'" @click="findPatient()" class="btn btn-default" type="button">
                                <i :class="{fa: true, 'fa-search': (patient.status != 'Buscando'), 'fa-refresh fa-spin fa-fw': (patient.status == 'Buscando')}"></i>
                            </button>
                            <button v-show="patient.id == null && patient.rut != 'PENDIENTE' && patient.status != 'Buscando' && type=='CREATE'" :disabled="patient.id" @click="setNewPatient(true)" class="btn btn-default" type="button">
                                <i class="fa fa-asterisk"></i>
                            </button>
                            <button v-show="patient.id == null && patient.rut != 'PENDIENTE' && patient.status != 'Buscando' && type!='CREATE'" :disabled="patient.id" @click="patient.rut=''" class="btn btn-default" type="button">
                                <i class="fa fa-asterisk"></i>
                            </button>
                            <button v-show="patient.id !== null || patient.rut == 'PENDIENTE' || type!=='CREATE'" @click="resetPatient(true)" class="btn btn-default" type="button">
                                <i class="fa fa-times"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <label class="control-label">Nombres:</label>
                    <input type="text" class="form-control" v-model="patient.firstname"  :disabled="patient.status == 'Pendiente' || patient.status == 'Buscando'">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <label class="control-label">Apellidos:</label>
                    <input type="text" class="form-control" v-model="patient.lastname"  :disabled="patient.status == 'Pendiente' || patient.status == 'Buscando'">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <label class="control-label">Fecha de Nacimiento:</label>
                    <input type="text" class="form-control" id="birthdateInput" placeholder="dd/mm/aaaa" v-model="patient.birthdate" :disabled="patient.status == 'Pendiente' || patient.status == 'Buscando'">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="control-group">
                    <label class="control-label">Teléfono:</label>
                    <input type="text" class="form-control" v-model="patient.phone"  :disabled="patient.status == 'Pendiente' || patient.status == 'Buscando'">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="control-group">
                    <label class="control-label">Email:</label>
                    <input type="text" class="form-control" v-model="patient.email"  :disabled="patient.status == 'Pendiente' || patient.status == 'Buscando'">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="control-group">
                    <label class="control-label">Dirección:</label>
                    <input type="text" class="form-control" v-model="patient.address"  :disabled="patient.status == 'Pendiente' || patient.status == 'Buscando'">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3" v-if="parentHealthCompany != 0">
                <div class="control-group">
                    <label class="control-label">Previsión:</label>
                    <select class="form-control" v-model="healthcompany" :disabled="patient.status == 'Pendiente' || patient.status == 'Buscando'">
                        <option :value="null">-seleccione-</option>
                        <option v-for="company in shared.healthcompanies" :value="company">{{ company.name }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3" v-if="parentAttentionType != 0">
                <div class="control-group">
                    <label class="control-label">Tipo de Atención:</label>
                    <select class="form-control" v-model="attentiontype" :disabled="patient.status == 'Pendiente' || patient.status == 'Buscando'">
                        <option :value="null">-seleccione-</option>
                        <option v-for="atype in shared.attentiontypes" :value="atype">{{ atype.name }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6" v-if="parentObservations != 0">
                <div class="control-group">
                    <label class="control-label">Observaciones:</label>
                    <input type="text" class="form-control" v-model="observations"  :disabled="patient.status == 'Pendiente' || patient.status == 'Buscando'">
                </div>
            </div>
        </div>
	</div>
</template>
<script>
    export default {
        mounted(){
            console.log('mounted', this);
            this.patient = this.parentPatient;
            this.observations = this.parentObservations;
            this.healthcompany = this.parentHealthCompany;
            this.attentiontype = this.parentAttentionType;
            this.alert = this.parentAlert;

            $('#birthdateInput').mask('00/00/0000');
        },
        data(){
        	return {
        		patient: {
                    status: 'Pendiente',

                    id: null,
                    rut: '',
                    firstname: null,
                    lastname: null,
                    phone: null,
                    email: null,
                    birthdate: null,
                    address: null,
                },
        		observations: null,
        		healthcompany: null,
        		attentiontype: null,
        		alert: {
                    message: null,
                    type: 'info'
                },
        		shared: store.data
        	};
        },
        methods: {
        	findPatient(){
                if(this.type != 'CREATE') return;

                store.log("PatientData::findPatient()");

                let that = this;
                let rut = that.patient.rut;

                if(!rut || rut == '' || rut == 'PENDIENTE')
                    return;

                if(!that.validateRut(rut)){
                    that.showAlert('El rut ingresado no es válido, reviselo e intente de nuevo.', 'danger');
                    return;
                }

                that.resetPatient();

                that.patient.status = 'Buscando';

                Vue.http.get('/api/patients?rut=' + rut)
                    .then((response) => {
                        var rs = response.body;

                        if(rs.success){
                            that.patient = rs.data;

                            that.patient.status = 'Existente';
                            that.patient.birthdate =  (that.patient.birthdate == '' ? '' : moment(that.patient.birthdate).format("DD/MM/YYYY"));

                            let tmpHC = that.shared.healthcompanies.filter(function(hc){
                                return (hc.id == that.patient.healthcompany_id);
                            });
                            let tmpAT = that.shared.attentiontypes.filter(function(at){
                                return (at.id == 1);
                            });

                            that.healthcompany = (tmpHC[0]) ? tmpHC[0] : null;
                            that.attentiontype = (tmpAT[0]) ? tmpAT[0] : null;
                        }else{
                            that.patient.status = 'No existente';
                            that.showAlert('No hemos encontrado ningún paciente con el rut ingresado. Complete la información para registrarlo.', 'warning');
                        }
                    }, (response) => {
                        that.showAlert("Algo salio mal, por favor intente nuevamente!", 'danger');
                    }
                );
            },
            setNewPatient(withoutRut){
                store.log("PatientData::setNewPatient()");

                this.resetPatient();
                this.patient.status = 'Nuevo';

                if(withoutRut){
                    this.patient.rut = 'PENDIENTE';
                }
            },
            resetPatient(clearRut){
                store.log("PatientData::resetPatient()");

                let rut = null;

                if(!clearRut)
                    rut = this.patient.rut;

                this.patient = {
                	status: 'Pendiente',
                	id: null,
                	rut: rut,
                	firstname: null,
                	lastname: null,
                	phone: null,
                	email: null,
                	birthdate: null,
                	address: null
                };

                this.healthcompany = null;
                this.attentiontype = null;
                this.observations = null;
            },

            // Utils
                moment(date){

                    return moment(date);
                },
                validateRut: function (rutCompleto) {
                    if (!/^[0-9]+-[0-9kK]{1}$/.test( rutCompleto ))
                        return false;
                    var tmp     = rutCompleto.split('-');
                    var digv    = tmp[1];
                    var rut     = tmp[0];
                    if ( digv == 'K' ) digv = 'k' ;
                    return (this.dv(rut) == digv );
                },
                dv: function(T){
                    var M=0,S=1;
                    for(;T;T=Math.floor(T/10))
                        S=(S+T%10*(9-M++%6))%11;
                    return S?S-1:'k';
                },
                inArray: function(needle, haystack) {
                    var length = haystack.length;
                    for(var i = 0; i < length; i++) {
                        if(haystack[i] == needle) return true;
                    }
                    return false;
                },
                showAlert(message, type){
                    let that = this;

                    that.alert.message = message;
                    that.alert.type = type;

                    setTimeout(function(){
                        that.alert.message = '';
                    }, 5000);
                },
        },
        watch: {
        	patient: function(newPatient, oldPatient){
                console.log('watch patient', newPatient);
        		bus.$emit('patientData-patient-changed', newPatient)
        	},
        	alert: function(newAlert, oldAlert){
        		bus.$emit('patientData-alert-changed', newAlert)
        	},
        	healthcompany: function(newHealthCompany, oldHealthCompany){
                console.log('watch healthcompany', newHealthCompany);
        		bus.$emit('patientData-healthcompany-changed', newHealthCompany)
        	},
        	attentiontype: function(newAttentionType, oldAttentionType){
                console.log('watch attentiontype', newAttentionType);
        		bus.$emit('patientData-attentiontype-changed', newAttentionType)
        	},
        	observations: function(newObservation, oldObservation){
                console.log('watch observations', newObservation);
        		bus.$emit('patientData-observations-changed', newObservation)
        	},
        },
        props: [
        	'parentPatient', 'parentHealthCompany', 'parentAttentionType', 'parentObservations', 'parentAlert', 'type'
        ]
    };
</script>
