<template>
	<div>
		<div class="panel panel-default">
            <div class="panel-heading">
                Valor de la Prestación
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label">Subtotal</label>
                        <input type="text" v-model="subtotal" @focus="selectAllContent" @blur="onBlurZero" class="form-control text-right" :readonly="hasSubtotal">
                    </div>
                    <div class="col-sm-2">
                        <div :class="{'form-group': true, 'has-error': (discount > subtotal)}">
                            <label class="control-label">Descuento</label>
                            <input type="number" v-model="discount" @focus="selectAllContent" @blur="onBlurZero" accept="number" class="form-control text-right numberWithoutStep">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div :class="{'form-group': true, 'has-error': (discount > 0 && discount_reason === null)}">
                            <label class="control-label">Motivo Dscto</label>
                            <input type="text" v-model="discount_reason" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Total</label>
                        <input type="text" v-model="total" class="form-control text-right" readonly>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-hover table-condensed table-small">
            <thead>
                <tr>
                    <th colspan="2" class="text-center">Bonificación Salud</th>
                    <th colspan="3" class="text-center">Bonificación Cía. Seguros</th>
                    <th colspan="2" class="text-center">Excedentes</th>
                    <th colspan="2" class="text-center">Copago</th>
                </tr>
                <tr>
                    <!-- Bonificación Salud -->
                    <th class="text-center">Monto</th>
                    <th class="text-center">Nº Docto.</th>
                    <!-- Bonificación Cía Seguros -->
                    <th class="text-center">Monto</th>
                    <th>Compañía</th>
                    <th class="text-center">Nº Docto.</th>
                    <!-- Excedentes -->
                    <th class="text-center">Monto</th>
                    <th class="text-center">Nº Docto.</th>
                    <!-- Copago -->
                    <th class="text-center">Monto</th>
                    <th class="text-center">Nº Boleta</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- Bonificación Salud -->
                    <td>
                        <input type="text" :disabled="total <= 0" v-model="health_amount" @focus="selectAllContent" @blur="onBlurZero" class="form-control text-right">
                    </td>
                    <td>
                        <div :class="{'form-group': true, 'has-feedback': (health_amount > 0 && health_number === null), 'has-error': (health_amount > 0 && health_number === null)}">
                            <input type="text" :disabled="total <= 0 || health_amount==0" v-model="health_number" @focus="selectAllContent" class="form-control">
                            <span v-if="health_amount > 0 && health_number === null" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </td>
                    <!-- Bonificación Cía Seguros -->
                    <td>
                        <input type="text" :disabled="total <= 0" v-model="insurance_amount" @focus="selectAllContent" @blur="onBlurZero" class="form-control text-right">
                    </td>
                    <td>
                        <div :class="{'form-group': true, 'has-feedback': (insurance_amount > 0 && !insurance), 'has-error': (insurance_amount > 0 && !insurance)}">
                            <select :disabled="total <= 0 || insurance_amount==0" class="form-control" v-model="insurance">
                                <option :value="null">-seleccione-</option>
                                <option v-for="icompany in shared.insurancecompanies" :value="icompany">{{ icompany.name }}</option>
                            </select>
                            <span v-if="insurance_amount > 0 && !insurance" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </td>
                    <td>
                        <div :class="{'form-group': true, 'has-feedback': (insurance_amount > 0 && insurance_number === null), 'has-error': (insurance_amount > 0 && insurance_number === null)}">
                            <input type="text" :disabled="total <= 0 || insurance_amount==0" class="form-control" v-model="insurance_number">
                            <span v-if="insurance_amount > 0 && insurance_number === null" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </td>
                    <!-- Excedentes -->
                    <td>
                        <input type="text" :disabled="total <= 0" v-model="excessive_amount"  @focus="selectAllContent" @blur="onBlurZero" class="form-control text-right">
                    </td>
                    <td>
                        <div :class="{'form-group': true, 'has-feedback': (excessive_amount > 0 && excessive_number === null), 'has-error': (excessive_amount > 0 && excessive_number === null)}">
                            <input type="text" :disabled="total <= 0 || excessive_amount==0" class="form-control" v-model="excessive_number">
                            <span v-if="excessive_amount > 0 && excessive_number === null" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </td>
                    <!-- Copago -->
                    <td>
                        <input type="text" v-model="copago_amount" class="form-control text-right" readonly>
                    </td>
                    <td>
                        <div :class="{'form-group': true, 'has-feedback': (copago_amount > 0 && copago_number === null), 'has-error': (copago_amount > 0 && copago_number === null)}">
                            <input type="text" :disabled="copago_amount <= 0" v-model="copago_number" @focus="selectAllContent" class="form-control">
                            <span v-if="copago_amount > 0 && copago_number === null" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="panel panel-default">
            <div class="panel-heading">
                Forma de Pago
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="control-label">T. Crédito:</label>
                        <input type="number" :disabled="payment_cash_amount <= 0 && payment_credit_amount==0" v-model="payment_credit_amount" @focus="selectAllContent" @blur="onBlurZero" accept="number" class="form-control text-right numberWithoutStep">
                    </div>
                    <div class="col-sm-2">
                        <label class="control-label">T. Débito:</label>
                        <input type="number" :disabled="payment_cash_amount <= 0 && payment_debit_amount==0" v-model="payment_debit_amount" @focus="selectAllContent" @blur="onBlurZero" accept="number" class="form-control text-right numberWithoutStep">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">T. Comercial:</label>
                        <div class="row">
                            <div class="col-sm-8">
                                <div :class="{'form-group': true, 'has-error': (payment_commercial_amount > 0 && !payment_commercial)}">
                                    <select :disabled="payment_cash_amount <= 0 && payment_commercial_amount==0" class="form-control" v-model="payment_commercial">
                                        <option :value="null">-seleccione-</option>
                                        <option v-for="ccompany in shared.comercialcompanies" :value="ccompany">{{ ccompany.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <input type="number" :disabled="payment_cash_amount <= 0 && payment_commercial_amount==0" v-model="payment_commercial_amount" @focus="selectAllContent" @blur="onBlurZero" accept="number" class="form-control text-right numberWithoutStep">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label class="control-label">Efectivo:</label>
                        <input type="number" v-model="payment_cash_amount" class="form-control text-right" readonly>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>
<script>
	export default {
	    mounted(){
            this.originalSubtotal = this.parentData.subtotal || 0;
    		this.subtotal = this.parentData.subtotal || 0;
    		this.discount = this.parentData.discount || 0;
    		this.discount_reason = this.parentData.discount_reason || null;
    		this.total = this.parentData.total || 0;

    		this.health_amount = this.parentData.health_amount || 0;
    		this.health_number = this.parentData.health_number || null;

    		this.insurance = this.parentData.insurance || 0;
    		this.insurance_amount = this.parentData.insurance_amount || 0;
    		this.insurance_number = this.parentData.insurance_number || null;

    		this.copago_amount = this.parentData.copago_amount || 0;
    		this.copago_number = this.parentData.copago_number || null;

    		this.payment_credit_amount = this.parentData.payment_credit_amount || 0;
    		this.payment_debit_amount = this.parentData.payment_debit_amount || 0;
    		this.payment_commercial = this.parentData.payment_commercial || null;
    		this.payment_commercial_amount = this.parentData.payment_commercial_amount || 0;
    		this.payment_cash_amount = this.parentData.payment_cash_amount || 0;
	    },
	    data(){
        	return {
                originalSubtotal: 0,
        		subtotal: 0,
        		discount: 0,
        		discount_reason: null,
        		total: 0,

        		health_amount: 0,
        		health_number: null,

        		insurance: null,
        		insurance_amount: 0,
        		insurance_number: null,

                excessive_amount: 0,
                excessive_number: null,

        		copago_amount: 0,
        		copago_number: null,

        		payment_credit_amount: 0,
        		payment_debit_amount: 0,
        		payment_commercial: null,
        		payment_commercial_amount: 0,
        		payment_cash_amount: 0,

        		shared: store.data,
                utils: utils
        	};
        },
        methods: {
			calculateTotal(){
				store.log("paymentView::calculateTotal()");

				this.total = this.subtotal - this.discount;
			},
			calculateCopago(){
				store.log("paymentView::calculateCopago()");

				this.copago_amount = this.total - this.health_amount - this.insurance_amount - this.excessive_amount;
			},
			calculatePaymentCash(){
				store.log("paymentView::calculatePaymentCash()");

				this.payment_cash_amount = this.copago_amount - this.payment_credit_amount - this.payment_debit_amount - this.payment_commercial_amount;
				this.sendEvent();
			},
			sendEvent(){
				store.log("paymentView::sendEvent()");

				let data = {
					subtotal: this.subtotal,
	        		discount: this.discount,
	        		discount_reason: this.discount_reason,
	        		total: this.total,

	        		health_amount: this.health_amount,
	        		health_number: this.health_number,

	        		insurance: this.insurance,
	        		insurance_amount: this.insurance_amount,
	        		insurance_number: this.insurance_number,

	        		copago_amount: this.copago_amount,
	        		copago_number: this.copago_number,

                    excessive_amount: this.excessive_amount,
                    excessive_number: this.excessive_number,

	        		payment_credit_amount: this.payment_credit_amount,
	        		payment_debit_amount: this.payment_debit_amount,
	        		payment_commercial: this.payment_commercial,
	        		payment_commercial_amount: this.payment_commercial_amount,
	        		payment_cash_amount: this.payment_cash_amount,
				};

				bus.$emit('paymentview-values-changed', data)
			},

			// Utils
                onBlurZero(){
                    if($(event.target).val() == '')
                        $(event.target).val(0);
                },
                onBlurOne(){
                    if($(event.target).val() == '')
                        $(event.target).val(1);
                },
                moment(date){

                    return moment(date);
                },
                validateRut: function (rutCompleto) {
                    if (!/^[0-9]+-[0-9kK]{1}$/.test( rutCompleto ))
                        return false;
                    var tmp     = rutCompleto.split('-');
                    var digv    = tmp[1];
                    var rut     = tmp[0];
                    if ( digv == 'K' ) digv = 'k' ;
                    return (this.dv(rut) == digv );
                },
                dv: function(T){
                    var M=0,S=1;
                    for(;T;T=Math.floor(T/10))
                        S=(S+T%10*(9-M++%6))%11;
                    return S?S-1:'k';
                },
                inArray: function(needle, haystack) {
                    var length = haystack.length;
                    for(var i = 0; i < length; i++) {
                        if(haystack[i] == needle) return true;
                    }
                    return false;
                },
                showAlert(message, type){
                    let that = this;

                    that.alert.message = message;
                    that.alert.type = type;

                    setTimeout(function(){
                        that.alert.message = '';
                    }, 5000);
                },
                selectAllContent(event){
                    $(event.target).select();
                },
        },
        computed: {
        	hasSubtotal(){
        		return (this.originalSubtotal == 0) ? false : true;
        	}
        },
        watch: {
        	subtotal: function(){this.calculateTotal();},
        	discount: function(){this.calculateTotal();},
        	total: function(){this.calculateCopago();},
        	health_amount: function(){this.calculateCopago();},
        	insurance_amount: function(){this.calculateCopago();},
            excessive_amount: function(){this.calculateCopago();},
        	copago_amount: function(){this.calculatePaymentCash();},
        	payment_credit_amount: function(){this.calculatePaymentCash();},
        	payment_debit_amount: function(){this.calculatePaymentCash();},
        	payment_commercial_amount: function(){this.calculatePaymentCash();},

        	discount_reason: function(){this.sendEvent();},
    		health_number: function(){this.sendEvent();},
    		insurance: function(){this.sendEvent();},
    		insurance_number: function(){this.sendEvent();},
            excessive_number: function(){this.sendEvent();},
    		copago_number: function(){this.sendEvent();},
    		payment_commercial: function(){this.sendEvent();},
    		payment_cash_amount: function(){this.sendEvent();},
        },
        props: [
        	'parentData'
        ]
	};
</script>
<style scoped>
    .form-group{
        margin-bottom: 0;
    }
    .has-error .form-control{
        color: #a94442;
        background: #ffcc99;
    }
</style>
