<template>
	<div>
		<div class="panel panel-default">
            <div class="panel-heading">
                Valor de la Prestación
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label">Subtotal</label>
                        <input type="text" v-model="subtotal" @focus="selectAllContent" @blur="onBlurZero" class="form-control text-right" :readonly="hasSubtotal">
                    </div>
                    <div class="col-sm-2">
                        <div :class="{'form-group': true, 'has-error': (discount > subtotal)}">
                            <label class="control-label">Descuento</label>
                            <input type="text" v-model="discount" @focus="selectAllContent" @blur="onBlurZero" class="form-control text-right">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div :class="{'form-group': true, 'has-error': (discount > 0 && discount_reason === null)}">
                            <label class="control-label">Motivo Dscto</label>
                            <input type="text" v-model="discount_reason" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label">Total</label>
                        <input type="text" v-model="total" class="form-control text-right" readonly>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-hover table-condensed table-small">
            <thead>
                <tr>
                    <th colspan="3" class="text-center">Producto</th>
                    <th colspan="2" class="text-center">Bonificación Salud</th>
                    <th class="text-center">Cía. Seguros</th>
                    <th class="text-center">Excedentes</th>
                    <th colspan="3" class="text-center">Copago</th>
                </tr>
                <tr>
                    <!-- Producto -->
                    <th class="text-center">Cant.</th>
                    <th class="text-center">Código</th>
                    <th>Nombre</th>
                    <!-- Bonificación Salud -->
                    <th class="text-center">Monto</th>
                    <th class="text-center">Nº Docto.</th>
                    <!-- Bonificación Cía Seguros -->
                    <th class="text-center">Monto</th>
                    <!--<th>Compañía</th>-->
                    <!--<th class="text-center">Nº Docto.</th>-->
                    <!-- Excedentes -->
                    <th class="text-center">Monto</th>
                    <!--<th class="text-center">Nº Docto.</th>-->
                    <!-- Copago -->
                    <th class="text-center">Monto</th>
                    <th class="text-center">Nº Boleta</th>
                    <th class="text-center">IVA</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="product in products">
                    <!-- Producto -->
                    <td class="text-center">{{ product.quantity }}</td>
                    <td class="text-center">{{ product.code }}</td>
                    <td>{{ (product.type == 'Consulta' ? 'Consulta ' + product.doctor.name : product.name) }}</td>
                    <!-- Bonificación Salud -->
                    <td>
                        <input type="text" :disabled="product.total <= 0" v-model="product.health_amount" @keyup="calculateProductCopago(product)" @focus="selectAllContent" @blur="onBlurZero" class="form-control text-right">
                    </td>
                    <td>
                        <div :class="{'form-group': true, 'has-feedback': (product.health_amount > 0 && utils.isEmpty(product.health_document)), 'has-error': (product.health_amount > 0 && utils.isEmpty(product.health_document))}">
                            <input type="text" :disabled="product.total <= 0 || product.health_amount==0" v-model="product.health_document" @keyup="forceUpdate(true)" @focus="selectAllContent" class="form-control">
                            <span v-if="product.health_amount > 0 && utils.isEmpty(product.health_document)" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </td>
                    <!-- Bonificación Cía Seguros -->
                    <td>
                        <input type="text" :disabled="product.total <= 0" v-model="product.insurance_amount" @keyup="calculateProductCopago(product)" @focus="selectAllContent" @blur="onBlurZero" class="form-control text-right">
                    </td>
                    <!--<td>
                        <div :class="{'form-group': true, 'has-feedback': (product.insurance_amount > 0 && utils.isEmpty(product.insurance_company)), 'has-error': (product.insurance_amount > 0 && utils.isEmpty(product.insurance_company))}">
                            <select :disabled="product.total <= 0 || product.insurance_amount==0" class="form-control" v-model="product.insurance_company"  @change="forceUpdate(true)">
                                <option :value="null">-seleccione-</option>
                                <option v-for="icompany in shared.insurancecompanies" :value="icompany">{{ icompany.name }}</option>
                            </select>
                            <span v-if="product.insurance_amount > 0 && utils.isEmpty(product.insurance_company)" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </td>-->
                    <!--<td>
                        <div :class="{'form-group': true, 'has-feedback': (product.insurance_amount > 0 && utils.isEmpty(product.insurance_document)), 'has-error': (product.insurance_amount > 0 && utils.isEmpty(product.insurance_document))}">
                            <input type="text" :disabled="product.total <= 0 || product.insurance_amount==0" class="form-control" v-model="product.insurance_document" @keyup="forceUpdate(true)">
                            <span v-if="product.insurance_amount > 0 && utils.isEmpty(product.insurance_document)" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </td>-->
                    <!-- Excedentes -->
                    <td>
                        <input type="text" :disabled="product.total <= 0" v-model="product.excessive_amount"  @keyup="calculateProductCopago(product)" @focus="selectAllContent" @blur="onBlurZero" class="form-control text-right">
                    </td>
                    <!--<td>
                        <div :class="{'form-group': true, 'has-feedback': (product.excessive_amount > 0 && utils.isEmpty(product.excessive_document)), 'has-error': (product.excessive_amount > 0 && utils.isEmpty(product.excessive_document))}">
                            <input type="text" :disabled="product.total <= 0 || product.excessive_amount==0" class="form-control" v-model="product.excessive_document" @keyup="forceUpdate(true)">
                            <span v-if="product.excessive_amount > 0 && utils.isEmpty(product.excessive_document)" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </td>-->
                    <!-- Copago -->
                    <td>
                        <input type="text" v-model="product.copago_amount" class="form-control text-right" readonly>
                    </td>
                    <td>
                        <div :class="{'form-group': true, 'has-feedback': (product.copago_amount > 0 && utils.isEmpty(product.copago_document)), 'has-error': (product.copago_amount > 0 && utils.isEmpty(product.copago_document))}">
                            <input type="text" :disabled="product.copago_amount <= 0" v-model="product.copago_document" @focus="selectAllContent" class="form-control" @keyup="forceUpdate(true)">
                            <span v-if="product.copago_amount > 0 && utils.isEmpty(product.copago_document)" class="glyphicon glyphicon-warning-sign form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </td>
                    <td class="text-center">
                        {{ (product.exempt == 'Si') ? 'Exento' : 'Afecto' }}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">&nbsp;</td>
                    <td colspan="2">
                        <div class="input-group" style="width:100%">
                            <input type="text" v-model="general_health_document" placeholder="Bono Único" @focus="selectAllContent" class="form-control">
                            <span class="input-group-btn">
                                <button @click="setHealthDocumentToAll()" class="btn btn-default" type="button" :disabled="utils.isEmpty(general_health_document)">
                                    <i class="fa fa-check-square-o"></i>
                                </button>
                            </span>
                        </div>
                    </td>
                    <td colspan="2">&nbsp;</td>
                    <td colspan="2">
                        <div class="input-group" style="width:100%">
                            <input type="text" v-model="general_copago_document" placeholder="Boleta Única" @focus="selectAllContent" class="form-control">
                            <span class="input-group-btn">
                                <button @click="setCopagoDocumentToAll()" class="btn btn-default" type="button" :disabled="utils.isEmpty(general_copago_document)">
                                    <i class="fa fa-check-square-o"></i>
                                </button>
                            </span>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="panel panel-default">
            <div class="panel-heading">
                Forma de Pago (Copago: {{ copago_amount }})
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="control-label">T. Crédito:</label>
                        <input type="text" :disabled="payment_cash_amount <= 0 && payment_credit_amount==0" v-model="payment_credit_amount" @focus="selectAllContent" @blur="onBlurZero" class="form-control text-right">
                    </div>
                    <div class="col-sm-2">
                        <label class="control-label">T. Débito:</label>
                        <input type="text" :disabled="payment_cash_amount <= 0 && payment_debit_amount==0" v-model="payment_debit_amount" @focus="selectAllContent" @blur="onBlurZero" class="form-control text-right">
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">T. Comercial:</label>
                        <div class="row">
                            <div class="col-sm-8">
                                <div :class="{'form-group': true, 'has-error': (payment_commercial_amount > 0 && !payment_commercial)}">
                                    <select :disabled="payment_cash_amount <= 0 && payment_commercial_amount==0" class="form-control" v-model="payment_commercial">
                                        <option :value="null">-seleccione-</option>
                                        <option v-for="ccompany in shared.comercialcompanies" :value="ccompany">{{ ccompany.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" :disabled="payment_cash_amount <= 0 && payment_commercial_amount==0" v-model="payment_commercial_amount" @focus="selectAllContent" @blur="onBlurZero" class="form-control text-right">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label class="control-label">Efectivo:</label>
                        <input type="text" v-model="payment_cash_amount" class="form-control text-right" readonly>
                    </div>
                </div>
            </div>
        </div>
	</div>
</template>
<script>
	export default {
	    mounted(){
            let that = this;
            that.products = that.parentProducts || [];

            that.products.forEach(function(product){
                product.insurance_company = null;
                product.health_amount = 0;
                product.health_document = null;
                product.insurance_amount = 0;
                product.insurance_document = null;
                product.excessive_amount = 0;
                product.excessive_document = null;
                product.copago_amount = !isNaN(product.total) ? parseInt(product.total) : 0;
                product.copago_document = null;
            });

            that.originalSubtotal = that.parentData.subtotal || 0;
    		that.subtotal = that.parentData.subtotal || 0;
    		that.discount = that.parentData.discount || 0;
    		that.discount_reason = that.parentData.discount_reason || null;
    		that.total = that.parentData.total || 0;

    		that.copago_amount = that.parentData.copago_amount || 0;

    		that.payment_credit_amount = that.parentData.payment_credit_amount || 0;
    		that.payment_debit_amount = that.parentData.payment_debit_amount || 0;
    		that.payment_commercial = that.parentData.payment_commercial || null;
    		that.payment_commercial_amount = that.parentData.payment_commercial_amount || 0;
    		that.payment_cash_amount = that.parentData.payment_cash_amount || 0;
	    },
	    data(){
        	return {
                general_copago_document: null,
                general_health_document: null,
                originalSubtotal: 0,
        		subtotal: 0,
        		discount: 0,
        		discount_reason: null,
        		total: 0,

        		copago_amount: 0,

        		payment_credit_amount: 0,
        		payment_debit_amount: 0,
        		payment_commercial: null,
        		payment_commercial_amount: 0,
        		payment_cash_amount: 0,

                products: [],

        		shared: store.data,
                utils: utils
        	};
        },
        methods: {
            setCopagoDocumentToAll(){
                store.log("PaymentProductsView::setCopagoDocumentToAll()");
                let that = this;
                that.products.forEach(function(product){
                    if(product.copago_amount > 0){
                        product.copago_document = that.general_copago_document;
                    }
                });
                that.general_copago_document = null;
                that.forceUpdate(true);
            },
            setHealthDocumentToAll(){
                store.log("PaymentProductsView::setHealthDocumentToAll()");
                let that = this;
                that.products.forEach(function(product){
                    if(product.health_amount > 0){
                        product.health_document = that.general_health_document;
                    }
                });
                that.general_health_document = null;
                that.forceUpdate(true);
            },
            calculateProductCopago(product){
                store.log("PaymentProductsView::calculateProductCopago()");
                let that = this;

                let total = !isNaN(product.total) ? parseInt(product.total) : 0;
                total -= !isNaN(product.health_amount) ? parseInt(product.health_amount) : 0;
                total -= !isNaN(product.insurance_amount) ? parseInt(product.insurance_amount) : 0;
                total -= !isNaN(product.excessive_amount) ? parseInt(product.excessive_amount) : 0;

                if(parseInt(product.copago_amount) != parseInt(total)){
                    product.copago_amount = total;
                    that.calculateCopago();
                    that.forceUpdate();
                }
            },
            forceUpdate(sendEvent){
                store.log("PaymentProductsView::forceUpdate()");
                this.$forceUpdate();
                if(sendEvent === true)
                    this.sendEvent();
            },
			calculateTotal(){
				store.log("paymentProductsView::calculateTotal()");

				this.total = this.subtotal - this.discount;
			},
			calculateCopago(){
				store.log("paymentProductsView::calculateCopago()");
                let that = this;
                let copago = 0;
                that.products.forEach(function(product){
                    copago += parseInt(!isNaN(product.copago_amount) ? product.copago_amount : 0);
                });

				that.copago_amount = copago - that.discount;
                that.calculatePaymentCash();
			},
			calculatePaymentCash(){
				store.log("paymentProductsView::calculatePaymentCash()");

				this.payment_cash_amount = this.copago_amount - this.payment_credit_amount - this.payment_debit_amount - this.payment_commercial_amount;
				this.sendEvent();
			},
			sendEvent(){
				store.log("paymentProductsView::sendEvent()");

				let data = {
					subtotal: this.subtotal,
	        		discount: this.discount,
	        		discount_reason: this.discount_reason,
	        		total: this.total,
                    copago_amount: this.copago_amount,

	        		products: this.products,

	        		payment_credit_amount: this.payment_credit_amount,
	        		payment_debit_amount: this.payment_debit_amount,
	        		payment_commercial: this.payment_commercial,
	        		payment_commercial_amount: this.payment_commercial_amount,
	        		payment_cash_amount: this.payment_cash_amount,
				};

				bus.$emit('paymentProductsview-values-changed', data)
			},

			// Utils
                onBlurZero(){
                    if($(event.target).val() == '')
                        $(event.target).val(0);
                },
                onBlurOne(){
                    if($(event.target).val() == '')
                        $(event.target).val(1);
                },
                moment(date){

                    return moment(date);
                },
                validateRut: function (rutCompleto) {
                    if (!/^[0-9]+-[0-9kK]{1}$/.test( rutCompleto ))
                        return false;
                    var tmp     = rutCompleto.split('-');
                    var digv    = tmp[1];
                    var rut     = tmp[0];
                    if ( digv == 'K' ) digv = 'k' ;
                    return (this.dv(rut) == digv );
                },
                dv: function(T){
                    var M=0,S=1;
                    for(;T;T=Math.floor(T/10))
                        S=(S+T%10*(9-M++%6))%11;
                    return S?S-1:'k';
                },
                inArray: function(needle, haystack) {
                    var length = haystack.length;
                    for(var i = 0; i < length; i++) {
                        if(haystack[i] == needle) return true;
                    }
                    return false;
                },
                showAlert(message, type){
                    store.log("PaymentProductsView::showAlert()");
                    let that = this;

                    that.alert.message = message;
                    that.alert.type = type;

                    setTimeout(function(){
                        that.alert.message = '';
                    }, 5000);
                },
                selectAllContent(event){
                    store.log("PaymentProductsView::selectAllContent()");
                    $(event.target).select();
                },
        },
        computed: {
        	hasSubtotal(){
        		return (this.originalSubtotal == 0) ? false : true;
        	}
        },
        watch: {
        	subtotal: function(){this.calculateTotal();},
        	discount: function(){this.calculateTotal();},
        	total: function(){this.calculateCopago();},

        	payment_credit_amount: function(){this.calculatePaymentCash();},
        	payment_debit_amount: function(){this.calculatePaymentCash();},
        	payment_commercial_amount: function(){this.calculatePaymentCash();},

        	discount_reason: function(){this.sendEvent();},
    		payment_cash_amount: function(){this.sendEvent();},
        },
        props: [
        	'parentData',
            'parentProducts',
            'healthcompany'
        ]
	};
</script>
<style scoped>
    .form-group{
        margin-bottom: 0;
    }
    .has-error .form-control{
        color: #a94442;
        background: #ffcc99;
    }
</style>
