<template>
	<div class="modal fade" tabindex="-1" role="dialog" id="newPriceListDialog" data-backdrop="static">
        <div class="modal-dialog modal-xlg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Lista de Precios</h4>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        <div class="control-group">
                            <label class="control-label">Previsión</label>
                            <select class="form-control" v-model="currentHealthCompany" @change="calculatePrices()">
                                <option :value="null">-seleccione-</option>
                                <option v-for="hcompany in shared.healthcompanies" :value="hcompany">{{ hcompany.name }}</option>
                            </select>
                        </div>
                    </div>
                    <br>

                    <div v-if="currentHealthCompany">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" :class="{active: (index == 0)}" v-for="(type, index) in productTypes">
                                <a href="#home" @click="filterProductsByType(type)" aria-controls="home" role="tab" data-toggle="tab">{{ type }}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="row">
                                    <div class="col-sm-3" v-if="filteredProductsCategories.length > 1">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Categorías</div>
                                            <ul class="nav nav-pills">
                                                <li :class="{'active': (currentCategoryFilter == null)}" role="presentation">
                                                    <a href="#" @click="filterProductsByType(currentTypeFilter)">Todos</a>
                                                </li>
                                                <li :class="{'active': (currentCategoryFilter == category)}" role="presentation" v-for="category in filteredProductsCategories">
                                                    <a href="#" @click="filterProductsByCategory(category)">{{ category }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div :class="{'col-sm-9': (filteredProductsCategories.length > 1), 'col-sm-12': (filteredProductsCategories.length <= 1)}">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">Productos/Servicios</div>
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th v-show="filteredProductsCountCodes > 0" width="100px" class="text-center">Código</th>
                                                        <th>Producto/Servicio</th>
                                                        <th v-show="filteredProductsCountSubCategories > 0" width="130px">Sub Categoría</th>
                                                        <th width="130px" class="text-right">
                                                            Precio<br>
                                                            <small>({{ currentHealthCompany.name }})</small>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="product in filteredProducts">
                                                        <td v-show="filteredProductsCountCodes > 0" class="text-center">{{ product.code }}</td>
                                                        <td>
                                                            {{ (product.type == 'Consulta') ? 'Consulta ' + product.doctor.name : product.name }}
                                                        </td>
                                                        <td v-show="filteredProductsCountSubCategories > 0">
                                                            <small>
                                                                {{ product.sub_category }}
                                                            </small>
                                                        </td>
                                                        <td class="text-right">
                                                            $ {{ product.price || 0 }}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                shared: store.data,
                currentHealthCompany: null,
                filteredProducts: [],
                currentTypeFilter: null,
                currentCategoryFilter: null,
                currentSubCategoryFilter: null,
                filteredProductsCategories: [],
            };
        },
        mounted(){
            this.openDialog();
        },
        methods: {
            openDialog(){
                store.log("PriceList::openDialog()");
                let that = this;

                $("#newPriceListDialog")
                    .modal('show')
                    .on('hidden.bs.modal', function(){
                        that.closeDialog();
                    });
            },
            closeDialog(){
                store.log("PriceList::closeDialog()");
                this.$root.$refs.secretaryDashboard.showPriceListDialog = false;
            },
            filterProductsByType(type){
                this.currentTypeFilter = type;
                this.currentCategoryFilter = null;
                this.currentSubCategoryFilter = null;

                this.filteredProducts = this.shared.products.filter(function(product){
                    return product.type == type;
                });

                this.filteredProductsCategories = this.productCategories();
            },
            filterProductsByCategory(category){
                this.filterProductsByType(this.currentTypeFilter);

                this.currentCategoryFilter = category;

                this.filteredProducts = this.filteredProducts.filter(function(product){
                    return product.category == category;
                });
            },
            productCategories(){
                let that = this;
                let categories = [];

                that.filteredProducts.forEach(function(product){
                    if(!that.inArray(product.category, categories)){
                        categories.push(product.category);
                    }
                });

                categories.sort();

                return categories;
            },
            calculatePrice(product){
                store.log("PriceList::calculatePrice()");

                let that = this;

                if(product.prices.length > 0 && that.currentHealthCompany){
                    let tmpPrices = product.prices.filter(function(tmpPrice){
                        return tmpPrice.company_id == that.currentHealthCompany.id;
                    });
                    if(tmpPrices.length == 0){
                        tmpPrices = product.prices.filter(function(tmpPrice){
                            return tmpPrice.company_id == 11;
                        });
                    }

                    if(tmpPrices.length > 0)
                        return tmpPrices[0].price;
                }

                return product.price || 0;
            },
            calculatePrices(){
                store.log("PriceList::calculatePrices()");
                let that = this;

                that.shared.products.forEach(function(product){
                    product.price = that.calculatePrice(product);
                });
            },

            inArray: function(needle, haystack) {
                var length = haystack.length;
                for(var i = 0; i < length; i++) {
                    if(haystack[i] == needle) return true;
                }
                return false;
            },
        },
        watch: {
            currentHealthCompany: function(newVal, prev){
                if(!prev){
                    this.filterProductsByType(this.productTypes[0]);
                }
            }
        },
        computed: {
            productTypes(){
                let that = this;
                let types = [];

                that.shared.products.forEach(function(product){
                    if(product.type != 'Otros' && !that.inArray(product.type, types)){
                        types.push(product.type);
                    }
                });

                return types;
            },
            filteredProductsCountCodes(){
                let productsWithCode = this.filteredProducts.filter(function(product){
                    return (product.code && product.code !='');
                });

                return productsWithCode.length;
            },
            filteredProductsCountSubCategories(){
                let productsWithSC = this.filteredProducts.filter(function(product){
                    return (product.sub_category && product.sub_category !='');
                });

                return productsWithSC.length;
            },
        },
    };
</script>
