<template>
    <div class="modal fade" tabindex="-1" role="dialog" id="newRadDiaryDialog" data-backdrop="static">
        <div class="modal-dialog modal-xlg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        Agenda Radiológica
                        [
                            Sucursal <b>{{ (currentBranch ? currentBranch.name : '') }}</b> -
                            <b>{{ (currentDoctor ? currentDoctor.name : '') }}</b> -
                            Fecha/Hora: <b>{{ currentDate ? moment(currentDate).format("DD/MM/YYYY") : '' }}</b>
                        ]
                    </h4>
                </div>
                <div class="modal-body">
                    <alert v-if="alert.message" :message="alert.message" :type="alert.type"></alert>

                    <div v-show="view == 'diary'">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="control-group">
                                    <label class="control-label">Sucursal</label>
                                    <select class="form-control input-lg" v-model="currentBranch" @change="selectBranch()" :disabled="shared.branches.length == 0">
                                        <option :value="null" v-if="shared.branches.length > 0">-seleccione-</option>
                                        <option :value="null" v-if="shared.branches.length == 0">cargando...</option>
                                        <option v-for="branch in shared.branches" :value="branch">{{ branch.name }}</option>
                                    </select>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Doctor</label>
                                    <select v-if="currentBranch" class="form-control input-lg" v-model="currentDoctor" @change="selectDoctor()" :disabled="!currentBranch">
                                        <option :value="null">-seleccione-</option>
                                        <option v-for="doctor in currentBranch.radiologists" :value="doctor">{{ doctor.name }}</option>
                                    </select>
                                    <select v-if="!currentBranch" class="form-control input-lg" disabled>
                                    </select>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Fecha</label>
                                    <div class="datepicker" id="bookingTraCalendar"></div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Vista</label>
                                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                        <div class="btn-group" role="group">
                                            <button :disabled="!currentBranch || !currentDoctor" @click="currentView = 'day'" type="button" :class="{'btn': true, 'btn-default': true, 'active': (currentView == 'day')}">
                                                <i class="fa fa-th-list"></i>
                                                Día
                                            </button>
                                        </div>
                                        <div class="btn-group" role="group">
                                            <button :disabled="!currentBranch || !currentDoctor" @click="currentView = 'week'" type="button" :class="{'btn': true, 'btn-default': true, 'active': (currentView == 'week')}">
                                                <i class="fa fa-th"></i>
                                                Semana
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div v-if="currentView == 'week'" class="table-responsive">
                                    <table v-show="!loading" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th v-for="day in freehours" class="text-center" style="width: 16.5%;">
                                                    {{ moment(day.date).format("ddd DD") }}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td v-for="day in freehours" style="vertical-align: top; width: 16.5%;">

                                                    <div v-for="time in day.hours">
                                                        <button v-if="time.reserved === true" @click="cancelBookingQuestion(time.id)" :class="{'btn': true, 'btn-default': true, 'btn-block': true}" :disabled="moment(time.bookingdate).isBefore(moment().subtract(2, 'hour'))">
                                                            {{ moment(time.bookingdate).format('HH:mm') }}<br>
                                                            <small>{{ time.patient.firstname + ' ' + time.patient.lastname }}</small>
                                                        </button>

                                                        <button v-if="time.reserved === false" @click="selectDateTime(time.bookingdate)" :class="{'btn': true, 'btn-success': (!moment(time.bookingdate).isBefore(moment().subtract(10, 'minutes'))), 'btn-default': (moment(time.bookingdate).isBefore(moment().subtract(10, 'minutes'))), 'btn-block': true}" :disabled="moment(time.bookingdate).isBefore(moment().subtract(10, 'minutes'))">
                                                            <i class="fa fa-plus-circle"></i> {{ moment(time.bookingdate).format('HH:mm') }}<br>
                                                            <small>Hora disponible</small>
                                                        </button>
                                                    </div>
                                                    <hr>

                                                    <small class="text-center">HORAS EXTRAS</small>
                                                    <div style="margin-bottom: 10px;">
                                                        <button @click="selectExtraDate(day.date)" :class="{'btn': true, 'btn-warning': true, 'btn-block': true, 'active': (newBooking.extraDate.date == day.date && newBooking.type == 'Extra')}" :disabled="moment(day.date + ' 23:59:59').isBefore(moment())">
                                                            <i class="fa fa-plus-circle"></i>
                                                        </button>
                                                        <input :id="'extraHour_' + moment(day.date).format('YYYYMMDD')" v-show="newBooking.type == 'Extra' && newBooking.extraDate.date == day.date" type="text" v-model="newBooking.extraDate.hour" placeholder="HH:MM" class="form-control timeInput text-center" maxlength="5">
                                                        <button @click="confirmExtraDate()" v-show="newBooking.type == 'Extra' && newBooking.extraDate.date == day.date" class="btn btn-success btn-block" :disabled="!newBooking.extraDate.hour || newBooking.extraDate.hour.length < 5">
                                                            <i class="fa fa-check-circle-o"></i> Registrar
                                                        </button>
                                                    </div>

                                                    <button @click="cancelBookingQuestion(extra.id)" v-for="extra in day.extra" class="btn btn-info btn-block">
                                                        {{ moment(extra.bookingdate).format('HH:mm') }}<br>
                                                        <small>{{ extra.patient.firstname + ' ' + extra.patient.lastname }}</small>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div v-if="currentView == 'day'" class="table-responsive">
                                    <table v-show="!loading" class="table table-bordered table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Hora</th>
                                                <th>Paciente</th>
                                                <th>Tipo Atención</th>
                                                <th>Observaciones</th>
                                                <th>Estado</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="hour in currentDateHours.hours" :class="{success: !hour.reserved, danger: hour.status == 'Bloqueada'}">
                                                <td class="text-center">
                                                    <strong>{{ moment(hour.bookingdate).format('HH:mm') }}</strong>

                                                    <span v-if="hour.reserved && hour.status == 'Bloqueada'">
                                                        <i class="fa fa-lock"></i>
                                                    </span>
                                                </td>

                                                <td v-if="!hour.reserved && hour.status != 'Bloqueada'" colspan="4">
                                                    <a href="#" @click.prevent="selectDateTime(hour.bookingdate)">
                                                        <i class="fa fa-plus-circle"></i> Reservar
                                                    </a>
                                                </td>

                                                <td v-if="hour.reserved && hour.status == 'Bloqueada'" colspan="2">
                                                    <a href="#" @click.prevent="unlockBookingQuestion(hour.id)">
                                                        <i class="fa fa-unlock"></i> Desbloquear
                                                    </a>
                                                </td>

                                                <td v-if="hour.reserved && hour.status != 'Bloqueada'">
                                                    {{ (hour.patient) ? hour.patient.rut + ' - ' + hour.patient.firstname + ' ' + hour.patient.lastname : '' }}
                                                </td>
                                                <td v-if="hour.reserved && hour.status != 'Bloqueada'">
                                                    {{ (hour.attentiontype) ? hour.attentiontype.name : '' }}
                                                </td>
                                                <td v-if="hour.reserved" :colspan="(hour.status == 'Bloqueada' ? 2 : 1)">
                                                    <small>{{ hour.observations }}</small>
                                                </td>
                                                <td v-if="hour.reserved && hour.status != 'Bloqueada'">
                                                    {{ (hour.patient_status) ? hour.patient_status : '' }}
                                                </td>
                                                <td class="text-center">
                                                    <!-- No reservada -->
                                                    <button @click="selectDateTime(hour.bookingdate)" v-if="!hour.reserved" class="btn btn-primary btn-xs">
                                                        <i class="fa fa-plus-circle"></i>
                                                    </button>
                                                    <button @click="lockBookingQuestion(hour.bookingdate)" v-if="!hour.reserved && hour.status != 'Bloqueada'" class="btn btn-default btn-xs">
                                                        <i class="fa fa-lock"></i>
                                                    </button>

                                                    <!-- Reservada -->
                                                    <button @click="cancelBookingQuestion(hour.id)" v-if="hour.reserved && hour.status != 'Bloqueada'" class="btn btn-default btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>

                                                    <!-- Bloqueada -->
                                                    <button @click="unlockBookingQuestion(hour.id)" v-if="hour.reserved && hour.status == 'Bloqueada'" class="btn btn-default btn-xs">
                                                        <i class="fa fa-unlock"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table v-show="!loading" class="table table-bordered table-condensed">
                                        <thead>
                                            <tr>
                                                <th colspan="6">
                                                    Horas Extras

                                                    <div class="pull-right" v-if="currentDateHours.date">
                                                        <button v-show="newBooking.type != 'Extra' || newBooking.extraDate.date != currentDateHours.date" @click="selectExtraDate(currentDateHours.date)" :class="{'btn': true, 'btn-warning': true, 'btn-block': true, 'active': (newBooking.extraDate.date == currentDateHours.date && newBooking.type == 'Extra')}" :disabled="moment(currentDateHours.date + ' 23:59:59').isBefore(moment())">
                                                            <i class="fa fa-plus-circle"></i> Nueva Hora Extra
                                                        </button>
                                                        <div class="form-inline" v-show="newBooking.type == 'Extra' && newBooking.extraDate.date == currentDateHours.date">
                                                            <div class="form-group">
                                                                <input :id="'extraHour_' + moment(currentDateHours.date).format('YYYYMMDD')" type="text" v-model="newBooking.extraDate.hour" placeholder="HH:MM" class="form-control timeInput text-center" maxlength="5">
                                                            </div>
                                                            <div class="form-group">
                                                                <button @click="confirmExtraDate()" class="btn btn-success" :disabled="!newBooking.extraDate.hour || newBooking.extraDate.hour.length < 5">
                                                                    <i class="fa fa-check-circle-o"></i> Registrar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>Hora</th>
                                                <th>Paciente</th>
                                                <th>Tipo Atención</th>
                                                <th>Observaciones</th>
                                                <th>Estado</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="extra in currentDateHours.extra" class="info">
                                                <td class="text-center">
                                                    <strong>{{ moment(extra.bookingdate).format('HH:mm') }}</strong>
                                                </td>
                                                <td>
                                                    {{ (extra.patient) ? extra.patient.rut + ' - ' + extra.patient.firstname + ' ' + extra.patient.lastname : '' }}
                                                </td>
                                                <td>
                                                    {{ (extra.attentiontype) ? extra.attentiontype.name : '' }}
                                                </td>
                                                <td>
                                                    <small>{{ extra.observations }}</small>
                                                </td>
                                                <td>
                                                    {{ (extra.patient_status) ? extra.patient_status : '' }}
                                                </td>
                                                <td class="text-center">
                                                    <button @click="cancelBookingQuestion(extra.id)" class="btn btn-default btn-xs">
                                                        <i class="fa fa-times"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div v-show="loading" style="padding-top: 120px;" class="text-center">
                                    <i class="fa fa-refresh fa-spin fa-fw" style="font-size: 120px; color: #ddd;"></i>
                                </div>

                                <div v-show="!currentBranch || !currentDoctor || !currentDate" style="padding: 80px 0;" class="text-center">
                                    <i class="fa fa-info-circle" style="font-size: 120px; color: #ddd;"></i><br>
                                    <p class="lead">
                                        <i class="fa fa-long-arrow-left"></i> Seleccione el doctor de quien<br> desea revisar la agenda.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="view == 'newBooking'">
                        <div v-if="newBooking.step == 1">
                            <patientdata
                                :parentPatient="newBooking.patient"
                                :parentHealthCompany="newBooking.currentHealthCompany"
                                :parentAttentionType="newBooking.currentAttentionType"
                                :parentObservations="newBooking.observations"
                                :parentAlert="alert"
                                type="CREATE"
                            ></patientdata>

                            <hr>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <securepassword :password="password"></securepassword>
                                </div>
                            </div>
                        </div>
                        <div v-if="newBooking.step == 2">
                            <div class="text-center" v-show="newBooking.booking">
                                <span style="font-size: 120px; color: green;"><i class="fa fa-check-circle"></i></span>

                                <h1>Hora Radiológica Reservada</h1>

                                <p class="lead">
                                    La hora fue agendada correctamente, el detalle es el siguiente:
                                </p>

                                <div class="row" v-if="newBooking.booking">
                                    <div class="col-sm-6 col-sm-offset-3 text-left">
                                        <dl class="dl-horizontal">
                                            <dt style="width: 50%; margin-right: 10px;">Código de Reserva</dt><dd><strong>{{ newBooking.booking.code.toUpperCase() }}</strong></dd>
                                            <dt style="width: 50%; margin-right: 10px;">Sucursal</dt><dd>{{ newBooking.booking.branch.name }}</dd>
                                            <dt style="width: 50%; margin-right: 10px;">Doctor</dt><dd>{{ newBooking.booking.doctor.name }}</dd>
                                            <dt style="width: 50%; margin-right: 10px;">Fecha</dt><dd>{{ moment(newBooking.booking.bookingdate, "YYYY-MM-DD HH:mm:ss").format("DD/MM/YYYY") }}</dd>
                                            <dt style="width: 50%; margin-right: 10px;">Hora</dt><dd>{{ moment(newBooking.booking.bookingdate, "YYYY-MM-DD HH:mm:ss").format("HH:mm") }}</dd>
                                            <dt style="width: 50%; margin-right: 10px;">Tipo de Atención</dt><dd>{{ newBooking.booking.attentiontype.name }}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>

                            <div v-show="!newBooking.booking" style="padding: 80px 0;" class="text-center">
                                <i class="fa fa-refresh fa-spin fa-fw" style="font-size: 120px; color: #ddd;"></i>
                            </div>
                        </div>
                    </div>
                    <div v-if="view == 'lockBooking'">
                        <div v-if="lockBooking.step == 1">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <p class="lead">Bloquear hora de atención</p>
                                    <p>
                                        Si desea bloquear esta hora, por favor ingrese el
                                        motivo y su clave de seguridad para confirmar.
                                    </p>
                                    <div :class="{'form-group': true, 'has-error': (!lockBooking.reason || lockBooking.reason == '')}">
                                        <label class="control-label">Motivo del bloqueo (requerido):</label>
                                        <input type="text" v-model="lockBooking.reason" class="form-control input-lg" placeholder="ej. Solicitud del doctor ..." autocomplete="off">
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <securepassword :password="password"></securepassword>
                                </div>
                            </div>
                        </div>
                        <div v-if="lockBooking.step == 2">
                            <div class="text-center" v-show="lockBooking.locked">
                                <span style="font-size: 120px; color: green;"><i class="fa fa-check-circle"></i></span>

                                <h1>Hora Radiológica Bloqueada</h1>

                                <p class="lead">
                                    La hora fue bloqueada correctamente!
                                </p>
                            </div>

                            <div v-show="!lockBooking.locked" style="padding: 80px 0;" class="text-center">
                                <i class="fa fa-refresh fa-spin fa-fw" style="font-size: 120px; color: #ddd;"></i>
                            </div>
                        </div>
                    </div>
                    <div v-if="view == 'unlockBooking'">
                        <div v-if="unlockBooking.step == 1">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <p class="lead">Desbloquear hora de atención</p>
                                    <p>
                                        Si desea desbloquear esta hora, por favor ingrese el
                                        motivo y su clave de seguridad para confirmar.
                                    </p>
                                    <div :class="{'form-group': true, 'has-error': (!unlockBooking.reason || unlockBooking.reason == '')}">
                                        <label class="control-label">Motivo del desbloqueo (requerido):</label>
                                        <input type="text" v-model="unlockBooking.reason" class="form-control input-lg" placeholder="ej. Solicitud del doctor ..." autocomplete="off">
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <securepassword :password="password"></securepassword>
                                </div>
                            </div>
                        </div>
                        <div v-if="unlockBooking.step == 2">
                            <div class="text-center" v-show="unlockBooking.unlocked">
                                <span style="font-size: 120px; color: green;"><i class="fa fa-check-circle"></i></span>

                                <h1>Hora Radiológica Desbloqueada</h1>

                                <p class="lead">
                                    La hora fue desbloqueada correctamente!
                                </p>
                            </div>

                            <div v-show="!unlockBooking.unlocked" style="padding: 80px 0;" class="text-center">
                                <i class="fa fa-refresh fa-spin fa-fw" style="font-size: 120px; color: #ddd;"></i>
                            </div>
                        </div>
                    </div>
                    <div v-if="view == 'cancelBooking'">
                        <div v-if="cancelBooking.step == 1">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <p class="lead">Anular reserva de atención</p>
                                    <p>
                                        Si desea anular esta reserva, por favor ingrese el
                                        motivo y su clave de seguridad para confirmar.
                                    </p>
                                    <div :class="{'form-group': true, 'has-error': (!cancelBooking.reason || cancelBooking.reason == '')}">
                                        <label class="control-label">Motivo de la anulación (requerido):</label>
                                        <input type="text" v-model="cancelBooking.reason" class="form-control input-lg" placeholder="ej. Solicitud del paciente ..." autocomplete="off">
                                    </div>
                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <securepassword :password="password"></securepassword>
                                </div>
                            </div>
                        </div>
                        <div v-if="cancelBooking.step == 2">
                            <div class="text-center" v-show="cancelBooking.canceled">
                                <span style="font-size: 120px; color: green;"><i class="fa fa-check-circle"></i></span>

                                <h1>Reserva Radiológica Anulada</h1>

                                <p class="lead">
                                    La reserva fue anulada correctamente!
                                </p>
                            </div>

                            <div v-show="!cancelBooking.canceled" style="padding: 80px 0;" class="text-center">
                                <i class="fa fa-refresh fa-spin fa-fw" style="font-size: 120px; color: #ddd;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div v-if="view == 'newBooking'">
                        <button v-if="newBooking.step == 1" @click="goToView('diary')" type="button" class="btn btn-default pull-left">Cancelar</button>

                        <button v-if="newBooking.step == 1" @click="newBookingRegister()" type="button" class="btn btn-primary" :disabled="!newBookingCheckData">Registrar</button>
                        <button v-if="newBooking.step == 2 && newBooking.booking" @click="goToView('diary')" type="button" class="btn btn-default">Aceptar</button>
                    </div>
                    <div v-if="view == 'lockBooking'">
                        <button v-if="lockBooking.step == 1" @click="goToView('diary')" type="button" class="btn btn-default pull-left">Cancelar</button>

                        <button v-if="lockBooking.step == 1" @click="lockBookingConfirm()" type="button" class="btn btn-primary" :disabled="!lockBookingCheckData">Confirmar</button>
                        <button v-if="lockBooking.step == 2 && lockBooking.locked" @click="goToView('diary')" type="button" class="btn btn-default">Aceptar</button>
                    </div>
                    <div v-if="view == 'unlockBooking'">
                        <button v-if="unlockBooking.step == 1" @click="goToView('diary')" type="button" class="btn btn-default pull-left">Cancelar</button>

                        <button v-if="unlockBooking.step == 1" @click="unlockBookingConfirm()" type="button" class="btn btn-primary" :disabled="!unlockBookingCheckData">Confirmar</button>
                        <button v-if="unlockBooking.step == 2 && unlockBooking.unlocked" @click="goToView('diary')" type="button" class="btn btn-default">Aceptar</button>
                    </div>
                    <div v-if="view == 'cancelBooking'">
                        <button v-if="cancelBooking.step == 1" @click="goToView('diary')" type="button" class="btn btn-default pull-left">Cancelar</button>

                        <button v-if="cancelBooking.step == 1" @click="cancelBookingConfirm()" type="button" class="btn btn-primary" :disabled="!cancelBookingCheckData">Confirmar</button>
                        <button v-if="cancelBooking.step == 2 && cancelBooking.canceled" @click="goToView('diary')" type="button" class="btn btn-default">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted(){
            this.openDialog();
            this.loadEventListeners();
        },
        data(){
            return {
                currentBranch: null,
                currentDoctor: null,
                currentDate: null,
                currentDateTime: null,

                currentBeginDate: null,
                currentEndDate: null,
                currentView: 'day',
                currentDayHours: [],

                freehours: [],
                loading: false,
                shared: store.data,
                alert: {
                    message: null,
                    type: 'info'
                },

                view: 'diary',
                newBooking: {
                    currentHealthCompany: null,
                    currentAttentionType: null,
                    currentDateTime: null,
                    extraDate: {
                        date: null,
                        hour: null
                    },
                    patient: {
                        status: 'Pendiente',

                        id: null,
                        rut: '',
                        firstname: null,
                        lastname: null,
                        phone: null,
                        email: null,
                        birthdate: null,
                        address: null,
                    },
                    observations: null,
                    booking: null,
                    type: 'Normal',
                    step: 1,
                },
                lockBooking: {
                    step: 1,
                    bookingdate: null,
                    reason: null,
                    locked: false
                },
                unlockBooking: {
                    step: 1,
                    booking_id: null,
                    reason: null,
                    unlocked: false
                },
                cancelBooking: {
                    step: 1,
                    booking_id: null,
                    reason: null,
                    canceled: false
                },
                password: '',
            };
        },
        methods: {
            openDialog(){
                store.log("RadDiaryDialog::openDialog()");
                let that = this;

                $("#newRadDiaryDialog")
                    .modal('show')
                    .on('hidden.bs.modal', function(){
                        that.closeDialog();
                    });

                setTimeout(function(){
                    that.resizeDialog();

                    if($("#bookingTraCalendar").attr("hasLoaded") != 'Si'){
                        $("#bookingTraCalendar").datepicker({
                            startDate: '0d',
                            language: 'es',
                            format: 'yyyy-mm-dd'
                        }).on('changeDate', function(e){
                            e.preventDefault();

                            that.currentDate = e.format();

                            let beginDate = moment(that.currentDate).startOf('isoweek').format("YYYY-MM-DD");
                            let endDate = moment(that.currentDate).endOf('isoweek').format("YYYY-MM-DD");

                            if(beginDate != that.currentBeginDate && endDate != that.currentEndDate){
                                that.currentBeginDate = beginDate;
                                that.currentEndDate = endDate;

                                that.loadResumeHours();
                            }
                        }).datepicker('setDate', moment().format('YYYY-MM-DD'));

                        $("#bookingTraCalendar").attr("hasLoaded", "Si");
                    }
                }, 500);
            },
            closeDialog(){
                store.log("RadDiaryDialog::closeDialog()");
                this.$root.$refs.secretaryDashboard.showRadDiaryDialog = false;
            },
            loadEventListeners(){
                store.log("RadDiaryDialog::loadEventListeners()");
                let that = this;

                bus.$on('patientData-patient-changed', function(patient){
                    if(that.view == 'newBooking'){
                        that.newBooking.patient = patient;
                    }
                });

                bus.$on('patientData-alert-changed', function(alert){
                    that.alert = alert;
                });

                bus.$on('patientData-healthcompany-changed', function(healthcompany){
                    if(that.view == 'newBooking'){
                        that.newBooking.currentHealthCompany = healthcompany;
                    }
                });

                bus.$on('patientData-attentiontype-changed', function(attentiontype){
                    if(that.view == 'newBooking'){
                        that.newBooking.currentAttentionType = attentiontype;
                    }
                });

                bus.$on('patientData-observations-changed', function(observations){
                    if(that.view == 'newBooking'){
                        that.newBooking.observations = observations;
                    }
                });

                bus.$on('securePassword-password-changed', function (password){
                    that.password = password;
                });
            },
            selectBranch(){
                store.log("RadDiaryDialog::selectBranch()");

                this.currentDoctor = null;
            },
            selectDoctor(){
                this.loadResumeHours();
            },
            selectDateTime(datetime){
                store.log("RadDiaryDialog::selectDateTime()");
                let that = this;

                if(confirm("¿Desea reservar esta hora?")){
                    that.newBooking.currentDateTime = moment(datetime).format('YYYY-MM-DD HH:mm:00');
                    that.newBooking.type = 'Normal';
                    that.goToView('newBooking');
                }
            },
            selectExtraDate(date){
                store.log("RadDiaryDialog::selectExtraDate()");
                let that = this;

                that.newBookingReset();
                that.newBooking.type = 'Extra';
                that.newBooking.extraDate.date = date;
            },
            confirmExtraDate(){
                store.log("RadDiaryDialog::confirmExtraDate()");
                let that = this;

                if(confirm("¿Desea reservar esta hora extra?")){
                    that.goToView('newBooking');
                }
            },
            loadResumeHours(callback){
                store.log("RadDiaryDialog::loadResumeHours()");
                let that = this;

                let date = that.currentDate;
                let doctor_id = (that.currentDoctor) ? that.currentDoctor.id : null;
                let branch_id = (that.currentBranch) ? that.currentBranch.id : null;
                that.freehours = [];

                if(date && date != ''){
                    if(doctor_id && branch_id){
                        let query = 'doctor_id=' + doctor_id;
                        query += '&branch_id=' + branch_id;
                        query += '&begin_date=' + that.currentBeginDate;
                        query += '&end_date=' + that.currentEndDate;

                        that.loading = true;
                        Vue.http.get('/api/doctors/dailyhoursbetween?' + query)
                            .then((response) => {
                                var rs = response.body;
                                that.loading = false;

                                if(rs.success){
                                    that.freehours = rs.data;


                                    if(typeof callback == 'function')
                                        callback();

                                    setTimeout(function(){
                                        $('.timeInput').mask('00:00');
                                    }, 300);
                                }else{
                                    alert(rs.message);
                                }
                            }, (response) => {
                                alert("Algo salio mal, por favor intente nuevamente!");
                            }
                        );
                    }
                }
            },
            resizeDialog(){
                $(".modal-body").css('maxHeight', (window.outerHeight - 190) + 'px')
                    .css('overflow', 'scroll');
            },
            goToView(view){
                store.log("RadDiaryDialog::goToView()");
                let that = this;

                if(view == 'newBooking'){
                    that.newBookingReset();
                    that.newBooking.step = 1;
                }

                that.view = view;
            },
            newBookingRegister(){
                store.log("RadDiaryDialog::newBookingRegister()");

                let that = this;
                let patient_id = that.newBooking.patient.id;
                that.newBookingGoNextStep();

                let patientData = {
                    healthcompany_id: that.newBooking.currentHealthCompany.id,
                    rut:            that.newBooking.patient.rut,
                    firstname:      that.newBooking.patient.firstname,
                    lastname:       that.newBooking.patient.lastname,
                    email:          that.newBooking.patient.email || '',
                    phone:          that.newBooking.patient.phone || '',
                    address:        that.newBooking.patient.address || '',
                    birthdate:      moment(that.newBooking.patient.birthdate, "DD/MM/YYYY").format("YYYY-MM-DD"),
                    age:            moment().diff(moment(that.newBooking.patient.birthdate, "DD/MM/YYYY"), 'years'),
                    password:       that.password
                };

                if(patientData.healthcompany_id == null || patientData.healthcompany_id == ''){
                    that.showAlert("Debe seleccionar previsión del paciente", "warning");
                    return;
                }

                if(patientData.rut != 'PENDIENTE' && (patientData.rut == null || patientData.rut == '')){
                    that.showAlert("Debe ingresar el rut del paciente", "warning");
                    return;
                }

                if(patientData.firstname == null || patientData.firstname == '' || patientData.lastname == null || patientData.lastname == ''){
                    that.showAlert("Debe ingresar el nombre y apellidos del paciente", "warning");
                    return;
                }

                if(patientData.phone == null || patientData.phone == ''){
                    that.showAlert("Debe ingresar el teléfono del paciente", "warning");
                    return;
                }

                if(patientData.birthdate == null || patientData.birthdate == ''){
                    that.showAlert("Debe ingresar la fecha de nacimiento del paciente", "warning");
                    return;
                }

                if(patientData.password == null || patientData.password == ''){
                    that.showAlert("Debe ingresar su clave de seguridad", "warning");
                    return;
                }

                let bookingData = {
                    healthcompany_id:   that.newBooking.currentHealthCompany.id,
                    attentiontype_id:   that.newBooking.currentAttentionType.id,
                    branch_id:          that.currentBranch.id,
                    doctor_id:          that.currentDoctor.id,
                    patient_id:         patient_id,
                    bookingdate:        (that.newBooking.type == 'Normal') ? that.newBooking.currentDateTime : that.newBooking.extraDate.date + ' ' + that.newBooking.extraDate.hour + ':00',
                    observations:       that.newBooking.observations,
                    type:               that.newBooking.type,
                    password:           that.password
                };

                let bookingSuccess = function(rs){
                    if(rs.success){
                        that.newBooking.booking = rs.data;
                        that.loadResumeHours();

                        that.newBooking.type = 'Normal';
                        that.newBooking.extraDate = {
                            date: null,
                            hour: null
                        };
                    }else{
                        that.showAlert(rs.message, 'warning');
                        that.newBookingGoPreviousStep();
                    }
                };
                let failback = function(response){
                    that.showAlert("Algo salio mal, por favor intente nuevamente!", 'danger');
                    that.newBookingGoPreviousStep();
                };

                let patientSuccess = function(rs){
                    if(rs.success){
                        that.newBooking.patient = rs.data;
                        that.newBooking.patient.birthdate = moment(that.newBooking.patient.birthdate, "YYYY-MM-DD").format("DD/MM/YYYY");
                        bookingData.patient_id = that.newBooking.patient.id;

                        bookingModel.store(bookingData, bookingSuccess, failback);
                    }else{
                        that.showAlert(rs.message, 'warning');
                        that.newBookingGoPreviousStep();
                    }
                };

                if(!patient_id){
                    patientModel.store(patientData, patientSuccess, failback);
                }else{
                    patientModel.update(patient_id, patientData, patientSuccess, failback);
                }
            },
            newBookingReset(){
                let currentDateTime = this.newBooking.currentDateTime;
                let extraDate = this.newBooking.extraDate;
                let type = this.newBooking.type;

                this.newBooking = {
                    currentHealthCompany: null,
                    currentAttentionType: null,
                    currentDateTime: currentDateTime,
                    extraDate: extraDate,
                    patient: {
                        status: 'Pendiente',

                        id: null,
                        rut: '',
                        firstname: null,
                        lastname: null,
                        phone: null,
                        email: null,
                        birthdate: null,
                        address: null,
                    },
                    observations: null,
                    booking: null,
                    type: type,
                    step: 1,
                };
                this.password = '';
            },
            newBookingGoNextStep(){
                this.newBooking.step++;
            },
            newBookingGoPreviousStep(){
                this.newBooking.step--;
            },

            lockBookingQuestion(bookingdate){
                if(confirm("¿Está seguro de bloquear esta hora?")){
                    this.lockBookingReset();

                    this.view = 'lockBooking';
                    this.lockBooking.bookingdate = bookingdate;
                }
            },
            lockBookingConfirm(){
                store.log("RadDiaryDialog::lockBookingConfirm()");

                let that = this;
                that.lockBookingGoNextStep();

                let lockData = {
                    datetime:   that.lockBooking.bookingdate,
                    reason:     that.lockBooking.reason,
                    password:   that.password,
                    branch_id:  that.currentBranch.id,
                    doctor_id:  that.currentDoctor.id
                };

                that.loading = true;
                Vue.http.post('/api/bookings/lock', lockData)
                    .then((response) => {
                        var rs = response.body;
                        that.loading = false;

                        if(rs.success){
                            that.lockBooking.locked = true;
                            that.loadResumeHours();
                        }else{
                            that.showAlert(rs.message, "warning");
                            that.lockBookingGoPreviousStep();
                        }
                    }, (response) => {
                        that.showAlert("Algo salio mal, por favor intente nuevamente!", "warning");
                        that.lockBookingGoPreviousStep();
                    }
                );
            },
            lockBookingGoNextStep(){
                this.lockBooking.step++;
            },
            lockBookingGoPreviousStep(){
                this.lockBooking.step--;
            },
            lockBookingReset(){
                this.password = '';
                this.lockBooking.step = 1;
                this.lockBooking.reason = null;
                this.lockBooking.locked = false;
                this.lockBooking.bookingdate = null;
            },

            unlockBookingQuestion(booking_id){
                if(confirm("¿Está seguro de desbloquear esta hora?")){
                    this.unlockBookingReset();

                    this.view = 'unlockBooking';
                    this.unlockBooking.booking_id = booking_id;
                }
            },
            unlockBookingConfirm(){
                store.log("RadDiaryDialog::unlockBookingConfirm()");

                let that = this;
                that.unlockBookingGoNextStep();

                let lockData = {
                    booking_id:   that.unlockBooking.booking_id,
                    reason:     that.unlockBooking.reason,
                    password:   that.password
                };

                that.loading = true;
                Vue.http.post('/api/bookings/unlock', lockData)
                    .then((response) => {
                        var rs = response.body;
                        that.loading = false;

                        if(rs.success){
                            that.unlockBooking.unlocked = true;
                            that.loadResumeHours();
                        }else{
                            that.showAlert(rs.message, "warning");
                            that.unlockBookingGoPreviousStep();
                        }
                    }, (response) => {
                        that.showAlert("Algo salio mal, por favor intente nuevamente!", "warning");
                        that.unlockBookingGoPreviousStep();
                    }
                );
            },
            unlockBookingGoNextStep(){
                this.unlockBooking.step++;
            },
            unlockBookingGoPreviousStep(){
                this.unlockBooking.step--;
            },
            unlockBookingReset(){
                this.password = '';
                this.unlockBooking.step = 1;
                this.unlockBooking.reason = null;
                this.unlockBooking.unlocked = false;
                this.unlockBooking.booking_id = null;
            },

            cancelBookingQuestion(booking_id){
                if(confirm("¿Está seguro de anular esta reserva?")){
                    this.cancelBookingReset();

                    this.view = 'cancelBooking';
                    this.cancelBooking.booking_id = booking_id;
                }
            },
            cancelBookingConfirm(){
                store.log("RadDiaryDialog::cancelBookingConfirm()");

                let that = this;
                that.cancelBookingGoNextStep();

                let lockData = {
                    booking_id: that.cancelBooking.booking_id,
                    reason:     that.cancelBooking.reason,
                    password:   that.password
                };

                that.loading = true;
                Vue.http.post('/api/bookings/cancel', lockData)
                    .then((response) => {
                        var rs = response.body;
                        that.loading = false;

                        if(rs.success){
                            that.cancelBooking.canceled = true;
                            that.loadResumeHours();
                        }else{
                            that.showAlert(rs.message, "warning");
                            that.cancelBookingGoPreviousStep();
                        }
                    }, (response) => {
                        that.showAlert("Algo salio mal, por favor intente nuevamente!", "warning");
                        that.cancelBookingGoPreviousStep();
                    }
                );
            },
            cancelBookingGoNextStep(){
                this.cancelBooking.step++;
            },
            cancelBookingGoPreviousStep(){
                this.cancelBooking.step--;
            },
            cancelBookingReset(){
                this.password = '';
                this.cancelBooking.step = 1;
                this.cancelBooking.reason = null;
                this.cancelBooking.canceled = false;
                this.cancelBooking.booking_id = null;
            },

            // Utils
                moment(date){

                    return moment(date);
                },
                validateRut: function (rutCompleto) {
                    if (!/^[0-9]+-[0-9kK]{1}$/.test( rutCompleto ))
                        return false;
                    var tmp     = rutCompleto.split('-');
                    var digv    = tmp[1];
                    var rut     = tmp[0];
                    if ( digv == 'K' ) digv = 'k' ;
                    return (this.dv(rut) == digv );
                },
                dv: function(T){
                    var M=0,S=1;
                    for(;T;T=Math.floor(T/10))
                        S=(S+T%10*(9-M++%6))%11;
                    return S?S-1:'k';
                },
                inArray: function(needle, haystack) {
                    var length = haystack.length;
                    for(var i = 0; i < length; i++) {
                        if(haystack[i] == needle) return true;
                    }
                    return false;
                },
                showAlert(message, type){
                    let that = this;

                    that.alert.message = message;
                    that.alert.type = type;

                    setTimeout(function(){
                        that.alert.message = '';
                    }, 5000);
                },
        },
        computed: {
            currentDateHours(){
                let that = this;

                let hours = that.freehours.filter(function(day){
                    return (day.date == that.currentDate);
                });

                return (hours[0]) ? hours[0] : {date: null, hours: [], extra: []};
            },

            newBookingCheckData(){
                let that = this;

                if(!that.newBooking.currentHealthCompany || !that.newBooking.patient)
                    return false;

                let patientData = {
                    healthcompany_id: that.newBooking.currentHealthCompany.id,
                    rut:            that.newBooking.patient.rut,
                    firstname:      that.newBooking.patient.firstname,
                    lastname:       that.newBooking.patient.lastname,
                    phone:          that.newBooking.patient.phone || '',
                    birthdate:      moment(that.newBooking.patient.birthdate, "DD/MM/YYYY").format("YYYY-MM-DD"),
                    password:       that.password
                };

                if(patientData.healthcompany_id == null || patientData.healthcompany_id == ''){
                    return false;
                }

                if(patientData.rut != 'PENDIENTE' && (patientData.rut == null || patientData.rut == '')){
                    return false;
                }

                if(patientData.firstname == null || patientData.firstname == '' || patientData.lastname == null || patientData.lastname == ''){
                    return false;
                }

                if(patientData.phone == null || patientData.phone == ''){
                    return false;
                }

                if(patientData.birthdate == null || patientData.birthdate == ''){
                    return false;
                }

                if(patientData.password == null || patientData.password == ''){
                    return false;
                }

                return true;
            },
            lockBookingCheckData(){
                if(!this.lockBooking.reason || this.lockBooking.reason == '')
                    return false;

                if(!this.password || this.password == '')
                    return false;

                return true;
            },
            unlockBookingCheckData(){
                if(!this.unlockBooking.reason || this.unlockBooking.reason == '')
                    return false;

                if(!this.password || this.password == '')
                    return false;

                return true;
            },
            cancelBookingCheckData(){
                if(!this.cancelBooking.reason || this.cancelBooking.reason == '')
                    return false;

                if(!this.password || this.password == '')
                    return false;

                return true;
            },
        },
        props: []
    }
</script>
