<template>
	<div class="modal fade" tabindex="-1" role="dialog" id="receivePatientDialog" data-backdrop="static">
		<div class="modal-dialog modal-xlg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Recepcionar Paciente [{{ (selectedHour ? selectedHour.code : '') }}]</h4>
				</div>
				<div class="modal-body">
                    <alert v-if="alert.message" :message="alert.message" :type="alert.type"></alert>

                    <div v-if="step == 1">
    					<div class="row">
                            <div class="col-sm-3">
                                <label for="rp_code" class="control-label">Código Reserva:</label>
                                <input @keyup.enter="findHours()" type="text" id="rp_code" v-model="search.code" class="form-control" placeholder="X2DFV" maxlength="10">
                            </div>
    						<div class="col-sm-3">
    							<label for="rp_rut" class="control-label">Rut:</label>
    							<input @keyup.enter="findHours()" type="text" id="rp_rut" v-model="search.rut" class="form-control" placeholder="ej. 16023817-8" maxlength="10">
    						</div>
    						<div class="col-sm-6">
    							<label for="rp_name" class="control-label">Nombre:</label>
    							<input @keyup.enter="findHours()" type="text" id="rp_name" v-model="search.name" class="form-control" placeholder="ej. Jorge Rojas">
    						</div>
                        </div>
                        <div class="row">
    						<div class="col-sm-3">
    							<label for="rp_bookingdate" class="control-label">Fecha:</label>
                                <div class="input-group">
    							    <input @keyup.enter="findHours()" type="text" id="rp_bookingdate" v-model="search.bookingdate" class="form-control">
                                    <span class="input-group-btn">
                                        <button @click="clearBookingDate()" class="btn btn-primary" type="button">&times;</button>
                                    </span>
                                </div>
    						</div>
    						<div class="col-sm-3">
    							<label for="rp_branch" class="control-label">Sucursal:</label>
    							<select class="form-control" v-model="search.branch_id">
    								<option :value="null">-seleccione-</option>
    								<option :value="branch.id" v-for="branch in shared.branches">{{ branch.name }}</option>
    							</select>
    						</div>
    						<div class="col-sm-3">
    							<label for="rp_doctor" class="control-label">Doctor:</label>
    							<select class="form-control" v-model="search.doctor_id">
    								<option :value="null">-seleccione-</option>
    								<option :value="doctor.id" v-for="doctor in shared.doctors">{{ doctor.name }}</option>
    							</select>
    						</div>
    						<div class="col-sm-3">
    							<br>
    							<button @click="findHours()" type="button" class="btn btn-primary btn-block" v-if="!loading" :disabled="!searchable">
    								<i class="fa fa-search"></i> Buscar
    							</button>
                                <button type="button" class="btn btn-primary btn-block" disabled v-if="loading">
                                    <i class="fa fa-refresh fa-spin fa-fw"></i> Buscando...
                                </button>
    						</div>
    					</div>
    					<hr>

                        <div style="max-height: 400px; overflow: scroll;">
        					<table v-if="loading === false && loaded === true && hours.length > 0" class="table table-bordered table-hover">
        						<thead>
        							<tr>
        								<th class="text-center">Código</th>
        								<th>Paciente</th>
        								<th class="text-center">Fecha/Hora</th>
        								<th>Doctor</th>
        								<th>Sucursal</th>
        								<th>Especialidad</th>
        								<th>&nbsp;</th>
        							</tr>
        						</thead>
        						<tbody>
        							<tr v-for="hour in hours">
        								<td class="text-center" style="width: 80px;">
                                            {{ hour.code.toUpperCase() }}
                                        </td>
        								<td>
                                            <small>{{ hour.patient.rut }}</small><br>
                                            {{ hour.patient.firstname + ' ' + hour.patient.lastname }}
                                        </td>
        								<td class="text-center" style="width: 120px;">
                                            {{ moment(hour.bookingdate).format("DD/MMM HH:mm") }}
                                        </td>
        								<td>{{ hour.doctor.name }}</td>
        								<td>{{ hour.branch.name }}</td>
        								<td>{{ hour.doctor.profile }}</td>
        								<td class="text-center">
        									<a href="#" @click="selectHour(hour)" class="btn btn-primary btn-sm">
        										<i class="fa fa-circle-o"></i> Seleccionar
        									</a>
        								</td>
        							</tr>
        						</tbody>
        					</table>
                        </div>

                        <div v-if="loading === false && loaded === true && hours.length == 0" class="alert alert-warning">
                            <i class="fa fa-warning"></i> No se encontraron resultados.
                        </div>

                        <div v-if="loading" class="alert alert-info text-center">
                            <p class="lead" style="margin: 20px 0;">
                                <i class="fa fa-refresh fa-spin fa-fw"></i> Buscando...
                            </p>
                        </div>
                    </div>
                    <div v-if="step == 2">
                        <patientdata
                            :parentPatient="selectedHour.patient"
                            :parentHealthCompany="selectedHour.healthcompany"
                            :parentAttentionType="selectedHour.attentiontype"
                            :parentObservations="selectedHour.observations"
                            :parentAlert="alert"
                            type="EDIT"
                        ></patientdata>
                    </div>
                    <div v-if="step == 3">
                        <paymentproductsview
                            :parentProducts="products"
                            :parentData="payment"
                            :healthcompany="currentHealthCompany"></paymentproductsview>
                    </div>
                    <div v-if="step == 4">

                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">
                                <securepassword v-if="!loaded || !loading" v-show="!loading" :password="payment.password"></securepassword>
                            </div>
                        </div>

                        <div v-if="loading" class="alert alert-info text-center">
                            <p class="lead" style="margin: 20px 0;">
                                <i class="fa fa-refresh fa-spin fa-fw"></i> Procesando...
                            </p>
                        </div>
                    </div>
                    <div v-if="step == 5">
                        <div class="alert alert-success">
                            <p class="lead">
                                <i class="fa fa-check-square-o"></i>
                                La hora ha sido recepcionada {{ (payed) ? 'y pagada' : '' }} correctamente.
                            </p>
                        </div>
                    </div>
				</div>
				<div class="modal-footer">
					<button v-if="step > 1 && step < 5" @click="goPreviousStep()" :disabled="step == 1" type="button" class="btn btn-default pull-left">Atrás</button>

                    <button v-if="step == 2" @click="goLastStep()" type="button" class="btn btn-default">Pagar al finalizar sesiones</button>
					<button v-if="step <= 3" @click="goNextStep()" type="button" class="btn btn-primary" :disabled="!checkIfContinue">
                        {{ (step == 2) ? 'Pagar atención' : 'Continuar' }}
                    </button>
                    <button v-if="step == 4" @click="registerPayment()" type="button" class="btn btn-primary" :disabled="!checkIfContinue">Confirmar</button>

                    <button v-if="step == 5" type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
    export default {
        mounted(){
            this.openDialog();
            this.loadEventListeners();
        },
        data(){
        	return {
        		search: {
                    code: null,
        			rut: null,
        			name: null,
        			doctor_id: null,
        			branch_id: null,
        			bookingdate: null,
        		},
                selectedHour: null,
        		hours: [],
        		alert: {
                    message: null,
                    type: 'info'
                },
        		shared: store.data,
                loading: false,
                loaded: false,
                step: 1,
                currentHealthCompany: null,
                currentAttentionType: null,
                observations: null,
                payment: {
                    subtotal: 0,
                    discount: 0,
                    discount_reason: null,
                    total: 0,

                    health_amount: 0,
                    health_number: null,

                    insurance: null,
                    insurance_amount: 0,
                    insurance_number: null,

                    copago_amount: 0,
                    copago_number: null,

                    payment_credit_amount: 0,
                    payment_debit_amount: 0,
                    payment_commercial: null,
                    payment_commercial_amount: 0,
                    payment_cash_amount: 0,
                    password: ''
                },
                pay: true,
                payed: false,
                products: []
        	};
        },
        methods: {
        	openDialog(){
        		store.log("receivePatientDialog::openDialog()");
                let that = this;

                $("#receivePatientDialog")
                    .modal('show')
                    .on('hidden.bs.modal', function(){
                        that.closeDialog();
                    });

                that.search.bookingdate = moment().format('YYYY-MM-DD');

                if($("#rp_bookingdate").attr("hasLoaded") != 'Si'){
                    $("#rp_bookingdate").datepicker({
                        startDate: '0d',
                        language: 'es',
                        format: 'yyyy-mm-dd',
                        autoclose: true
                    }).on('changeDate', function(e){
                        e.preventDefault();

                        that.search.bookingdate = e.format();
                    });

                    $("#rp_bookingdate").attr("hasLoaded", "Si");
                }
        	},
        	closeDialog(){
        		store.log("receivePatientDialog::closeDialog()");
                this.$root.$refs.secretaryDashboard.showReceivePatientDialog = false;
        	},
            loadEventListeners(){
                store.log("receivePatientDialog::loadEventListeners()");

                let that = this;

                bus.$on('patientData-patient-changed', function(patient){
                    that.patient = patient;
                });

                bus.$on('patientData-alert-changed', function(alert){
                    that.alert = alert;
                });

                bus.$on('patientData-healthcompany-changed', function(healthcompany){
                    that.currentHealthCompany = healthcompany;
                    that.selectedHour.healthcompany = healthcompany;
                });

                bus.$on('patientData-attentiontype-changed', function(attentiontype){
                    that.currentAttentionType = attentiontype;
                    that.selectedHour.attentiontype = attentiontype;
                });

                bus.$on('patientData-observations-changed', function(observations){
                    that.observations = observations;
                });

                bus.$on('securePassword-password-changed', function (password){
                    that.payment.password = password;
                });

                bus.$on('paymentview-values-changed', function (paymentData){
                    that.payment.subtotal = paymentData.subtotal;
                    that.payment.discount = paymentData.discount;
                    that.payment.discount_reason = paymentData.discount_reason;
                    that.payment.total = paymentData.total;

                    that.payment.health_amount = paymentData.health_amount;
                    that.payment.health_number = paymentData.health_number;

                    that.payment.insurance = paymentData.insurance;
                    that.payment.insurance_amount = paymentData.insurance_amount;
                    that.payment.insurance_number = paymentData.insurance_number;

                    that.payment.excessive_amount = paymentData.excessive_amount;
                    that.payment.excessive_number = paymentData.excessive_number;

                    that.payment.copago_amount = paymentData.copago_amount;
                    that.payment.copago_number = paymentData.copago_number;

                    that.payment.payment_credit_amount = paymentData.payment_credit_amount;
                    that.payment.payment_debit_amount = paymentData.payment_debit_amount;
                    that.payment.payment_commercial = paymentData.payment_commercial;
                    that.payment.payment_commercial_amount = paymentData.payment_commercial_amount;
                    that.payment.payment_cash_amount = paymentData.payment_cash_amount;
                });
            },
        	selectHour(hour){
                let that = this;
                store.log("receivePatientDialog::selectHour()");

                hour.patient.birthdate =  (hour.patient.birthdate == '' ? '' : moment(hour.patient.birthdate).format("DD/MM/YYYY"));
        		that.selectedHour = hour;
                that.products = [];

                if(that.selectedHour.doctor.profile == 'Kinesiólogo'){
                    that.selectedHour.kinedetail.product.subproducts.forEach((subproduct) => {
                        let service = subproduct;
                        if(subproduct.code == '0601001'){
                            let sortedBookings = that.selectedHour.kinedetail.bookings.sort(function(bookingA, bookingB){
                                return moment(bookingA.bookingdate).isAfter(bookingB.bookingdate);
                            });

                            if(that.selectedHour.kinedetail.evaluation == 'Si'){
                                let index = 0;
                                sortedBookings.forEach((booking) => {
                                    if(that.selectedHour.id == booking.id && (index == 0 || (index+1) == sortedBookings.length)){
                                        service.quantity = 1;
                                        that.products.push(service);
                                    }
                                    index++;
                                });
                            }
                        }else{
                            service.quantity = 1;
                            that.products.push(service);
                        }
                    });
                }else{
                    let services = that.shared.products.filter((product) => {
                        return (product.doctor_id == that.selectedHour.doctor.id);
                    });
                    let service = services[0];
                    service.quantity = 1;

                    that.products.push(service);
                }
        	},
            findHours(){
                store.log("receivePatientDialog::findHours()");
                let that = this;

                if(!that.searchable){
                    alert("Por favor ingrese algun filtro (código, rut o nombre)");
                    return;
                }

                that.selectedHour = null;
                that.hours = [];
                that.loading = true;
                Vue.http.post('/api/bookings/search', that.search)
                    .then((response) => {
                        var rs = response.body;
                        that.loading = false;
                        that.loaded = true;

                        if(rs.success){
                            that.hours = rs.data;
                        }
                    }, (response) => {
                        alert("Algo salio mal, por favor intente nuevamente!");
                    }
                );
            },
            clearBookingDate(){
                store.log("receivePatientDialog::clearBookingDate()");

                this.search.bookingdate = null;
            },
            goNextStep(){
                store.log("receivePatientDialog::goNextStep()");

                this.step++;

                if(this.step == 3){
                    this.pay = true;
                    if(this.selectedHour.payment_status == 'Pagado'){
                        this.step++;
                    }else{
                        this.calculateSubtotal();
                    }
                }
            },
            goLastStep(){
                this.pay = false;
                this.step = 4;
            },
            goPreviousStep(){
                store.log("receivePatientDialog::goPreviousStep()");

                if(this.step > 1){
                    if(this.step == 4 && this.selectedHour.payment_status == 'Pagado'){
                        this.step -= 2;
                    }else{
                        this.step--;
                    }
                }
            },
            registerPayment(){
                store.log("receivePatientDialog::registerPayment()");

                let that = this;

                that.loading = true;
                that.loaded = false;

                Vue.http.post('/api/bookings/' + that.selectedHour.id + '/receipt', that.dataForRegister)
                    .then((response) => {
                        var rs = response.body;

                        that.loading = false;

                        if(rs.success){
                            that.loaded = true;
                            that.payed = rs.data.payed;

                            that.goNextStep();
                        }else{
                            that.loaded = false;
                            that.showAlert(rs.message, 'warning');
                        }
                    }, (response) => {
                        that.loading = false;
                        that.showAlert("Algo salio mal, por favor intente nuevamente!", 'danger');
                    }
                );
            },
            calculateSubtotal(){
                store.log("receivePatientDialog::calculateSubtotal()");
                var that = this;
                if(!that.checkInitial) return;
                let prices = [];
                let hCId = that.selectedHour.healthcompany.id;
                that.payment.subtotal = 0;

                that.products.forEach((product) => {
                    product.price = 0;
                    product.total = 0;

                    let prices = product.prices.filter(function(price){
                        return price.company_id == hCId;
                    });
                    if(prices.length == 0){
                        prices = product.prices.filter(function(price){return price.company_id == 11;});
                    }
                    if(prices[0] && prices[0].price > 0){
                        product.price = prices[0].price;
                        product.total = product.price * product.quantity;
                    }

                    that.payment.subtotal += parseInt(product.total);
                });
            },

            // Utils
                moment(date){

                    return moment(date);
                },
                validateRut: function (rutCompleto) {
                    if (!/^[0-9]+-[0-9kK]{1}$/.test( rutCompleto ))
                        return false;
                    var tmp     = rutCompleto.split('-');
                    var digv    = tmp[1];
                    var rut     = tmp[0];
                    if ( digv == 'K' ) digv = 'k' ;
                    return (this.dv(rut) == digv );
                },
                dv: function(T){
                    var M=0,S=1;
                    for(;T;T=Math.floor(T/10))
                        S=(S+T%10*(9-M++%6))%11;
                    return S?S-1:'k';
                },
                inArray: function(needle, haystack) {
                    var length = haystack.length;
                    for(var i = 0; i < length; i++) {
                        if(haystack[i] == needle) return true;
                    }
                    return false;
                },
                showAlert(message, type){
                    let that = this;

                    that.alert.message = message;
                    that.alert.type = type;

                    setTimeout(function(){
                        that.alert.message = '';
                    }, 5000);
                },
                selectAllContent(event){
                    $(event.target).select();
                },
        },
        computed: {
        	searchable(){
                return (this.search.code !== null || this.search.rut !== null || this.search.name !== null);
            },
            checkInitial(){
                if(!this.selectedHour)
                    return false;

                return true;
            },
            checkPatientData(){
                if(!this.checkInitial || !this.selectedHour.patient) return false;

                return (this.validateRut(this.selectedHour.patient.rut) && this.selectedHour.patient.firstname!='' && this.selectedHour.patient.lastname!='' && this.selectedHour.patient.birthdate.length == 10);
            },
            checkBookingData(){
                if(!this.checkInitial) return false;

                return (!this.selectedHour.healthcompany || !this.selectedHour.attentiontype ? false : true);
            },
            checkIfContinue(){
                if(this.step == 1){
                    return this.selectedHour;
                }else if(this.step == 2){
                    return (this.checkPatientData === true && this.checkBookingData === true);
                }else if(this.step == 3){
                    if(this.pay == false) return true;

                    let discountOk = (this.payment.discount > 0 && this.payment.discount_reason === null ? false : true);
                    let healthOk = (this.payment.health_amount > 0 && this.payment.health_number === null ? false : true);
                    //let insuranceOk = (this.payment.insurance_amount > 0 && (!this.payment.insurance || this.payment.insurance_number === null) ? false : true);
                    //let excessiveOk = (this.payment.excessive_amount > 0 && this.payment.excessive_number === null ? false : true);
                    let copagoOk = (this.payment.copago_amount > 0 && this.payment.copago_number === null ? false : true);
                    let comercialOk = (this.payment.payment_commercial_amount > 0 && !this.payment.payment_commercial ? false : true);
                    let cashOk = (this.payment.payment_cash_amount >= 0 ? true : false);

                    return (this.payment.subtotal >= 0 && discountOk === true && this.payment.total >=0 && healthOk === true && copagoOk === true && comercialOk === true && cashOk === true);
                }else if(this.step == 4){
                    return (this.payment.password != '');
                }

                return false;
            },
            dataForRegister(){
                let that = this;

                if(that.step < 3 || that.checkIfContinue !== true)
                    return {};

                return {
                    pay: that.pay,
                    password: that.payment.password,
                    patient_id: that.selectedHour.patient.id,
                    patient_rut: that.selectedHour.patient.rut,
                    patient_firstname: that.selectedHour.patient.firstname,
                    patient_lastname: that.selectedHour.patient.lastname,
                    patient_email: that.selectedHour.patient.email,
                    patient_phone: that.selectedHour.patient.phone,
                    patient_address: that.selectedHour.patient.address,
                    patient_birthdate: moment(that.selectedHour.patient.birthdate, "DD/MM/YYYY").format("YYYY-MM-DD"),
                    patient_age: moment().diff(moment(that.selectedHour.patient.birthdate, "DD/MM/YYYY"), 'years'),

                    booking_healthcompany_id: (that.currentHealthCompany) ? that.currentHealthCompany.id : null,
                    booking_attentiontype_id: (that.currentAttentionType) ? that.currentAttentionType.id : null,
                    booking_observations: that.observations,

                    payment_healthcompany_id: (that.currentHealthCompany ? that.currentHealthCompany.id : null),
                    payment_insurancecompany_id: (that.payment.insurance ? that.payment.insurance.id : null),
                    payment_commercialcompany_id: (that.payment.payment_commercial ? that.payment.payment_commercial.id : null),
                    payment_subtotal: that.payment.subtotal,
                    payment_discount_amount: that.payment.discount,
                    payment_discount_reason: that.payment.discount_reason,
                    payment_total: that.payment.total,

                    payment_health_amount: that.payment.health_amount,
                    payment_health_document: that.payment.health_number,
                    payment_insurance_amount: that.payment.insurance_amount,
                    payment_insurance_document: that.payment.insurance_number,
                    payment_excessive_amount: that.payment.excessive_amount,
                    payment_excessive_document: that.payment.excessive_number,
                    payment_copago_amount: that.payment.copago_amount,
                    payment_copago_document: that.payment.copago_number,

                    payment_debit_amount: that.payment.payment_debit_amount,
                    payment_credit_amount: that.payment.payment_credit_amount,
                    payment_commercial_amount: that.payment.payment_commercial_amount,
                    payment_cash_amount: that.payment.payment_cash_amount,
                };
            }
        }
    };

</script>
