<template>
	<div>
		<div class="modal fade" tabindex="-1" role="dialog" id="recordSaleDialog" data-backdrop="static">
	        <div class="modal-dialog modal-xlg" role="document">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                    <h4 class="modal-title">
	                        Registrar Nueva Venta
	                    </h4>
	                </div>
	                <div class="modal-body">
	                	<div v-if="view == 'ORDER'">
		                    <alert v-if="alert.message" :message="alert.message" :type="alert.type"></alert>

		                    <div v-if="step == 1">
			                	<div class="panel panel-default">
			                		<div class="panel-heading">Datos del Cliente</div>
			                		<div class="panel-body">
					                	<div class="row">
					                		<div class="col-sm-4">
					                			<div class="form-group">
					                				<label class="control-label">Rut:</label>
					                				<div class="input-group">
					                					<input type="text" maxlength="10" placeholder="ej. 16023817-8" :disabled="(patient.id !== null && patient.id != '') || patient.status == 'Buscando'" class="form-control" v-model="patient.rut" @keyup.enter="findPatient()">
					                					<span class="input-group-btn">
					                						<button v-if="(!patient.id || patient.id == '')" :disabled="patient.rut == '' || patient.status == 'Buscando'" @click="findPatient()" class="btn btn-default" type="button">
								                                <i :class="{fa: true, 'fa-search': (patient.status != 'Buscando'), 'fa-refresh fa-spin fa-fw': (patient.status == 'Buscando')}"></i>
								                            </button>
								                            <button v-if="patient.id !== null" @click="resetPatient(true)" class="btn btn-default" type="button">
								                                <i class="fa fa-times"></i>
								                            </button>
					                					</span>
					                				</div>
					                			</div>
					                		</div>
					                		<div class="col-sm-4">
					                			<div class="form-group">
					                				<label class="control-label">Nombre:</label>
					                				<input type="text" class="form-control" v-model="patient.firstname"  :disabled="patient.status == 'Pendiente' || patient.status == 'Buscando'">
					                			</div>
					                		</div>
					                		<div class="col-sm-4">
					                			<div class="form-group">
					                				<label class="control-label">Apellido:</label>
					                				<input type="text" class="form-control" v-model="patient.lastname"  :disabled="patient.status == 'Pendiente' || patient.status == 'Buscando'">
					                			</div>
					                		</div>
					                	</div>
					                </div>
					            </div>
			                </div>
		                    <div v-if="step == 2">
			                    <div class="row">
			                    	<div class="col-sm-4 col-md-3">
			                    		<div :class="{'form-group': true, 'has-error': !currentHealthCompany}">
			                    			<label class="control-label">Previsión:</label>
			                    			<select class="form-control" v-model="currentHealthCompany" @change="calculatePrices()">
			                    				<option :value="null">-seleccione-</option>
			                    				<option v-for="hcompany in shared.healthcompanies" :value="hcompany">{{ hcompany.name }}</option>
			                    			</select>
			                    		</div>
			                    	</div>
			                    </div>

			                    <table class="table table-bordered table-hover">
			                    	<thead>
			                    		<tr>
			                    			<th width="50px" class="text-center">#</th>
			                    			<th width="150px">Código</th>
			                    			<th>Producto/Servicio</th>
			                    			<th width="140px">Opciones</th>
			                    			<th width="100px">Precio</th>
			                    			<th width="80px">Cantidad</th>
			                    			<th width="100px">Total</th>
			                    			<th width="50px">&nbsp;</th>
			                    		</tr>
			                    	</thead>
			                    	<tbody>
			                    		<tr class="warning">
			                    			<td class="text-center">
			                    				<button @click="goToView('PRODUCTS')" class="btn btn-default btn-xs btn-block" :disabled="!currentHealthCompany || newProduct.loading">
			                    					<i class="fa fa-list"></i>
			                    				</button>

			                    				<input type="hidden" v-model="newProduct.id">
			                    			</td>
			                    			<td>
			                    				<div class="input-group">
			                    					<input type="text" @keyup.enter="searchProductByCode()" @focus="selectAllContent" :disabled="!currentHealthCompany || newProduct.loading" maxlength="10" class="form-control" v-model="newProduct.code">
			                    					<span class="input-group-btn">
											        	<button class="btn btn-default" type="button" @click="searchProductByCode()" :disabled="!currentHealthCompany || newProduct.loading">
											        		<i class="fa fa-search" v-show="!newProduct.loading"></i>
											        		<i class="fa fa-refresh fa-spin fa-fw" v-show="newProduct.loading"></i>
											        	</button>
											    	</span>
			                    				</div>
			                    			</td>
			                    			<td>
			                    				<input type="text" class="form-control" v-model="newProduct.name" readonly>
			                    			</td>
			                    			<td>
			                    				<div style="margin: 0;" :class="{'form-group': true, 'has-error': (newProduct.options.length > 0 && newProduct.selectedOption === null)}">
				                    				<select v-if="newProduct.options.length > 0" class="form-control" v-model="newProduct.selectedOption" :disabled="!currentHealthCompany || newProduct.loading">
				                    					<option :value="null">-seleccione-</option>
				                    					<option v-for="option in newProduct.options" :value="option">{{ option }}</option>
				                    				</select>
				                    			</div>
			                    			</td>
			                    			<td>
			                    				<input type="number" @focus="selectAllContent" :disabled="!currentHealthCompany || newProduct.loading" class="form-control text-right numberWithoutStep" @blur="onBlurZero" v-model="newProduct.price">
			                    			</td>
			                    			<td>
			                    				<input type="number" @focus="selectAllContent" :disabled="!currentHealthCompany || newProduct.loading" maxlength="2" class="form-control text-center numberWithoutStep" @blur="onBlurOne" v-model="newProduct.quantity" min="1" max="99" step="1">
			                    			</td>
			                    			<td>
			                    				<input type="text" class="form-control text-right" v-model="newProduct.total" readonly>
			                    			</td>
			                    			<td>
			                    				<button @click="addProduct()" :disabled="!currentHealthCompany || newProduct.loading || (newProduct.options.length > 0 && newProduct.selectedOption === null)" class="btn btn-info btn-xs btn-block"><i class="fa fa-plus-square"></i></button>
			                    			</td>
			                    		</tr>

			                    		<tr v-for="(productItem, index) in products">
			                    			<td class="text-center">
			                    				{{ index + 1 }}
			                    			</td>
			                    			<td>
			                    				<input type="text" class="form-control" v-model="productItem.code" readonly>
			                    			</td>
			                    			<td>
			                    				<input type="text" class="form-control" v-model="productItem.name" readonly>
			                    			</td>
			                    			<td>
			                    				<input type="text" class="form-control" v-model="productItem.selectedOption" readonly>
			                    			</td>
			                    			<td>
			                    				<input type="text" class="form-control text-right" v-model="productItem.price" readonly>
			                    			</td>
			                    			<td>
			                    				<input type="text" class="form-control text-center" v-model="productItem.quantity" readonly>
			                    			</td>
			                    			<td>
			                    				<input type="text" class="form-control text-right" v-model="productItem.total" readonly>
			                    			</td>
			                    			<td>
			                    				<button @click="removeProductItem(index)" class="btn btn-primary btn-xs btn-block"><i class="fa fa-times"></i></button>
			                    			</td>
			                    		</tr>
			                    	</tbody>
			                    	<tfoot>
			                    		<tr>
			                    			<td colspan="6" class="text-right">Total:</td>
			                    			<td>
			                    				<input type="text" class="form-control text-right" v-model="total" readonly>
			                    			</td>
			                    			<td>&nbsp;</td>
			                    		</tr>
			                    	</tfoot>
			                    </table>
			                </div>
			                <div v-if="step == 3">
			                	<paymentproductsview
			                		:parentProducts="products"
			                		:parentData="payment"></paymentproductsview>
			                </div>
			                <div v-if="step == 4">
			                	<div class="row">
		                            <div class="col-sm-4 col-sm-offset-4">
		                                <securepassword v-if="!loaded || !loading" v-show="!loading" :password="password"></securepassword>
		                            </div>
		                        </div>

		                        <div v-if="loading" class="alert alert-info text-center">
		                            <p class="lead" style="margin: 20px 0;">
		                                <i class="fa fa-refresh fa-spin fa-fw"></i> Procesando...
		                            </p>
		                        </div>
			                </div>
			                <div v-if="step == 5">
		                        <div class="alert alert-success">
		                            <p class="lead">
		                                <i class="fa fa-check-square-o"></i> La venta ha sido registrada correctamente.
		                            </p>
		                        </div>
		                    </div>
		                </div>
		                <div v-if="view == 'PRODUCTS'">

							<div>
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" :class="{active: (index == 0)}" v-for="(type, index) in productTypes">
										<a href="#home" @click="filterProductsByType(type)" aria-controls="home" role="tab" data-toggle="tab">{{ type }}</a>
									</li>
								</ul>
								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="home">
										<div class="row">
											<div class="col-sm-3" v-if="filteredProductsCategories.length > 1">
												<div class="panel panel-default">
													<div class="panel-heading">Categorías</div>
													<ul class="nav nav-pills">
														<li :class="{'active': (currentCategoryFilter == null)}" role="presentation">
															<a href="#" @click="filterProductsByType(currentTypeFilter)">Todos</a>
														</li>
														<li :class="{'active': (currentCategoryFilter == category)}" role="presentation" v-for="category in filteredProductsCategories">
															<a href="#" @click="filterProductsByCategory(category)">{{ category }}</a>
														</li>
													</ul>
												</div>
											</div>
											<div :class="{'col-sm-9': (filteredProductsCategories.length > 1), 'col-sm-12': (filteredProductsCategories.length <= 1)}">
												<div class="panel panel-default">
													<div class="panel-heading">Productos/Servicios</div>
													<table class="table table-bordered table-hover">
														<thead>
															<tr>
																<th v-show="filteredProductsCountCodes > 0" width="100px" class="text-center">Código</th>
																<th>Producto/Servicio</th>
																<th v-show="filteredProductsCountSubCategories > 0" width="130px">Sub Categoría</th>
																<th width="130px" class="text-right">Precio ({{ currentHealthCompany.name }})</th>
																<th width="70px">&nbsp;</th>
															</tr>
														</thead>
														<tbody>
															<tr v-for="product in filteredProducts">
																<td v-show="filteredProductsCountCodes > 0" class="text-center">{{ product.code }}</td>
																<td>{{ product.name }}</td>
																<td v-show="filteredProductsCountSubCategories > 0">
																	<small>
																		{{ product.sub_category }}
																	</small>
																</td>
																<td class="text-right">
																	$ {{ product.price || 0 }}
																</td>
																<td class="text-center">
																	<button @click="addProductToEdit(product)" class="btn btn-default"><i class="fa fa-check-square"></i> seleccionar</button>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
		                </div>
	                </div>
	                <div class="modal-footer">
	                	<div class="pull-left">
	                        <button v-if="view == 'ORDER' && step > 1 && step <= 4" @click="goPreviousStep()" type="button" class="btn btn-default">Volver</button>
	                        <button v-if="view == 'PRODUCTS'" @click.prevent="goToView('ORDER')" type="button" class="btn btn-default">Cancelar</button>
	                    </div>

	                    <button v-if="view == 'ORDER' && step < 4" @click="goNextStep()" :disabled="!checkIfContinue" type="button" class="btn btn-primary">
	                        Continuar
	                    </button>

	                    <button v-if="view == 'ORDER' && step == 4" @click="registerSale()" :disabled="!checkIfContinue || loading" type="button" class="btn btn-primary">
	                      	Confirmar
	                    </button>

	                    <button v-if="view == 'ORDER' && step == 5" type="button" class="btn btn-default" data-dismiss="modal">
	                      	Cerrar
	                    </button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</template>
<script>
    export default {
    	mounted(){
            this.openDialog();
            this.loadEventListeners();
        },
        data(){
            return {
            	currentHealthCompany: null,
                patient: {
                	id: null,
                	rut: null,
                	firstname: null,
                	lastname: null,
                	status: null
                },
                products: [],
                doctorRequest: null,
                payment: {
                    subtotal: 0,
                    discount: 0,
                    discount_reason: null,
                    total: 0,
                    copago_amount: 0,

                    payment_credit_amount: 0,
                    payment_debit_amount: 0,
                    payment_commercial: null,
                    payment_commercial_amount: 0,
                    payment_cash_amount: 0,
                },

                alert: {
                    message: null,
                    type: 'info'
                },
            	step: 1,
            	view: 'ORDER',
                password: null,
                loading: false,
                loaded: false,

                newProduct: {
                	id: null,
                	code: null,
                	name: null,
                	price: 0,
                	quantity: 1,
                	total: 0,
                	options: [],
                	selectedOption: null,
                	loading: false,
                	prices: []
                },

                total: 0,
                shared: store.data,
                filteredProducts: [],
                currentTypeFilter: null,
                currentCategoryFilter: null,
                currentSubCategoryFilter: null,
                filteredProductsCategories: [],

                currentTime: Date.now()
            };
        },
        methods: {
        	openDialog(){
        		store.log("RecordSaleDialog::openDialog()");
                let that = this;

                $("#recordSaleDialog")
                    .modal('show')
                    .on('hidden.bs.modal', function(){
                        that.closeDialog();
                    });
        	},
        	closeDialog(){
        		store.log("RecordSaleDialog::closeDialog()");
                this.$root.$refs.secretaryDashboard.showRecordSaleDialog = false;
        	},
        	loadEventListeners(){
        		store.log("RecordSaleDialog::loadEventListeners()");
        		let that = this;

                bus.$on('securePassword-password-changed', function (password){
                	store.log("RecordSaleDialog::on('securePassword-password-changed')");

                    that.password = password;
                });

                bus.$on('paymentProductsview-values-changed', function (paymentData){
                	store.log("RecordSaleDialog::on('paymentProductsview-values-changed')");

                    that.payment.subtotal = paymentData.subtotal;
                    that.payment.discount = paymentData.discount;
                    that.payment.discount_reason = paymentData.discount_reason;
                    that.payment.total = paymentData.total;
                    that.payment.copago_amount = paymentData.copago_amount;

                    this.products = paymentData.products;

                    that.payment.payment_credit_amount = paymentData.payment_credit_amount;
                    that.payment.payment_debit_amount = paymentData.payment_debit_amount;
                    that.payment.payment_commercial = paymentData.payment_commercial;
                    that.payment.payment_commercial_amount = paymentData.payment_commercial_amount;
                    that.payment.payment_cash_amount = paymentData.payment_cash_amount;

                    that.currentTime = Date.now();
                    that.$forceUpdate();
                });
        	},
        	goNextStep(){
        		store.log("RecordSaleDialog::goNextStep()");
        		this.step++;
        	},
        	goPreviousStep(){
        		store.log("RecordSaleDialog::goPreviousStep()");
        		this.step--;
        	},
        	goToView(view){
        		this.view = view;

        		if(view == 'PRODUCTS'){
        			this.filterProductsByType(this.productTypes[0]);
        		}
        	},
        	searchProductByCode(){
        		store.log("RecordSaleDialog::searchProductByCode()");
        		let that = this;
        		let code = that.newProduct.code;

        		if(!code || code == ''){
        			this.showAlert("Por favor ingrese el código del producto a consultar", "warning");
        			return;
        		}

        		that.newProduct.loading = true;
        		let products = that.shared.products.filter(function(product){
        			return product.code == code;
        		});

        		if(products.length == 0){
        			this.showAlert("No se encontró ningun producto con el código consultado", "warning");
        		}else{
        			let product = products[0];

        			that.newProduct.id = product.id;
                    that.newProduct.name = product.name;
	        		that.newProduct.price = product.price || 0;
	        		that.newProduct.options = (product.options) ? product.options.split(',') : [];
	        		that.newProduct.prices = product.prices;

	        		that.newProduct.price = that.calculatePrice(that.newProduct);
        		}

        		that.newProduct.loading = false;
        	},
        	addProductToEdit(product){
        		store.log("RecordSaleDialog::addProductToEdit()");
        		let that = this;

        		that.newProduct.id = product.id;
        		that.newProduct.code = product.code;
                that.newProduct.name = product.name;
        		that.newProduct.price = product.price || 0;
        		that.newProduct.options = (product.options) ? product.options.split(',') : [];
        		that.newProduct.prices = product.prices;
        		that.newProduct.exempt = product.exempt;

        		that.newProduct.price = that.calculatePrice(that.newProduct);

        		that.view = 'ORDER';
        	},
        	calculatePrice(product){
        		store.log("RecordSaleDialog::calculatePrice()");

        		let that = this;

        		if(product.prices.length > 0 && that.currentHealthCompany){
        			let tmpPrices = product.prices.filter(function(tmpPrice){
        				return tmpPrice.company_id == that.currentHealthCompany.id;
        			});
        			if(tmpPrices.length == 0){
        				tmpPrices = product.prices.filter(function(tmpPrice){
	        				return tmpPrice.company_id == 11;
	        			});
        			}

        			if(tmpPrices.length > 0)
        				return tmpPrices[0].price;
        		}

        		return product.price || 0;
        	},
        	calculatePrices(){
        		store.log("RecordSaleDialog::calculatePrices()");
        		let that = this;

        		that.shared.products.forEach(function(product){
        			product.price = that.calculatePrice(product);
        		});
        	},
        	addProduct(){
        		store.log("RecordSaleDialog::addProduct()");

        		if(!this.newProduct.id || this.newProduct.id == ''){
        			this.showAlert("Debe elegir el producto o servicio a agregar", "danger");
        			return;
        		}
        		if(this.newProduct.options.length > 0 && (!this.newProduct.selectedOption || this.newProduct.selectedOption == '')){
        			this.showAlert("Debe elegir una de las opciones del producto o servicio.", "danger");
        			return;
        		}

        		if(isNaN(this.newProduct.quantity) || this.newProduct.quantity < 1){
        			this.showAlert("Debe ingresar una cantidad válida", "danger");
        			return;
        		}

        		let productItem = {
        			id: this.newProduct.id,
        			code: this.newProduct.code,
                	name: this.newProduct.name,
                	quantity: this.newProduct.quantity,
                	price: this.newProduct.price,
                	total: this.newProduct.total,
                	options: this.newProduct.options,
                	selectedOption: this.newProduct.selectedOption,
                	prices: this.newProduct.prices,
                	exempt: this.newProduct.exempt
        		};

        		this.products.push(productItem);

        		this.newProduct = {
        			id: null,
                	code: null,
                	name: null,
                	quantity: 1,
                	price: 0,
                	total: 0,
                	options: [],
                	selectedOption: null,
                	loading: false,
                	prices: [],
                	exempt: 'Si'
                };
        	},
        	removeProductItem(index){
        		this.products.splice(index, 1);
        	},
        	filterProductsByType(type){
        		this.currentTypeFilter = type;
        		this.currentCategoryFilter = null;
        		this.currentSubCategoryFilter = null;

        		this.filteredProducts = this.shared.products.filter(function(product){
        			return product.type == type;
        		});

        		this.filteredProductsCategories = this.productCategories();
        	},
        	filterProductsByCategory(category){
        		this.filterProductsByType(this.currentTypeFilter);

        		this.currentCategoryFilter = category;

        		this.filteredProducts = this.filteredProducts.filter(function(product){
        			return product.category == category;
        		});
        	},
        	productCategories(){
        		let that = this;
        		let categories = [];

        		that.filteredProducts.forEach(function(product){
        			if(!that.inArray(product.category, categories)){
        				categories.push(product.category);
        			}
        		});

        		categories.sort();

        		return categories;
        	},
        	registerSale(){
        		store.log("recordSaleDialog::registerSale()");

        		let that = this;

        		that.loading = true;
        		that.loaded = false;

        		Vue.http.post('/api/payments', that.dataForRegister)
                    .then((response) => {
                        var rs = response.body;

                        that.loading = false;

                        if(rs.success){
                            that.loaded = true;

                            that.goNextStep();
                        }else{
                            that.loaded = false;
                            that.showAlert(rs.message, 'warning');
                        }
                    }, (response) => {
                        that.loading = false;
                        that.showAlert("Algo salio mal, por favor intente nuevamente!", 'danger');
                    }
                );
        	},
        	findPatient(){
                store.log("recordSaleDialog::findPatient()");

                let that = this;
                let rut = that.patient.rut;

                if(!rut || rut == '')
                    return;

                if(!that.validateRut(rut)){
                    that.showAlert('El rut ingresado no es válido, reviselo e intente de nuevo.', 'danger');
                    return;
                }

                that.resetPatient();

                that.patient.status = 'Buscando';

                Vue.http.get('/api/patients?rut=' + rut)
                    .then((response) => {
                        var rs = response.body;

                        if(rs.success){
                            that.patient.id = rs.data.id;
                            that.patient.rut = rs.data.rut;
                            that.patient.firstname = rs.data.firstname;
                            that.patient.lastname = rs.data.lastname;
                            that.patient.status = 'Existente';
                        }else{
                            that.patient.status = 'No existente';
                            that.showAlert('No hemos encontrado ningún paciente con el rut ingresado. Complete la información para registrarlo.', 'warning');
                        }
                    }, (response) => {
                        that.showAlert("Algo salio mal, por favor intente nuevamente!", 'danger');
                    }
                );
        	},
        	resetPatient(clearRut){
        		store.log("recordSaleDialog::resetPatient()");

                let rut = null;

                if(!clearRut)
                    rut = this.patient.rut;

                this.patient = {
                	status: 'Pendiente',
                	id: null,
                	rut: rut,
                	firstname: null,
                	lastname: null,
                };
        	},
        	// Utils
        		selectAllContent(event){
                    $(event.target).select();
                },
                onBlurZero(){
                	if($(event.target).val() == '')
                		$(event.target).val(0);
                },
                onBlurOne(){
                	if($(event.target).val() == '')
                		$(event.target).val(1);
                },
	            moment(date){

	                return moment(date);
	            },
	            validateRut: function (rutCompleto) {
	                if (!/^[0-9]+-[0-9kK]{1}$/.test( rutCompleto ))
	                    return false;
	                var tmp     = rutCompleto.split('-');
	                var digv    = tmp[1];
	                var rut     = tmp[0];
	                if ( digv == 'K' ) digv = 'k' ;
	                return (this.dv(rut) == digv );
	            },
	            dv: function(T){
	                var M=0,S=1;
	                for(;T;T=Math.floor(T/10))
	                    S=(S+T%10*(9-M++%6))%11;
	                return S?S-1:'k';
	            },
	            inArray: function(needle, haystack) {
	                var length = haystack.length;
	                for(var i = 0; i < length; i++) {
	                    if(haystack[i] == needle) return true;
	                }
	                return false;
	            },
	            showAlert(message, type){
	                let that = this;

	                that.alert.message = message;
	                that.alert.type = type;

	                setTimeout(function(){
	                    that.alert.message = '';
	                }, 5000);
	            },
        },
        watch: {
        	'currentHealthCompany': function(){
        		let that = this;

        		if(that.newProduct && that.newProduct.id){
        			that.newProduct.price = that.calculatePrice(that.newProduct);
        			that.newProduct.total = that.newProduct.price * that.newProduct.quantity;
        		}

        		that.products.forEach(function(product){
        			product.price = that.calculatePrice(product);
        			product.total = product.price * product.quantity;
        		});
        	},
        	'newProduct.price': function(){
        		this.newProduct.total = this.newProduct.price * this.newProduct.quantity;
        	},
        	'newProduct.quantity': function(){
        		this.newProduct.total = this.newProduct.price * this.newProduct.quantity;
        	},
        	total: function(){
        		this.payment.subtotal = this.total;
        	}
        },
        computed: {
        	total(){
        		let total = 0;
        		this.products.forEach(function(product){
        			total += 0 + product.total;
        		});

        		return total;
        	},
        	productTypes(){
        		let that = this;
        		let types = [];

        		that.shared.products.forEach(function(product){
        			if(!that.inArray(product.type, types)){
        				if(product.type != 'Consulta' &&  product.type != 'Otros' &&  product.type != 'Packs Kinesicos')
        					types.push(product.type);
        			}
        		});

        		return types;
        	},
        	filteredProductsCountCodes(){
        		let productsWithCode = this.filteredProducts.filter(function(product){
        			return (product.code && product.code !='');
        		});

        		return productsWithCode.length;
        	},
        	filteredProductsCountSubCategories(){
        		let productsWithSC = this.filteredProducts.filter(function(product){
        			return (product.sub_category && product.sub_category !='');
        		});

        		return productsWithSC.length;
        	},
        	checkIfContinue(){
        		store.log("RecordSaleDialog::checkIfContinue()");
        		let that = this;
        		let currentTime = that.currentTime;

        		if(that.step == 1){
        			return ((!that.patient.rut || that.patient.rut == '' || !that.patient.firstname || that.patient.firstname == '' || !that.patient.lastname || that.patient.lastname == '') ? false : true);
        		}else if(that.step == 2){
        			return (!that.currentHealthCompany || that.products.length == 0) ? false : true;
        		}else if(that.step == 3){
        			let comercialOk = (that.payment.payment_commercial_amount > 0 && !that.payment.payment_commercial ? false : true);
                    let cashOk = (that.payment.payment_cash_amount >= 0 ? true : false);
                    let productsOk = true;
                    that.products.forEach(function(product){
                    	console.log(product);

                    	if(parseInt(product.health_amount) > 	0 && utils.isEmpty(product.health_document)) productsOk = false;
                    	if(parseInt(product.insurance_amount) > 0 && utils.isEmpty(product.insurance_company)) productsOk = false;
                    	if(parseInt(product.excessive_amount) > 0 && utils.isEmpty(product.excessive_document)) productsOk = false;
                    	if(parseInt(product.copago_amount) > 	0 && utils.isEmpty(product.copago_document)) productsOk = false;
                    });
                    console.log(productsOk);

                    return (that.payment.subtotal >= 0 && that.payment.total >=0 && comercialOk === true && cashOk === true && productsOk);
        		}else if(that.step == 4){
        			return ((that.password == '' || that.password === null) ? false : true);
        		}
        	},
        	dataForRegister(){
        		return {
        			payment: this.payment,
        			patient: this.patient,
        			products: this.products,
        			doctor_id: (this.doctorRequest) ? this.doctorRequest.id : null,
        			healthcompany_id: (this.currentHealthCompany) ? this.currentHealthCompany.id : null,
        			password: this.password,
        		};
        	}
        }
    };
</script>
