<template>
	<div>
		<div class="container">
			<div class="row">

				<div style="padding-top: 120px;" class="text-center hide">
					<i class="fa fa-refresh fa-spin fa-fw" style="font-size: 120px; color: #ddd;"></i>
				</div>

				<div id="gridContents" class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
					<div class="row">
						<div class="col-sm-4">
							<a @click.prevent="openTraBookingDialog()" :disabled="shared.branches.length == 0" href="#" class="btn btn-warning btn-block btn-lg" xdisabled="branches.length == 0">
								<br><i class="fa fa-edit fa-3x"></i><br>
								<span v-if="shared.branches.length > 0">
									Reservar hora<br>
									Traumatología
								</span>
								<span v-if="shared.branches.length == 0">
									Cargando<br>
									sucursales...
								</span>
							</a>
						</div>
						<div class="col-sm-4">
							<a @click.prevent="openKineBookingDialog()" :disabled="shared.branches.length == 0" href="#" class="btn btn-warning btn-block btn-lg" xdisabled="branches.length == 0">
								<br><i class="fa fa-edit fa-3x"></i><br>
								<span v-if="shared.branches.length > 0">
									Reservar hora<br>
									Kinesiología
								</span>
								<span v-if="shared.branches.length == 0">
									Cargando<br>
									sucursales...
								</span>
							</a>
						</div>
						<div class="col-sm-4">
							<a @click.prevent="openRadBookingDialog()" :disabled="shared.branches.length == 0" href="#" class="btn btn-warning btn-block btn-lg" xdisabled="branches.length == 0">
								<br><i class="fa fa-edit fa-3x"></i><br>
								<span v-if="shared.branches.length > 0">
									Reservar hora<br>
									Radiología
								</span>
								<span v-if="shared.branches.length == 0">
									Cargando<br>
									sucursales...
								</span>
							</a>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-4">
							<a @click.prevent="openReceivePatientDialog()" href="#" class="btn btn-primary btn-block btn-lg">
								<br><i class="fa fa-user fa-3x"></i><br><br>
								Recepcionar Paciente
							</a>
						</div>
						<div class="col-sm-4">
							<a href="#" :disabled="shared.products.length == 0" @click="openRecordSaleDialog()" class="btn btn-primary btn-block btn-lg">
								<br>
								<i class="fa fa-shopping-cart fa-3x"></i><br><br>
								<span v-if="shared.products.length > 0">Registrar Venta</span>
								<span v-if="shared.products.length == 0">Cargando productos...</span>
							</a>
						</div>
						<div class="col-sm-4">
							<a @click.prevent="openPaymentBoxDialog()" href="#" class="btn btn-primary btn-block btn-lg">
								<br><i class="fa fa-folder-o fa-3x"></i><br><br>
								Apertura de Caja
							</a>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-4">
							<a href="#" @click.prevent="openTraDiaryDialog()" :disabled="shared.branches.length == 0" class="btn btn-info btn-block btn-lg">
								<br><i class="fa fa-calendar fa-3x"></i><br>
								<span v-if="shared.branches.length > 0">
									Ver Agenda<br>
									Traumatología
								</span>
								<span v-if="shared.branches.length == 0">
									Cargando<br>
									sucursales...
								</span>
							</a>
						</div>
						<div class="col-sm-4">
							<a href="#" @click.prevent="openKineDiaryDialog()" :disabled="shared.branches.length == 0" class="btn btn-info btn-block btn-lg">
								<br><i class="fa fa-calendar fa-3x"></i><br>
								<span v-if="shared.branches.length > 0">
									Ver Agenda<br>
									Kinesiología
								</span>
								<span v-if="shared.branches.length == 0">
									Cargando<br>
									sucursales...
								</span>
							</a>
						</div>
						<div class="col-sm-4">
							<a href="#" @click.prevent="openRadDiaryDialog()" :disabled="shared.branches.length == 0" class="btn btn-info btn-block btn-lg">
								<br><i class="fa fa-calendar fa-3x"></i><br>
								<span v-if="shared.branches.length > 0">
									Ver Agenda<br>
									Radiología
								</span>
								<span v-if="shared.branches.length == 0">
									Cargando<br>
									sucursales...
								</span>
							</a>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-4 col-sm-offset-4">
							<a href="#" @click.prevent="openPriceListDialog()" :disabled="shared.products.length == 0" class="btn btn-success btn-block btn-lg">
								<br><i class="fa fa-usd fa-3x"></i><br>
								<span v-if="shared.products.length > 0">
									Lista<br>
									de Precios
								</span>
								<span v-if="shared.products.length == 0">
									Cargando<br>
									productos...
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<trabookingdialog v-if="showTraBookingDialog"></trabookingdialog>
		<kinebookingdialog v-if="showKineBookingDialog"></kinebookingdialog>
		<radbookingdialog v-if="showRadBookingDialog"></radbookingdialog>
		<receivepatientdialog v-if="showReceivePatientDialog"></receivepatientdialog>
		<openpaymentboxdialog v-if="showOpenPaymentBoxDialog"></openpaymentboxdialog>
		<recordsaledialog v-if="showRecordSaleDialog"></recordsaledialog>
		<tradiarydialog v-if="showTraDiaryDialog"></tradiarydialog>
		<kinediarydialog v-if="showKineDiaryDialog"></kinediarydialog>
		<raddiarydialog v-if="showRadDiaryDialog"></raddiarydialog>
		<pricelist v-if="showPriceListDialog"></pricelist>
	</div>
</template>
<script>
    export default {
        mounted(){
            
        },
        data(){
            return {
            	showTraBookingDialog: false,
            	showKineBookingDialog: false,
            	showRadBookingDialog: false,
            	showReceivePatientDialog: false,
            	showOpenPaymentBoxDialog: false,
            	showRecordSaleDialog: false,
            	showTraDiaryDialog: false,
            	showKineDiaryDialog: false,
            	showRadDiaryDialog: false,
            	showPriceListDialog: false,
                shared: store.data
            };
        },
        methods: {
            openTraBookingDialog(){
            	this.showTraBookingDialog = true;
            },
            openKineBookingDialog(){
            	this.showKineBookingDialog = true;
            },
            openRadBookingDialog(){
            	this.showRadBookingDialog = true;
            },
            openReceivePatientDialog(){
            	this.showReceivePatientDialog = true;
            },
            openPaymentBoxDialog(){
            	this.showOpenPaymentBoxDialog = true;
            },
            openRecordSaleDialog(){
            	this.showRecordSaleDialog = true;
            },
            openTraDiaryDialog(){
            	this.showTraDiaryDialog = true;
            },
            openKineDiaryDialog(){
            	this.showKineDiaryDialog = true;
            },
            openRadDiaryDialog(){
            	this.showRadDiaryDialog = true;
            },
            openPriceListDialog(){
            	this.showPriceListDialog = true;
            }
        },
        computed: {
            
        },
        props: []
    }
</script>