<template>
	<div>
    	<div class="panel panel-default">
            <div class="panel-heading">
                Clave de Seguridad
            </div>
            <div class="panel-body">
	            <div class="input-group">
	                <span class="input-group-addon">
	                    <i class="fa fa-lock"></i>
	                </span>
	                <input type="password" autocomplete="off" v-model="key" maxlength="6" class="form-control">
	            </div>
	        </div>
	    </div>
	</div>
</template>
<script>
    export default {
    	mounted(){
    		this.key = this.password;
    	},
    	data(){
        	return {
        		key: ''
        	}
        },
    	watch: {
    		key: function(newPassword, oldPassword){
    			bus.$emit('securePassword-password-changed', newPassword)
    		}
    	},
        props: ['password'],
    };
</script>
