<template>
    <div class="modal fade" tabindex="-1" role="dialog" id="newTraBookingDialog" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        Reserva de Hora Traumatológica
                        [
                            Sucursal <b>{{ (currentBranch ? currentBranch.name : '') }}</b> -
                            <b>{{ (currentDoctor ? currentDoctor.name : '') }}</b> -
                            Fecha/Hora: <b>{{ currentDate ? moment(currentDate).format("ddd DD") : '' }} {{ bookingDate ? " - " + moment(bookingDate).format("HH:mm") : '' }}</b>
                        ]
                    </h4>
                </div>
                <div class="modal-body">
                    <alert v-if="alert.message" :message="alert.message" :type="alert.type"></alert>

                    <!-- Step 1 -->
                    <div v-show="step == 1">
                        <div class="row" style="margin: 30px 0;">
                            <div class="col-sm-3 col-sm-offset-2">
                                <button @click.prevent="selectMode('doctor')" type="button" class="btn btn-primary btn-lg btn-block">
                                    <br>
                                    <i class="fa fa-user-md"></i> Hora por Doctor
                                    <br>&nbsp;
                                </button>
                            </div>
                            <div class="col-sm-2 text-center">
                                <br><br>
                                ú
                            </div>
                            <div class="col-sm-3">
                                <button @click.prevent="selectMode('hour')" type="button" class="btn btn-primary btn-lg btn-block">
                                    <br>
                                    <i class="fa fa-clock-o"></i> Hora más cercana
                                    <br>&nbsp;
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Step 2 -->
                    <div v-show="step == 2">
                        <div class="row">
                            <div v-if="mode == 'doctor'">
                                <div class="col-sm-3">
                                    <div class="control-group">
                                        <label class="control-label">Sucursal</label>
                                        <select class="form-control input-lg" v-model="currentBranch" @change="selectBranch()" :disabled="shared.branches.length == 0">
                                            <option :value="null" v-if="shared.branches.length > 0">-seleccione-</option>
                                            <option :value="null" v-if="shared.branches.length == 0">cargando...</option>
                                            <option v-for="branch in shared.branches" :value="branch">{{ branch.name }}</option>
                                        </select>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Doctor</label>
                                        <select v-if="currentBranch" class="form-control input-lg" v-model="currentDoctor" @change="selectDoctor()" :disabled="!currentBranch">
                                            <option :value="null">-seleccione-</option>
                                            <option v-for="doctor in currentBranch.traumatologists" :value="doctor">{{ doctor.name }}</option>
                                        </select>
                                        <select v-if="!currentBranch" class="form-control input-lg" disabled>
                                        </select>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Fecha</label>
                                        <div class="datepicker" id="bookingTraCalendar"></div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Hora Extra</label>
                                        <div class="input-group">
                                            <input type="text" v-model="extraHour" placeholder="HH:MM" class="form-control timeInput text-center" maxlength="5" :disabled="!currentBranch || !currentDoctor">
                                            <span class="input-group-btn">
                                                <button @click="setExtraDatetime()" class="btn btn-default" :disabled="!currentBranch || !currentDoctor || (extraHour !== null && extraHour.length != 5)">
                                                    <i class="fa fa-plus-circle"></i> Registrar
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9" style="max-height: 400px; overflow: scroll;">
                                    <div class="table-responsive">
                                        <table v-show="!loading" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th v-for="day in freehours" class="text-center" style="width: 16.5%;">
                                                        {{ moment(day.date).format("ddd DD") }}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td v-for="day in freehours" style="vertical-align: top; width: 16.5%;">
                                                        <button @click="selectDateTime(time.hour)" v-for="time in day.hours" :class="{'btn': true, 'btn-success': (time.free && !moment(time.hour).isBefore(moment().subtract(10, 'minutes'))), 'btn-primary': (!time.free && !moment(time.hour).isBefore(moment().subtract(10, 'minutes'))), 'btn-default': moment(time.hour).isBefore(moment().subtract(10, 'minutes')), 'btn-block': true, 'active': (type == 'Normal' && time.hour == currentDateTime)}" :disabled="!time.free || moment(time.hour).isBefore(moment().subtract(10, 'minutes'))">
                                                            {{ moment(time.hour).format('HH:mm') }}
                                                        </button>
                                                        <hr>

                                                        <small class="text-center">HORAS EXTRAS</small>
                                                        <div style="margin-bottom: 10px;">
                                                            <button @click="selectExtraDate(day.date)" :class="{'btn': true, 'btn-warning': true, 'btn-block': true, 'active': (extraDate == day.currentDate && type == 'Extra')}" :disabled="moment(day.date + ' 23:59:59').isBefore(moment())">
                                                                <i class="fa fa-plus-circle"></i>
                                                            </button>
                                                            <input :id="'extraHour_' + moment(day.date).format('YYYYMMDD')" v-show="type == 'Extra' && extraDate == day.date" type="text" v-model="extraHour" placeholder="HH:MM" class="form-control timeInput text-center" maxlength="5">
                                                        </div>

                                                        <button v-for="extra in day.extra" class="btn btn-info btn-block" disabled>
                                                            {{ moment(extra.date).format('HH:mm') }}
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div v-show="loading" style="padding-top: 120px;" class="text-center">
                                            <i class="fa fa-refresh fa-spin fa-fw" style="font-size: 120px; color: #ddd;"></i>
                                        </div>

                                        <div v-show="!currentBranch || !currentDoctor || !currentDate" style="padding: 80px 0;" class="text-center">
                                            <i class="fa fa-info-circle" style="font-size: 120px; color: #ddd;"></i><br>
                                            <p class="lead">
                                                <i class="fa fa-long-arrow-left"></i> Seleccione los filtros<br> para encontrar horas disponibles.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-if="mode == 'hour'">
                                <div class="col-sm-3">
                                    <div class="control-group">
                                        <label class="control-label">Sucursal</label>
                                        <select class="form-control input-lg" v-model="currentBranch" @change="selectBranch()" :disabled="shared.branches.length == 0">
                                            <option :value="null" v-if="shared.branches.length > 0">-seleccione-</option>
                                            <option :value="null" v-if="shared.branches.length == 0">cargando...</option>
                                            <option v-for="branch in shared.branches" :value="branch">{{ branch.name }}</option>
                                        </select>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label">Fecha</label>
                                        <div class="datepicker" id="bookingTraCalendar2"></div>
                                    </div>
                                </div>
                                <div class="col-sm-9" style="max-height: 400px; overflow: scroll;">
                                    <table v-show="!loading" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="100px">Hora</th>
                                                <th>Doctor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="time in freehours" v-if="!moment(time.hour).isBefore(moment().subtract(10, 'minutes'))">
                                                <td width="100px">
                                                    <button @click="selectDateTime(time.hour, time.doctor)" :class="{'btn': true, 'btn-success': true, 'btn-block': true, 'active': (type == 'Normal' && time.hour == currentDateTime)}">
                                                        <i class="fa fa-clock-o"></i> {{ moment(time.hour).format('HH:mm') }}
                                                    </button>
                                                </td>
                                                <td><i class="fa fa-user-md"></i> {{ time.doctor.name }}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div v-show="loading" style="padding-top: 120px;" class="text-center">
                                        <i class="fa fa-refresh fa-spin fa-fw" style="font-size: 120px; color: #ddd;"></i>
                                    </div>

                                    <div v-show="!currentBranch || !currentDate" style="padding: 80px 0;" class="text-center">
                                        <i class="fa fa-info-circle" style="font-size: 120px; color: #ddd;"></i><br>
                                        <p class="lead">
                                            <i class="fa fa-long-arrow-left"></i> Seleccione los filtros<br> para encontrar horas disponibles.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Step 3 -->
                    <div v-show="step == 3">
                        <patientdata
                            :parentPatient="patient"
                            :parentHealthCompany="currentHealthCompany"
                            :parentAttentionType="currentAttentionType"
                            :parentObservations="observations"
                            :parentAlert="alert"
                            type="CREATE"
                        ></patientdata>

                        <hr>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">
                                <securepassword :password="password"></securepassword>
                            </div>
                        </div>
                    </div>

                    <!-- Step 4 -->
                    <div v-show="step == 4">
                        <div class="text-center" v-show="booking">
                            <span style="font-size: 120px; color: green;"><i class="fa fa-check-circle"></i></span>

                            <h1>Hora Traumatológica Reservada</h1>

                            <p class="lead">
                                La hora fue agendada correctamente, el detalle es el siguiente:
                            </p>

                            <div class="row" v-if="booking">
                                <div class="col-sm-6 col-sm-offset-3 text-left">
                                    <dl class="dl-horizontal">
                                        <dt style="width: 50%; margin-right: 10px;">Código de Reserva</dt><dd><strong>{{ booking.code.toUpperCase() }}</strong></dd>
                                        <dt style="width: 50%; margin-right: 10px;">Sucursal</dt><dd>{{ booking.branch.name }}</dd>
                                        <dt style="width: 50%; margin-right: 10px;">Doctor</dt><dd>{{ booking.doctor.name }}</dd>
                                        <dt style="width: 50%; margin-right: 10px;">Fecha</dt><dd>{{ moment(booking.bookingdate, "YYYY-MM-DD HH:mm:ss").format("DD/MM/YYYY") }}</dd>
                                        <dt style="width: 50%; margin-right: 10px;">Hora</dt><dd>{{ moment(booking.bookingdate, "YYYY-MM-DD HH:mm:ss").format("HH:mm") }}</dd>
                                        <dt style="width: 50%; margin-right: 10px;">Tipo de Atención</dt><dd>{{ booking.attentiontype.name }}</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>

                        <div v-show="!booking" style="padding: 80px 0;" class="text-center">
                            <i class="fa fa-refresh fa-spin fa-fw" style="font-size: 120px; color: #ddd;"></i>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <button v-show="step > 1 && step < 4" :disabled="(step == 1)" @click.prevent="goPreviousStep()" type="button" class="btn btn-default">Volver</button>
                    </div>

                    <button v-show="step == 2" @click="goNextStep()" :disabled="!checkBookingDateStep" type="button" class="btn btn-primary">
                        Continuar
                    </button>

                    <button v-show="step == 3" @click="registerBooking()" :disabled="!checkDataForRegister" type="button" class="btn btn-primary">
                        Confirmar
                    </button>

                    <button v-show="step == 4" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted(){
            this.openDialog();
            this.loadEventListeners();

        },
        data(){
            return {
                alert: {
                    message: null,
                    type: 'info'
                },
                currentBranch: null,
                currentDoctor: null,
                currentTime: null,
                currentDate: null,
                currentHealthCompany: null,
                currentAttentionType: null,
                extraDate: null,
                extraHour: null,
                mode: null,
                type: 'Normal',
                step: 1,
                shared: store.data,
                loading: false,
                freehours: [],
                patient: {
                    status: 'Pendiente',

                    id: null,
                    rut: '',
                    firstname: null,
                    lastname: null,
                    phone: null,
                    email: null,
                    birthdate: null,
                    address: null,
                },
                observations: null,
                booking: null,
                password: ''
            };
        },
        methods: {
            openDialog(){
                store.log("TraBookingDialog::openDialog()");
                let that = this;

                $("#newTraBookingDialog")
                    .modal('show')
                    .on('hidden.bs.modal', function(){
                        that.closeDialog();
                    });
            },
            closeDialog(){
                store.log("TraBookingDialog::closeDialog()");
                this.$root.$refs.secretaryDashboard.showTraBookingDialog = false;
            },
            setExtraDatetime(){
                store.log("TraBookingDialog::setExtraDatetime()");
                let that = this;

                that.type = 'Extra';
                that.extraDate = that.currentDate;
                that.goNextStep();
            },
            loadEventListeners(){
                let that = this;

                bus.$on('patientData-patient-changed', function(patient){
                    that.patient = patient;
                });

                bus.$on('patientData-alert-changed', function(alert){
                    that.alert = alert;
                });

                bus.$on('patientData-healthcompany-changed', function(healthcompany){
                    that.currentHealthCompany = healthcompany;
                });

                bus.$on('patientData-attentiontype-changed', function(attentiontype){
                    that.currentAttentionType = attentiontype;
                });

                bus.$on('patientData-observations-changed', function(observations){
                    that.observations = observations;
                });

                bus.$on('securePassword-password-changed', function (password){
                    that.password = password;
                });
            },
            resetData(){
                store.log("TraBookingDialog::resetData()");

                this.currentBranch = null;
                this.currentDoctor = null;
                this.currentTime = null;
                this.currentDate = null;
                this.currentHealthCompany = null;
                this.currentAttentionType = null;
                this.extraDate = null;
                this.extraHour = null;
                this.type = 'Normal';
                this.step = 1;
                this.shared = store.data;
                this.loading = false;
                this.freehours = [];
                this.patient = {
                    status: 'Pendiente',

                    id: null,
                    rut: '',
                    firstname: null,
                    lastname: null,
                    phone: null,
                    email: null,
                    birthdate: null,
                    address: null,
                };
            },
            selectMode(mode){
                store.log("TraBookingDialog::selectMode()");

                let that = this;

                that.resetData();
                setTimeout(function(){
                    that.mode = mode;
                    that.goNextStep();
                }, 300);
            },
            goNextStep(){
                store.log("TraBookingDialog::goNextStep()");

                let that = this;
                that.step++;

                setTimeout(function(){
                    if(that.step == 2){
                        if(that.mode == 'doctor'){
                            if($("#bookingTraCalendar").attr("hasLoaded") != 'Si'){
                                $("#bookingTraCalendar").datepicker({
                                    startDate: '0d',
                                    language: 'es',
                                    format: 'yyyy-mm-dd',
                                    daysOfWeekDisabled: [0]
                                }).on('changeDate', function(e){
                                    e.preventDefault();

                                    that.currentDate = e.format();

                                    that.loadResumeHours();
                                }).datepicker('setDate', moment().format('YYYY-MM-DD'));

                                $("#bookingTraCalendar").attr("hasLoaded", "Si");
                            }
                        }else{
                            if($("#bookingTraCalendar2").attr("hasLoaded") != 'Si'){
                                $("#bookingTraCalendar2").datepicker({
                                    startDate: '0d',
                                    language: 'es',
                                    format: 'yyyy-mm-dd'
                                }).on('changeDate', function(e){
                                    e.preventDefault();

                                    that.currentDate = e.format();

                                    that.loadLastHours();
                                }).datepicker('setDate', moment().format('YYYY-MM-DD'));

                                $("#bookingTraCalendar2").attr("hasLoaded", "Si");
                            }
                        }
                    }else if(that.step == 3){
                        $('#bookingTraBirthdate').mask('00/00/0000');
                    }
                }, 300);
            },
            goPreviousStep(){
                store.log("TraBookingDialog::goPreviousStep()");

                if(this.step > 1)
                    this.step--;
            },
            loadLastHours(){
                store.log("TraBookingDialog::loadLastHours()");

                let that = this;
                let date = that.currentDate;
                let branch_id = (that.currentBranch) ? that.currentBranch.id : null;
                that.freehours = [];

                if(date && date != '' && branch_id){
                    let query = 'date=' + date + '&profile=Traumatólogo';

                    that.loading = true;
                    Vue.http.get('/api/branches/'+branch_id+'/last-hours?' + query)
                        .then((response) => {
                            var rs = response.body;
                            that.loading = false;

                            if(rs.success){
                                that.freehours = rs.data;

                                setTimeout(function(){
                                    $('.timeInput').mask('00:00');
                                }, 300);
                            }else{
                                alert(rs.message);
                            }
                        }, (response) => {
                            alert("Algo salio mal, por favor intente nuevamente!");
                        }
                    );
                }
            },
            selectBranch(){
                store.log("TraBookingDialog::selectBranch()");

                this.currentDoctor = null;

                if(this.mode == 'hour'){
                    this.loadLastHours();
                }
            },
            selectDoctor(){
                store.log("TraBookingDialog::selectDoctor()");

                if(this.mode == 'doctor'){
                    this.loadResumeHours();
                }
            },
            selectDateTime(time, doctor){
                store.log("TraBookingDialog::selectDateTime()");
                let that = this;

                that.currentDate = moment(time).format('YYYY-MM-DD');
                that.currentTime = moment(time).format('HH:mm');
                that.type = 'Normal';

                if(doctor){
                    that.currentDoctor = doctor;
                }
            },
            selectExtraDate(date){
                store.log("TraBookingDialog::selectExtraDate()");

                this.type = 'Extra';
                this.extraDate = date;

                setTimeout(function(){
                    $("#extraHour_" + moment(date).format('YYYYMMDD')).focus();
                }, 200);
            },
            loadResumeHours(){
                store.log("TraBookingDialog::loadResumeHours()");

                let that = this;
                let date = that.currentDate;
                let doctor_id = (that.currentDoctor) ? that.currentDoctor.id : null;
                let branch_id = (that.currentBranch) ? that.currentBranch.id : null;
                that.freehours = [];

                if(date && date != ''){
                    let beginDate = moment(date).startOf('isoweek').format("YYYY-MM-DD");
                    let endDate = moment(date).endOf('isoweek').format("YYYY-MM-DD");

                    if(doctor_id && branch_id){

                        let query = 'doctor_id=' + doctor_id;
                        query += '&branch_id=' + branch_id;
                        query += '&begin_date=' + beginDate;
                        query += '&end_date=' + endDate;

                        that.loading = true;
                        Vue.http.get('/api/doctors/resumehoursbetween?' + query)
                            .then((response) => {
                                var rs = response.body;
                                that.loading = false;

                                if(rs.success){
                                    that.freehours = rs.data;

                                    setTimeout(function(){
                                        $('.timeInput').mask('00:00');
                                    }, 300);
                                }else{
                                    alert(rs.message);
                                }
                            }, (response) => {
                                alert("Algo salio mal, por favor intente nuevamente!");
                            }
                        );
                    }
                }
            },
            registerBooking(){
                store.log("TraBookingDialog::registerBooking()");

                let that = this;
                let patient_id = that.patient.id;
                that.goNextStep();

                let patientData = {
                    healthcompany_id: that.currentHealthCompany.id,
                    rut:            that.patient.rut,
                    firstname:      that.patient.firstname,
                    lastname:       that.patient.lastname,
                    email:          that.patient.email || '',
                    phone:          that.patient.phone || '',
                    address:        that.patient.address || '',
                    birthdate:      moment(that.patient.birthdate, "DD/MM/YYYY").format("YYYY-MM-DD"),
                    age:            moment().diff(moment(that.patient.birthdate, "DD/MM/YYYY"), 'years'),
                    password:       that.password
                };

                let bookingDate = that.bookingDate;

                let bookingData = {
                    healthcompany_id:   that.currentHealthCompany.id,
                    attentiontype_id:   that.currentAttentionType.id,
                    branch_id:          that.currentBranch.id,
                    doctor_id:          that.currentDoctor.id,
                    patient_id:         patient_id,
                    bookingdate:        bookingDate.format("YYYY-MM-DD HH:mm:00"),
                    observations:       that.observations,
                    type:               that.type,
                    password:           that.password
                };

                let bookingSuccess = function(rs){
                    if(rs.success){
                        that.booking = rs.data;
                    }else{
                        that.showAlert(rs.message, 'warning');
                        that.goPreviousStep();
                    }
                };
                let failback = function(response){
                    that.showAlert("Algo salio mal, por favor intente nuevamente!", 'danger');
                    that.goPreviousStep();
                };

                let patientSuccess = function(rs){
                    if(rs.success){
                        that.patient = rs.data;
                        that.patient.birthdate = moment(that.patient.birthdate, "YYYY-MM-DD").format("DD/MM/YYYY");
                        bookingData.patient_id = that.patient.id;

                        bookingModel.store(bookingData, bookingSuccess, failback);
                    }else{
                        that.showAlert(rs.message, 'warning');
                        that.goPreviousStep();
                    }
                };

                if(!patient_id){
                    patientModel.store(patientData, patientSuccess, failback);
                }else{
                    patientModel.update(patient_id, patientData, patientSuccess, failback);
                }
            },


            // Utils
                moment(date){

                    return moment(date);
                },
                validateRut: function (rutCompleto) {
                    if (!/^[0-9]+-[0-9kK]{1}$/.test( rutCompleto ))
                        return false;
                    var tmp     = rutCompleto.split('-');
                    var digv    = tmp[1];
                    var rut     = tmp[0];
                    if ( digv == 'K' ) digv = 'k' ;
                    return (this.dv(rut) == digv );
                },
                dv: function(T){
                    var M=0,S=1;
                    for(;T;T=Math.floor(T/10))
                        S=(S+T%10*(9-M++%6))%11;
                    return S?S-1:'k';
                },
                inArray: function(needle, haystack) {
                    var length = haystack.length;
                    for(var i = 0; i < length; i++) {
                        if(haystack[i] == needle) return true;
                    }
                    return false;
                },
                showAlert(message, type){
                    let that = this;

                    that.alert.message = message;
                    that.alert.type = type;

                    setTimeout(function(){
                        that.alert.message = '';
                    }, 5000);
                },

        },
        computed: {
            bookingDate(){
                return (this.type == 'Normal') ?
                    this.currentDatetime :
                    this.currentExtraDatetime;

                return null;
            },
            currentDatetime(){
                if(!this.currentDate || this.currentDate == '' || !this.currentTime || this.currentTime == '')
                    return null;

                return moment(this.currentDate + ' ' + this.currentTime + ':00');
            },
            currentExtraDatetime(){
                if(!this.extraDate || this.extraDate == '' || !this.extraHour || this.extraHour.length != 5)
                    return null;

                return moment(this.extraDate + ' ' + this.extraHour + ':00');
            },
            checkBookingDateStep(){
                let bookingInfo = (this.currentBranch != null && this.currentDoctor != null);
                let timeInfo = (this.type == 'Normal' ? (this.currentDatetime != null) : (this.currentExtraDatetime != null));

                return (bookingInfo === true && timeInfo === true);
            },
            checkDataForRegister(){
                let otherInfo = (this.currentHealthCompany != null && this.currentAttentionType != null && this.password != '');

                return (this.checkBookingDateStep === true && otherInfo === true);
            },
        },
        watch: {
            currentDate: function(){
                let currentDate = moment(this.currentDate).format('YYYY-MM-DD');
                let calendarDate = moment($("#bookingTraCalendar").datepicker('getDate')).format('YYYY-MM-DD');

                if(currentDate != calendarDate){
                    $("#bookingTraCalendar").datepicker('update', currentDate);
                }
            }
        },
        props: []
    }
</script>
