<template>
    <div class="modal fade" tabindex="-1" role="dialog" id="newTraRecordDialog" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        Nueva Ficha Médica
                    </h4>
                </div>
                <div class="modal-body">
                    <alert v-if="alert.message" :message="alert.message" :type="alert.type"></alert>

                    <patientdata
                        :parentPatient="patient"
                        :parentHealthCompany="currentHealthCompany"
                        :parentAttentionType="0"
                        :parentObservations="0"
                        :parentAlert="alert"
                        type="CREATE"
                    ></patientdata>

                    <hr>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="control-group">
                                <label class="control-label">Fecha/Hora de Atención:</label>
                                <input type="text" class="form-control" v-model="attentiondate" id="attentionDateInput" placeholder="DD/MM/AAAA HH:MM">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="control-group">
                                <label class="control-label">Sucursal:</label>
                                <select class="form-control" v-model="currentBranch" :disabled="shared.branches.length == 0">
                                    <option :value="null" v-if="shared.branches.length == 0">cargando sucursales...</option>
                                    <option :value="null" v-if="shared.branches.length > 0">-seleccione-</option>
                                    <option v-for="branch in shared.branches" :value="branch">{{ branch.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button @click="registerRecord()" :disabled="!checkDataForRegister || saving" type="button" class="btn btn-primary">
                        {{ saving ? 'Registrando...' : 'Registrar Ficha Médica' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        mounted(){
            this.openDialog();
            this.loadEventListeners();

            $('#attentionDateInput').mask('00/00/0000 00:00');
        },
        data(){
            return {
                alert: {
                    message: null,
                    type: 'info'
                },
                shared: store.data,
                loading: false,
                saving: false,
                patient: {
                    status: 'Pendiente',

                    id: null,
                    rut: '',
                    firstname: null,
                    lastname: null,
                    phone: null,
                    email: null,
                    birthdate: null,
                    address: null,
                },
                currentBranch: null,
                currentHealthCompany: null,
                attentiondate: moment().format('DD/MM/YYYY HH:mm'),
                record: null
            };
        },
        methods: {
            openDialog(){
                store.log("TraRecordDialog::openDialog()");
                let that = this;

                $("#newTraRecordDialog")
                    .modal('show')
                    .on('hidden.bs.modal', function(){
                        that.closeDialog();
                    });
            },
            closeDialog(){
                store.log("TraRecordDialog::closeDialog()");
                this.$parent.showTraRecordDialog = false;
            },
            loadEventListeners(){
                let that = this;

                bus.$on('patientData-patient-changed', function(patient){
                    that.patient = patient;
                });

                bus.$on('patientData-alert-changed', function(alert){
                    that.alert = alert;
                });

                bus.$on('patientData-healthcompany-changed', function(healthcompany){
                    that.currentHealthCompany = healthcompany;
                });
            },
            registerRecord(){
                store.log("TraRecordDialog::registerRecord()");

                let that = this;
                let patient_id = that.patient.id;

                that.saving = true;

                let patientData = {
                    healthcompany_id: that.currentHealthCompany.id,
                    rut:            that.patient.rut,
                    firstname:      that.patient.firstname,
                    lastname:       that.patient.lastname,
                    email:          that.patient.email || '',
                    phone:          that.patient.phone || '',
                    address:        that.patient.address || '',
                    birthdate:      moment(that.patient.birthdate, "DD/MM/YYYY").format("YYYY-MM-DD"),
                    age:            moment().diff(moment(that.patient.birthdate, "DD/MM/YYYY"), 'years')
                };

                let attentionDate = that.attentiondate;

                let recordData = {
                    branch_id:          that.currentBranch.id,
                    patient_id:         patient_id,
                    attentiondate:      moment(attentionDate, "DD/MM/YYYY HH:mm").format("YYYY-MM-DD HH:mm:00")
                };

                let recordSuccess = function(rs){
                    if(rs.success){
                        that.record = rs.data;

                        window.location = '/traumatologo/records/' + that.record.id + '/edit';
                    }else{
                        that.showAlert(rs.message, 'warning');
                        that.saving = false;
                    }
                };
                let failback = function(response){
                    that.showAlert("Algo salio mal, por favor intente nuevamente!", 'danger');
                    that.saving = false;
                };

                let patientSuccess = function(rs){
                    if(rs.success){
                        that.patient = rs.data;
                        that.patient.birthdate = moment(that.patient.birthdate, "YYYY-MM-DD").format("DD/MM/YYYY");
                        recordData.patient_id = that.patient.id;

                        recordModel.store(recordData, recordSuccess, failback);
                    }else{
                        that.showAlert(rs.message, 'warning');
                        that.saving = false;
                    }
                };

                if(!patient_id){
                    patientModel.store(patientData, patientSuccess, failback);
                }else{
                    patientModel.update(patient_id, patientData, patientSuccess, failback);
                }
            },

            // Utils
                moment(date){

                    return moment(date);
                },
                validateRut: function (rutCompleto) {
                    if (!/^[0-9]+-[0-9kK]{1}$/.test( rutCompleto ))
                        return false;
                    var tmp     = rutCompleto.split('-');
                    var digv    = tmp[1];
                    var rut     = tmp[0];
                    if ( digv == 'K' ) digv = 'k' ;
                    return (this.dv(rut) == digv );
                },
                dv: function(T){
                    var M=0,S=1;
                    for(;T;T=Math.floor(T/10))
                        S=(S+T%10*(9-M++%6))%11;
                    return S?S-1:'k';
                },
                inArray: function(needle, haystack) {
                    var length = haystack.length;
                    for(var i = 0; i < length; i++) {
                        if(haystack[i] == needle) return true;
                    }
                    return false;
                },
                showAlert(message, type){
                    let that = this;

                    that.alert.message = message;
                    that.alert.type = type;

                    setTimeout(function(){
                        that.alert.message = '';
                    }, 5000);
                },

        },
        computed: {
            checkDataForRegister(){
                if(this.patient.status == 'Pendiente') return false;
                if(utils.isEmpty(this.patient.id) && utils.isEmpty(this.patient.rut)) return false;
                if(utils.isEmpty(this.patient.firstname) || utils.isEmpty(this.patient.lastname) || utils.isEmpty(this.patient.birthdate)) return false;
                if(utils.isEmpty(this.currentHealthCompany) || utils.isEmpty(this.currentBranch)) return false;
                if(utils.isEmpty(this.attentiondate)) return false;

                return true;
            }
        },
        props: []
    }
</script>
