@import "public/css/bootstrap/bootstrap.min";
@import "public/css/libs/font-awesome";
@import "public/css/libs/nanoscroller";
@import "public/css/compiled/theme_styles";
@import "public/css/open-sans";
@import "node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker";

.modal{
	background: rgba(0,0,0,0.5);
}
.modal-xlg{
	width: 98% !important;
}
.btn-default:disabled,
.btn-default:disabled:hover{
	color: #888;
	border: solid 1px #888;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
.datepicker-inline, .datepicker-inline table{
	width: 100%;
}

.topbordered{
  border-top: solid 2px #000;
}

.topTools a{
  padding: 5px !important;
  width: 50px !important;
}
.topTools a img{
  width: 100% !important;
}


input.numberWithoutStep{
  padding: 0;
}
input.numberWithoutStep::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button;
  display: inline-block;
  cursor: default;
  flex: 0 0 auto;
  align-self: stretch;
  -webkit-user-select: none;
  opacity: 0;
  pointer-events: none;
  -webkit-user-modify: read-only;
}

.input-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn, .form-group-lg .form-control{
  font-size: 20px !important;
}

.cursorHand{
  cursor: pointer !important;
}


.table-small{
  font-size: 10px;
  input, select{
    font-size: 10px;
    padding: 6px;
  }
}
.control-group{
  margin-bottom: 12px;
}
.panel-title{
  padding: 10px 0;
  text-decoration: none;
  border: none;
  color: #fff;
  font-weight: 400;
}
@media (min-width: 768px){
  .modal-dialog {
    margin: 10px auto;
  }
}
