body{
	background-color: #ECEFF6;
}
header{
	background-color: #3b5998;
	padding: 10px 0;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
}
header img{
	height: 24px;
}

.container{
	max-width: 500px;
}

.email, .password{
	-webkit-appearance: none;
    box-sizing: border-box;
    padding: 12px;
    line-height: 20px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}
.email{
	border-bottom-color: rgba(0, 0, 0, .101);
	border-radius: 4px 4px 0 0;
}
.password{
	border-top: none;
	border-radius: 0 0 4px 4px;
	margin-bottom: 10px;
}
#btnSubmit{
	text-shadow: 0 -1px rgba(0, 0, 0, .25);
	border: none;
    border-radius: 3px;
    box-sizing: border-box;
    font-weight: bold;
    position: relative;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    -webkit-appearance: none;
    background-color: #627aad;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1));
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    font-family: sans-serif;
    color: #fff;
}

._43mg {
    display: block;
    margin-bottom: -7px;
    margin-left: 5%;
    margin-top: 15px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    width: 90%;
}
._43mg>span {
    display: inline-block;
    position: relative;
}
._43mh {
    color: #4b4f56;
}
._43mg>span:before, ._43mg>span:after {
    background: #ced0d4;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: 9999px;
}
._43mg>span:before {
    margin-right: 15px;
    right: 100%;
}

.btnRegister{
	border: solid 1px;
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: bold;
    min-width: 50px;
    padding: 3px 8px 3px;
	background: linear-gradient(#75ab4b, #4a8532);
    border-color: #68954c #427329 #386a24;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .22), 0 1px 0 rgba(0, 0, 0, .08);
	font-size: 14px;
	line-height: 27px;
	color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .35);
	height: 38px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    margin: 20px auto 10px;
}
.btnRegister:hover{
	color: #fff;
}
.mute-link{
	color: #90949c;
	font-size: 12px;
}
.langs{
	font-size: 12px;
}
.copy{
	text-align: center;
	font-size: 12px;
}


