header{
	background-color: #3b5998;
	padding: 15px 0;
	color: #fff;
}
#loginForm .control-label{
	font-size: 12px;
	display: block;
	font-weight: normal;
	cursor: pointer;
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	padding: 2px 0;
}
#loginForm .form-control{
	border-radius: 0;
	border: 1px solid #bdc7d8;
    border-color: #1d2a5b;
    width: 162px;
    padding-bottom: 4px;
    padding: 3px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: auto;
}
#btnSubmit{
	padding: 5px 10px;
	margin-top: 10px;
	border-radius: 0;
	background-color: #4267b2 !important;
    border-color: #29487d; 
	color: #fff;
	cursor: pointer;
	font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
}


.main{
	background: url(gradient.png) 0 bottom repeat-x;
    background: linear-gradient(white, #D3D8E8);
}
.main .contentDiv{
	padding: 0 0 20px 0;
}
.main .contentDiv p{
	color: #0e385f;
    font-size: 20px;
    font-weight: bold;
    line-height: 29px;
    margin-top: 40px;
    width: 450px;
    word-spacing: -1px;
}
.formDiv .control-group{
	margin-bottom: 10px;
}
.formDiv .col-sm-6:nth-child(2){
	padding-left: 0;
}

.formDiv .form-control{
	font-size: 18px;
    padding: 20px 10px !important;
}
.birthday{
	font-size: 18px;
}
.why{
	font-size: 13px;
	display: block;
	margin-top: 10px;
}
.sex{
	font-size: 18px;
	margin-right: 10px;
	font-weight: 400;
}
.btnOpen{
	border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
	background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
	font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    text-rendering: optimizelegibility;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
}
.terms{
	font-size: 11px;
	font-family: San Francisco, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}


footer{
	padding: 10px 0;
}
footer .links a{
	display: inline-block;
	width: 15%;
}





